Repository joshsmithxrm/ppds-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: PPDS.Plugins, PPDS.Auth, PPDS.Dataverse, PPDS.Migration, PPDS.Cli

feat!: CLI cleanup - output format standardization and command restructuring
  .gitignore
  src/PPDS.Cli/CHANGELOG.md
  src/PPDS.Cli/Commands/Auth/AuthCommandGroup.cs
  src/PPDS.Cli/Commands/Data/CopyCommand.cs
  src/PPDS.Cli/Commands/Data/DataCommandGroup.cs
  src/PPDS.Cli/Commands/Data/ExportCommand.cs
  src/PPDS.Cli/Commands/Data/ImportCommand.cs
  src/PPDS.Cli/Commands/Data/SchemaCommand.cs
  src/PPDS.Cli/Commands/Data/UsersCommand.cs
  src/PPDS.Cli/Commands/Env/EnvCommandGroup.cs
  src/PPDS.Cli/Commands/Plugins/CleanCommand.cs
  src/PPDS.Cli/Commands/Plugins/DeployCommand.cs
  src/PPDS.Cli/Commands/Plugins/DiffCommand.cs
  src/PPDS.Cli/Commands/Plugins/ExtractCommand.cs
  src/PPDS.Cli/Commands/Plugins/ListCommand.cs
  src/PPDS.Cli/Commands/Plugins/PluginsCommandGroup.cs
  src/PPDS.Cli/Commands/SchemaCommand.cs
  src/PPDS.Cli/Infrastructure/ServiceFactory.cs
  src/PPDS.Cli/Program.cs
  src/PPDS.Cli/README.md
  src/PPDS.Dataverse/BulkOperations/BulkOperationExecutor.cs
  src/PPDS.Dataverse/CHANGELOG.md
  src/PPDS.Dataverse/PPDS.Dataverse.csproj
  tests/PPDS.Cli.Tests/Commands/CopyCommandTests.cs
  tests/PPDS.Cli.Tests/Commands/ExportCommandTests.cs
  tests/PPDS.Cli.Tests/Commands/ImportCommandTests.cs
  tests/PPDS.Cli.Tests/Commands/Plugins/CleanCommandTests.cs
  tests/PPDS.Cli.Tests/Commands/Plugins/DeployCommandTests.cs
  tests/PPDS.Cli.Tests/Commands/Plugins/DiffCommandTests.cs
  tests/PPDS.Cli.Tests/Commands/Plugins/ExtractCommandTests.cs
  tests/PPDS.Cli.Tests/Commands/Plugins/ListCommandTests.cs
  tests/PPDS.Cli.Tests/Commands/Plugins/PluginsCommandGroupTests.cs
Due: PPDS.Dataverse, PPDS.Cli

feat: add authentication integration tests (Phase 2)
  .github/workflows/integration-tests.yml
  src/PPDS.Auth/CHANGELOG.md
  tests/PPDS.LiveTests/Authentication/CertificateAuthenticationTests.cs
  tests/PPDS.LiveTests/Authentication/ClientSecretAuthenticationTests.cs
  tests/PPDS.LiveTests/Authentication/GitHubFederatedAuthenticationTests.cs
  tests/PPDS.LiveTests/Authentication/MANUAL_TESTING.md
  tests/PPDS.LiveTests/Infrastructure/LiveTestConfiguration.cs
  tests/PPDS.LiveTests/Infrastructure/SkipIfNoCredentialsAttribute.cs
Due: PPDS.Auth

docs: add missing packages to root changelog index
  CHANGELOG.md
Due: none

feat: add /test-cli slash command for CLI smoke testing
  .claude/commands/test-cli.md
  .claude/settings.local.example.json
Due: none

fix: address bot review findings
  tests/PPDS.LiveTests/Authentication/CertificateAuthenticationTests.cs
  tests/PPDS.LiveTests/Authentication/ClientSecretAuthenticationTests.cs
  tests/PPDS.LiveTests/Authentication/GitHubFederatedAuthenticationTests.cs
  tests/PPDS.LiveTests/Infrastructure/LiveTestConfiguration.cs
Due: none

fix: update /test-cli to run commands individually
  .claude/commands/test-cli.md
  .claude/settings.local.example.json
Due: none

docs: improve review-bot-comments to handle duplicates
  .claude/commands/review-bot-comments.md
Due: none

feat: add authentication integration tests (Phase 2) (#87)
  .claude/commands/review-bot-comments.md
  .github/workflows/integration-tests.yml
  src/PPDS.Auth/CHANGELOG.md
  tests/PPDS.LiveTests/Authentication/CertificateAuthenticationTests.cs
  tests/PPDS.LiveTests/Authentication/ClientSecretAuthenticationTests.cs
  tests/PPDS.LiveTests/Authentication/GitHubFederatedAuthenticationTests.cs
  tests/PPDS.LiveTests/Authentication/MANUAL_TESTING.md
  tests/PPDS.LiveTests/Infrastructure/LiveTestConfiguration.cs
  tests/PPDS.LiveTests/Infrastructure/SkipIfNoCredentialsAttribute.cs
Due: PPDS.Auth

fix: address bot review comments
  src/PPDS.Cli/Commands/Data/SchemaCommand.cs
  tests/PPDS.Cli.Tests/Commands/CopyCommandTests.cs
  tests/PPDS.Cli.Tests/Commands/ExportCommandTests.cs
  tests/PPDS.Cli.Tests/Commands/ImportCommandTests.cs
  tests/PPDS.Cli.Tests/Commands/Plugins/CleanCommandTests.cs
  tests/PPDS.Cli.Tests/Commands/Plugins/DeployCommandTests.cs
  tests/PPDS.Cli.Tests/Commands/Plugins/DiffCommandTests.cs
  tests/PPDS.Cli.Tests/Commands/Plugins/ExtractCommandTests.cs
  tests/PPDS.Cli.Tests/Commands/Plugins/ListCommandTests.cs
Due: PPDS.Cli

feat!: CLI cleanup - output format standardization and command restructuring (#95)
  .claude/commands/test-cli.md
  .claude/settings.local.example.json
  .gitignore
  CHANGELOG.md
  src/PPDS.Cli/CHANGELOG.md
  src/PPDS.Cli/Commands/Auth/AuthCommandGroup.cs
  src/PPDS.Cli/Commands/Data/CopyCommand.cs
  src/PPDS.Cli/Commands/Data/DataCommandGroup.cs
  src/PPDS.Cli/Commands/Data/ExportCommand.cs
  src/PPDS.Cli/Commands/Data/ImportCommand.cs
  src/PPDS.Cli/Commands/Data/SchemaCommand.cs
  src/PPDS.Cli/Commands/Data/UsersCommand.cs
  src/PPDS.Cli/Commands/Env/EnvCommandGroup.cs
  src/PPDS.Cli/Commands/Plugins/CleanCommand.cs
  src/PPDS.Cli/Commands/Plugins/DeployCommand.cs
  src/PPDS.Cli/Commands/Plugins/DiffCommand.cs
  src/PPDS.Cli/Commands/Plugins/ExtractCommand.cs
  src/PPDS.Cli/Commands/Plugins/ListCommand.cs
  src/PPDS.Cli/Commands/Plugins/PluginsCommandGroup.cs
  src/PPDS.Cli/Commands/SchemaCommand.cs
  src/PPDS.Cli/Infrastructure/ServiceFactory.cs
  src/PPDS.Cli/Program.cs
  src/PPDS.Cli/README.md
  src/PPDS.Dataverse/BulkOperations/BulkOperationExecutor.cs
  src/PPDS.Dataverse/CHANGELOG.md
  src/PPDS.Dataverse/PPDS.Dataverse.csproj
  tests/PPDS.Cli.Tests/Commands/CopyCommandTests.cs
  tests/PPDS.Cli.Tests/Commands/ExportCommandTests.cs
  tests/PPDS.Cli.Tests/Commands/ImportCommandTests.cs
  tests/PPDS.Cli.Tests/Commands/Plugins/CleanCommandTests.cs
  tests/PPDS.Cli.Tests/Commands/Plugins/DeployCommandTests.cs
  tests/PPDS.Cli.Tests/Commands/Plugins/DiffCommandTests.cs
  tests/PPDS.Cli.Tests/Commands/Plugins/ExtractCommandTests.cs
  tests/PPDS.Cli.Tests/Commands/Plugins/ListCommandTests.cs
  tests/PPDS.Cli.Tests/Commands/Plugins/PluginsCommandGroupTests.cs
Due: PPDS.Dataverse, PPDS.Cli

fix: use ConnectionOptions constructor for ServiceClient org metadata discovery
  src/PPDS.Auth/CHANGELOG.md
  src/PPDS.Auth/Credentials/AzureDevOpsFederatedCredentialProvider.cs
  src/PPDS.Auth/Credentials/DeviceCodeCredentialProvider.cs
  src/PPDS.Auth/Credentials/GitHubFederatedCredentialProvider.cs
  src/PPDS.Auth/Credentials/InteractiveBrowserCredentialProvider.cs
  src/PPDS.Auth/Credentials/ManagedIdentityCredentialProvider.cs
Due: PPDS.Auth

fix: enable token refresh in credential providers
  src/PPDS.Auth/Credentials/AzureDevOpsFederatedCredentialProvider.cs
  src/PPDS.Auth/Credentials/DeviceCodeCredentialProvider.cs
  src/PPDS.Auth/Credentials/GitHubFederatedCredentialProvider.cs
  src/PPDS.Auth/Credentials/InteractiveBrowserCredentialProvider.cs
  src/PPDS.Auth/Credentials/ManagedIdentityCredentialProvider.cs
Due: PPDS.Auth

fix: use ConnectionOptions constructor for ServiceClient org metadata discovery (#96)
  src/PPDS.Auth/CHANGELOG.md
  src/PPDS.Auth/Credentials/AzureDevOpsFederatedCredentialProvider.cs
  src/PPDS.Auth/Credentials/DeviceCodeCredentialProvider.cs
  src/PPDS.Auth/Credentials/GitHubFederatedCredentialProvider.cs
  src/PPDS.Auth/Credentials/InteractiveBrowserCredentialProvider.cs
  src/PPDS.Auth/Credentials/ManagedIdentityCredentialProvider.cs
Due: PPDS.Auth

fix: address bot review findings
  tests/PPDS.Dataverse.IntegrationTests/BulkOperations/CreateMultipleTests.cs
  tests/PPDS.Dataverse.IntegrationTests/BulkOperations/DeleteMultipleTests.cs
  tests/PPDS.Dataverse.IntegrationTests/BulkOperations/PartialSuccessTests.cs
  tests/PPDS.Dataverse.IntegrationTests/BulkOperations/UpdateMultipleTests.cs
  tests/PPDS.Dataverse.IntegrationTests/BulkOperations/UpsertMultipleTests.cs
  tests/PPDS.Dataverse.IntegrationTests/Client/DataverseClientCrudTests.cs
  tests/PPDS.Dataverse.IntegrationTests/Mocks/FakeConnectionPool.cs
Due: none

feat: add FakeXrmEasy mocked tests for BulkOperationExecutor (Phase 3) (#97)
  .claude/commands/review-bot-comments.md
  tests/PPDS.Dataverse.IntegrationTests/BulkOperations/BatchingBehaviorTests.cs
  tests/PPDS.Dataverse.IntegrationTests/BulkOperations/BulkOperationExecutorTestsBase.cs
  tests/PPDS.Dataverse.IntegrationTests/BulkOperations/CreateMultipleTests.cs
  tests/PPDS.Dataverse.IntegrationTests/BulkOperations/DeleteMultipleTests.cs
  tests/PPDS.Dataverse.IntegrationTests/BulkOperations/ElasticTableTests.cs
  tests/PPDS.Dataverse.IntegrationTests/BulkOperations/PartialSuccessTests.cs
  tests/PPDS.Dataverse.IntegrationTests/BulkOperations/UpdateMultipleTests.cs
  tests/PPDS.Dataverse.IntegrationTests/BulkOperations/UpsertMultipleTests.cs
  tests/PPDS.Dataverse.IntegrationTests/Client/DataverseClientCrudTests.cs
  tests/PPDS.Dataverse.IntegrationTests/FakeMessageExecutors/CreateMultipleRequestExecutor.cs
  tests/PPDS.Dataverse.IntegrationTests/FakeMessageExecutors/DeleteMultipleRequestExecutor.cs
  tests/PPDS.Dataverse.IntegrationTests/FakeMessageExecutors/UpdateMultipleRequestExecutor.cs
  tests/PPDS.Dataverse.IntegrationTests/FakeMessageExecutors/UpsertMultipleRequestExecutor.cs
  tests/PPDS.Dataverse.IntegrationTests/FakeXrmEasyTestsBase.cs
  tests/PPDS.Dataverse.IntegrationTests/Mocks/FakeConnectionPool.cs
  tests/PPDS.Dataverse.IntegrationTests/Mocks/FakePooledClient.cs
  tests/PPDS.Dataverse.IntegrationTests/Mocks/FakeThrottleTracker.cs
  tests/PPDS.Dataverse.IntegrationTests/PPDS.Dataverse.IntegrationTests.csproj
Due: none

fix: force eager org metadata discovery before clone
  src/PPDS.Auth/CHANGELOG.md
  src/PPDS.Auth/Credentials/AzureDevOpsFederatedCredentialProvider.cs
  src/PPDS.Auth/Credentials/DeviceCodeCredentialProvider.cs
  src/PPDS.Auth/Credentials/GitHubFederatedCredentialProvider.cs
  src/PPDS.Auth/Credentials/InteractiveBrowserCredentialProvider.cs
  src/PPDS.Auth/Credentials/ManagedIdentityCredentialProvider.cs
Due: PPDS.Auth

fix: add SkipDiscovery and multi-layer environment resolution
  src/PPDS.Auth/CHANGELOG.md
  src/PPDS.Auth/Credentials/AzureDevOpsFederatedCredentialProvider.cs
  src/PPDS.Auth/Credentials/DeviceCodeCredentialProvider.cs
  src/PPDS.Auth/Credentials/GitHubFederatedCredentialProvider.cs
  src/PPDS.Auth/Credentials/InteractiveBrowserCredentialProvider.cs
  src/PPDS.Auth/Credentials/ManagedIdentityCredentialProvider.cs
  src/PPDS.Auth/Discovery/EnvironmentResolutionService.cs
  src/PPDS.Cli/CHANGELOG.md
  src/PPDS.Cli/Commands/Auth/AuthCommandGroup.cs
  src/PPDS.Cli/Commands/Env/EnvCommandGroup.cs
Due: PPDS.Auth, PPDS.Cli

fix: remove inappropriate external code reference from comments
  src/PPDS.Auth/Credentials/AzureDevOpsFederatedCredentialProvider.cs
  src/PPDS.Auth/Credentials/DeviceCodeCredentialProvider.cs
  src/PPDS.Auth/Credentials/GitHubFederatedCredentialProvider.cs
  src/PPDS.Auth/Credentials/InteractiveBrowserCredentialProvider.cs
  src/PPDS.Auth/Credentials/ManagedIdentityCredentialProvider.cs
Due: PPDS.Auth

refactor: remove unnecessary SkipDiscovery setting
  src/PPDS.Auth/CHANGELOG.md
  src/PPDS.Auth/Credentials/AzureDevOpsFederatedCredentialProvider.cs
  src/PPDS.Auth/Credentials/DeviceCodeCredentialProvider.cs
  src/PPDS.Auth/Credentials/GitHubFederatedCredentialProvider.cs
  src/PPDS.Auth/Credentials/InteractiveBrowserCredentialProvider.cs
  src/PPDS.Auth/Credentials/ManagedIdentityCredentialProvider.cs
Due: PPDS.Auth

feat: add Phase 4 live Dataverse tests and complete Phase 2/3 gaps (#55)
  tests/PPDS.Dataverse.IntegrationTests/Actions/CustomActionTests.cs
  tests/PPDS.Dataverse.IntegrationTests/Query/AggregateQueryTests.cs
  tests/PPDS.Dataverse.IntegrationTests/Query/QueryExecutionTests.cs
  tests/PPDS.LiveTests/Authentication/AzureDevOpsFederatedAuthenticationTests.cs
  tests/PPDS.LiveTests/BulkOperations/BulkOperationLiveTests.cs
  tests/PPDS.LiveTests/Infrastructure/LiveTestConfiguration.cs
  tests/PPDS.LiveTests/Infrastructure/LiveTestHelpers.cs
  tests/PPDS.LiveTests/Infrastructure/SkipIfNoCredentialsAttribute.cs
  tests/PPDS.LiveTests/PPDS.LiveTests.csproj
  tests/PPDS.LiveTests/Pooling/ConnectionPoolLiveTests.cs
  tests/PPDS.LiveTests/Pooling/DopLiveTests.cs
  tests/PPDS.LiveTests/Resilience/ThrottleDetectionLiveTests.cs
Due: none

fix: address bot review comments - unused variables, async dispose, comments
  tests/PPDS.Dataverse.IntegrationTests/Actions/CustomActionTests.cs
  tests/PPDS.LiveTests/BulkOperations/BulkOperationLiveTests.cs
  tests/PPDS.LiveTests/Pooling/ConnectionPoolLiveTests.cs
  tests/PPDS.LiveTests/Pooling/DopLiveTests.cs
  tests/PPDS.LiveTests/Resilience/ThrottleDetectionLiveTests.cs
Due: none

docs: improve comments explaining eager property access pattern
  src/PPDS.Auth/Credentials/AzureDevOpsFederatedCredentialProvider.cs
  src/PPDS.Auth/Credentials/DeviceCodeCredentialProvider.cs
  src/PPDS.Auth/Credentials/GitHubFederatedCredentialProvider.cs
  src/PPDS.Auth/Credentials/InteractiveBrowserCredentialProvider.cs
  src/PPDS.Auth/Credentials/ManagedIdentityCredentialProvider.cs
Due: PPDS.Auth

fix: defensive improvements to auth create validation
  src/PPDS.Auth/CHANGELOG.md
  src/PPDS.Auth/Credentials/AzureDevOpsFederatedCredentialProvider.cs
  src/PPDS.Auth/Credentials/CertificateFileCredentialProvider.cs
  src/PPDS.Auth/Credentials/CertificateStoreCredentialProvider.cs
  src/PPDS.Auth/Credentials/ClientSecretCredentialProvider.cs
  src/PPDS.Auth/Credentials/DeviceCodeCredentialProvider.cs
  src/PPDS.Auth/Credentials/GitHubFederatedCredentialProvider.cs
  src/PPDS.Auth/Credentials/InteractiveBrowserCredentialProvider.cs
  src/PPDS.Auth/Credentials/ManagedIdentityCredentialProvider.cs
  src/PPDS.Auth/Credentials/TokenCacheManager.cs
  src/PPDS.Auth/Discovery/EnvironmentResolutionService.cs
  src/PPDS.Auth/Profiles/AuthProfile.cs
  src/PPDS.Cli/CHANGELOG.md
  src/PPDS.Cli/Commands/Auth/AuthCommandGroup.cs
  src/PPDS.Cli/Commands/Env/EnvCommandGroup.cs
Due: PPDS.Auth, PPDS.Cli

fix: address bot review comments
  src/PPDS.Auth/Credentials/AzureDevOpsFederatedCredentialProvider.cs
  src/PPDS.Auth/Credentials/GitHubFederatedCredentialProvider.cs
  src/PPDS.Auth/Credentials/ManagedIdentityCredentialProvider.cs
Due: PPDS.Auth

feat: add local test environment setup
  .env.example
  .gitignore
  CLAUDE.md
  scripts/Load-TestEnv.ps1
Due: none

fix: environment resolution and auth validation improvements (#103)
  src/PPDS.Auth/CHANGELOG.md
  src/PPDS.Auth/Credentials/AzureDevOpsFederatedCredentialProvider.cs
  src/PPDS.Auth/Credentials/CertificateFileCredentialProvider.cs
  src/PPDS.Auth/Credentials/CertificateStoreCredentialProvider.cs
  src/PPDS.Auth/Credentials/ClientSecretCredentialProvider.cs
  src/PPDS.Auth/Credentials/DeviceCodeCredentialProvider.cs
  src/PPDS.Auth/Credentials/GitHubFederatedCredentialProvider.cs
  src/PPDS.Auth/Credentials/InteractiveBrowserCredentialProvider.cs
  src/PPDS.Auth/Credentials/ManagedIdentityCredentialProvider.cs
  src/PPDS.Auth/Credentials/TokenCacheManager.cs
  src/PPDS.Auth/Discovery/EnvironmentResolutionService.cs
  src/PPDS.Auth/Profiles/AuthProfile.cs
  src/PPDS.Cli/CHANGELOG.md
  src/PPDS.Cli/Commands/Auth/AuthCommandGroup.cs
  src/PPDS.Cli/Commands/Env/EnvCommandGroup.cs
  tests/PPDS.LiveTests/Authentication/AzureDevOpsFederatedAuthenticationTests.cs
  tests/PPDS.LiveTests/Authentication/CertificateAuthenticationTests.cs
  tests/PPDS.LiveTests/Authentication/ClientSecretAuthenticationTests.cs
  tests/PPDS.LiveTests/Authentication/GitHubFederatedAuthenticationTests.cs
Due: PPDS.Auth, PPDS.Cli

docs: update CLAUDE.md testing requirements for Phase 5 prep
  CLAUDE.md
Due: none

docs: add Codecov badge and baseline coverage documentation
  README.md
  docs/COVERAGE_BASELINE.md
Due: none

docs: update COVERAGE_BASELINE.md with Phase 5 completion
  docs/COVERAGE_BASELINE.md
Due: none

docs: remove manual dates from COVERAGE_BASELINE.md
  docs/COVERAGE_BASELINE.md
Due: none

chore: remove Preview labels and PAC CLI references
  src/PPDS.Auth/Credentials/MsalClientBuilder.cs
  src/PPDS.Cli/Commands/Auth/AuthCommandGroup.cs
Due: PPDS.Auth, PPDS.Cli

fix: resolve CLI E2E test failures and add test isolation
  src/PPDS.Auth/Profiles/ProfilePaths.cs
  src/PPDS.Cli/Commands/Data/SchemaCommand.cs
  tests/PPDS.LiveTests/Cli/AuthCommandE2ETests.cs
  tests/PPDS.LiveTests/Cli/CliE2ETestBase.cs
  tests/PPDS.LiveTests/Cli/EnvCommandE2ETests.cs
Due: PPDS.Auth, PPDS.Cli

perf: run CLI E2E tests on net8.0 only to eliminate redundancy
  tests/PPDS.LiveTests/Cli/AuthCommandE2ETests.cs
  tests/PPDS.LiveTests/Cli/DataSchemaCommandE2ETests.cs
  tests/PPDS.LiveTests/Cli/EnvCommandE2ETests.cs
  tests/PPDS.LiveTests/Infrastructure/SkipIfNoCredentialsAttribute.cs
Due: none

fix: remove env list test that times out with service principal
  tests/PPDS.LiveTests/Cli/EnvCommandE2ETests.cs
Due: none

fix: fail fast when service principal tries to use Global Discovery
  src/PPDS.Auth/Discovery/EnvironmentResolutionService.cs
  src/PPDS.Auth/Discovery/GlobalDiscoveryService.cs
  tests/PPDS.Auth.Tests/Discovery/GlobalDiscoveryServiceTests.cs
  tests/PPDS.LiveTests/Cli/EnvCommandE2ETests.cs
Due: PPDS.Auth

Path conditions:
  PPDS.Plugins: any of: src/PPDS.Plugins/**, but not: tests/**, **/obj/**, **/bin/**, **/*.g.cs, **/*.Designer.cs
  PPDS.Auth: any of: src/PPDS.Auth/**, but not: tests/**, **/obj/**, **/bin/**, **/*.g.cs, **/*.Designer.cs
  PPDS.Dataverse: any of: src/PPDS.Dataverse/**, but not: tests/**, **/obj/**, **/bin/**, **/*.g.cs, **/*.Designer.cs
  PPDS.Migration: any of: src/PPDS.Migration/**, but not: tests/**, **/obj/**, **/bin/**, **/*.g.cs, **/*.Designer.cs
  PPDS.Cli: any of: src/PPDS.Cli/**, but not: tests/**, **/obj/**, **/bin/**, **/*.g.cs, **/*.Designer.cs
