Repository joshsmithxrm/ppds-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: PPDS.Plugins, PPDS.Auth, PPDS.Dataverse, PPDS.Migration, PPDS.Cli

codecov.yml:

# Codecov Configuration
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  # Overall project coverage status
  status:
    project:
      default:
        target: 60%
        threshold: 5%  # Allow 5% drop before failing
        informational: true  # Don't block PRs (visibility only for now)

    # Patch coverage - new code should be well-tested
    patch:
      default:
        target: 80%
        informational: true  # Don't block PRs (visibility only for now)

  # Per-package thresholds using component system
  # These match the targets defined in issue #55

# Component-based coverage tracking
component_management:
  default_rules:
    statuses:
      - type: project
        informational: true
      - type: patch
        informational: true

  individual_components:
    - component_id: plugins
      name: PPDS.Plugins
      paths:
        - src/PPDS.Plugins/**
      statuses:
        - type: project
          target: 95%

    - component_id: auth
      name: PPDS.Auth
      paths:
        - src/PPDS.Auth/**
      statuses:
        - type: project
          target: 70%

    - component_id: dataverse
      name: PPDS.Dataverse
      paths:
        - src/PPDS.Dataverse/**
      statuses:
        - type: project
          target: 60%

    - component_id: migration
      name: PPDS.Migration
      paths:
        - src/PPDS.Migration/**
      statuses:
        - type: project
          target: 50%

    - component_id: cli
      name: PPDS.Cli
      paths:
        - src/PPDS.Cli/**
      statuses:
        - type: project
          target: 60%

# Ignore test projects and generated files
ignore:
  - "tests/**"
  - "**/obj/**"
  - "**/bin/**"
  - "**/*.g.cs"
  - "**/*.Designer.cs"

# PR comment configuration
comment:
  layout: "header, diff, components, footer"
  behavior: default
  require_changes: true  # Only comment when coverage changes

docs(query): add Wave 1 implementation prompt for isolated session
  docs/plans/2026-02-10-query-engine-parity-prompt.md
Due: none

feat(dataverse): add child record paging boundary detection for linked entities
  src/PPDS.Dataverse/Query/Planning/Nodes/FetchXmlScanNode.cs
  tests/PPDS.Dataverse.Tests/Query/Planning/Nodes/FetchXmlScanNodePagingTests.cs
Due: PPDS.Dataverse

fix(query): ExecuteMessageNode throws NotSupportedException instead of returning stub
  src/PPDS.Query/Planning/Nodes/ExecuteMessageNode.cs
  tests/PPDS.Query.Tests/Planning/ExecuteMessageNodeTests.cs
Due: none

Fix WHERE predicate regressions and token-aware parameter substitution
  src/PPDS.Query/Planning/ExecutionPlanBuilder.cs
  src/PPDS.Query/Planning/Nodes/ExecuteMessageNode.cs
  src/PPDS.Query/Provider/PpdsDbCommand.cs
  src/PPDS.Query/Transpilation/FetchXmlGenerator.cs
  tests/PPDS.Query.Tests/Planning/ExecutionPlanBuilderTests.cs
  tests/PPDS.Query.Tests/Provider/PpdsDbCommandTests.cs
  tests/PPDS.Query.Tests/Transpilation/FetchXmlGeneratorTests.cs
Due: none

test(query): add comprehensive safety settings integration tests
  tests/PPDS.Cli.Tests/Services/Query/DmlSafetyGuardTests.cs
Due: none

feat(query): add @@ERROR and ERROR_MESSAGE() tracking to SessionContext
  src/PPDS.Query/Execution/SessionContext.cs
  src/PPDS.Query/Planning/ExecutionPlanBuilder.cs
  src/PPDS.Query/Planning/Nodes/ScriptExecutionNode.cs
  tests/PPDS.Query.Tests/Planning/SessionContextTests.cs
Due: none

feat(query): add OPTION() and comment-based query hint parser
  src/PPDS.Query/Planning/QueryHintParser.cs
  tests/PPDS.Query.Tests/Planning/QueryHintParserTests.cs
Due: none

feat(query): add BETWEEN/NOT BETWEEN client-side evaluation
  src/PPDS.Query/Execution/ExpressionCompiler.cs
  tests/PPDS.Query.Tests/Execution/ExpressionCompilerTests.cs
Due: none

feat(query): wire client-side join fallback into ExecutionPlanBuilder
  src/PPDS.Query/Planning/ExecutionPlanBuilder.cs
  tests/PPDS.Query.Tests/Planning/ExecutionPlanBuilderTests.cs
Due: none

feat(query): add IS NOT DISTINCT FROM predicate support
  src/PPDS.Query/Execution/ExpressionCompiler.cs
  tests/PPDS.Query.Tests/Execution/IsNotDistinctFromTests.cs
Due: none

feat(query): add environment protection level enforcement to DmlSafetyGuard
  src/PPDS.Auth/Profiles/QuerySafetySettings.cs
  src/PPDS.Cli/Services/Query/DmlSafetyGuard.cs
  tests/PPDS.Cli.Tests/Services/Query/DmlSafetyGuardTests.cs
Due: PPDS.Auth, PPDS.Cli

feat(query): add EXISTS and NOT EXISTS subquery support
  src/PPDS.Query/Planning/ExecutionPlanBuilder.cs
  tests/PPDS.Query.Tests/Planning/ExecutionPlanBuilderTests.cs
Due: none

feat(tui): add Escape key to cancel running queries
  src/PPDS.Cli/Tui/Screens/SqlQueryScreen.cs
Due: PPDS.Cli

feat(tui): add TDS Endpoint toggle with Ctrl+T shortcut
  src/PPDS.Cli/Tui/Screens/SqlQueryScreen.cs
Due: PPDS.Cli

docs(query): fix duplicate XML doc summary lines from review
  src/PPDS.Query/Planning/ExecutionPlanBuilder.cs
  src/PPDS.Query/Planning/Nodes/OpenJsonNode.cs
Due: none

test(query): add 2-part name regression test for cross-env detection
  tests/PPDS.Query.Tests/Planning/ExecutionPlanBuilderTests.cs
Due: none

feat(query): add OpenJsonNode for OPENJSON table-valued function
  src/PPDS.Query/Planning/Nodes/OpenJsonNode.cs
  tests/PPDS.Query.Tests/Planning/OpenJsonNodeTests.cs
Due: none

feat(query): add adaptive DML batch sizing
  src/PPDS.Dataverse/BulkOperations/AdaptiveBatchSizer.cs
  src/PPDS.Dataverse/BulkOperations/BulkOperationExecutor.cs
  tests/PPDS.Dataverse.Tests/BulkOperations/AdaptiveBatchSizerTests.cs
Due: PPDS.Dataverse

fix(query): wire CROSS JOIN and APPLY into ExecutionPlanBuilder via UnqualifiedJoin
  src/PPDS.Query/Planning/ExecutionPlanBuilder.cs
  tests/PPDS.Query.Tests/Planning/ExecutionPlanBuilderTests.cs
Due: none

fix(tui): add DarkGray background to TextInput Focus for visible cursor
  src/PPDS.Cli/Tui/Infrastructure/TuiColorPalette.cs
  tests/PPDS.Cli.Tests/Tui/Infrastructure/TuiColorPaletteTests.cs
Due: PPDS.Cli

refactor: move EnvironmentType enum from PPDS.Cli.Tui to PPDS.Auth.Profiles
  src/PPDS.Auth/Profiles/EnvironmentType.cs
  src/PPDS.Cli/Tui/Dialogs/EnvironmentDetailsDialog.cs
  src/PPDS.Cli/Tui/Infrastructure/EnvironmentType.cs
  src/PPDS.Cli/Tui/Testing/States/EnvironmentDetailsDialogState.cs
  src/PPDS.Cli/Tui/Testing/States/EnvironmentSelectorDialogState.cs
  src/PPDS.Cli/Tui/Testing/States/ProfileDetailsDialogState.cs
  src/PPDS.Cli/Tui/Testing/States/TuiStatusBarState.cs
  src/PPDS.Cli/Tui/Views/TuiStatusBar.cs
  tests/PPDS.Cli.Tests/Tui/Infrastructure/TuiColorPaletteTests.cs
  tests/PPDS.Cli.Tests/Tui/Infrastructure/TuiThemeServiceTests.cs
Due: PPDS.Auth, PPDS.Cli

fix(safety): DetectProtectionLevel uses EnvironmentType enum, only Production is locked
  src/PPDS.Cli/Services/Query/DmlSafetyGuard.cs
  tests/PPDS.Cli.Tests/Services/Query/DmlSafetyGuardTests.cs
Due: PPDS.Cli

refactor(config): change EnvironmentConfig.Type from string to EnvironmentType enum
  src/PPDS.Auth/Profiles/EnvironmentConfig.cs
  src/PPDS.Auth/Profiles/EnvironmentConfigCollection.cs
  src/PPDS.Auth/Profiles/EnvironmentConfigStore.cs
  src/PPDS.Cli/Commands/Env/EnvCommandGroup.cs
  src/PPDS.Cli/Services/Environment/EnvironmentConfigService.cs
  src/PPDS.Cli/Services/Environment/IEnvironmentConfigService.cs
  src/PPDS.Cli/Tui/Dialogs/EnvironmentConfigDialog.cs
  src/PPDS.Cli/Tui/Dialogs/EnvironmentSelectorDialog.cs
  src/PPDS.Cli/Tui/Infrastructure/TuiThemeService.cs
  tests/PPDS.Auth.Tests/Profiles/JsonSerializationTests.cs
  tests/PPDS.Cli.Tests/Services/Environment/EnvironmentConfigServiceTests.cs
  tests/PPDS.Cli.Tests/Services/Environment/EnvironmentConfigStoreTests.cs
  tests/PPDS.Cli.Tests/Services/ProfileResolutionServiceTests.cs
Due: PPDS.Auth, PPDS.Cli

fix(tui): replace TextField with Copy Code/URL buttons in DeviceCodeDialog
  src/PPDS.Cli/Tui/Dialogs/DeviceCodeDialog.cs
Due: PPDS.Cli

fix(tui): replace ClipboardHelper with PpdsClipboard for universal clipboard support
  src/PPDS.Cli/Commands/InteractiveCommand.cs
  src/PPDS.Cli/Infrastructure/ClipboardHelper.cs
  src/PPDS.Cli/Tui/Dialogs/DeviceCodeDialog.cs
  src/PPDS.Cli/Tui/Dialogs/ExportDialog.cs
  src/PPDS.Cli/Tui/Dialogs/FetchXmlPreviewDialog.cs
  src/PPDS.Cli/Tui/Dialogs/ProfileCreationDialog.cs
  src/PPDS.Cli/Tui/Dialogs/QueryHistoryDialog.cs
  src/PPDS.Cli/Tui/Helpers/TableCopyHelper.cs
  src/PPDS.Cli/Tui/Infrastructure/IClipboardBackend.cs
  src/PPDS.Cli/Tui/Infrastructure/PpdsClipboard.cs
  src/PPDS.Cli/Tui/Infrastructure/PpdsClipboardInstaller.cs
  src/PPDS.Cli/Tui/Infrastructure/SystemClipboardBackend.cs
  src/PPDS.Cli/Tui/PpdsApplication.cs
  src/PPDS.Cli/Tui/Views/QueryResultsTableView.cs
  tests/PPDS.Cli.Tests/Tui/Infrastructure/PpdsClipboardTests.cs
Due: PPDS.Cli
