Repository joshsmithxrm/ppds-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: PPDS.Plugins, PPDS.Auth, PPDS.Dataverse, PPDS.Migration, PPDS.Cli

fix: add worker session files to .gitignore (#324)
  .gitignore
Due: none

fix(session): inject GitHub owner/repo into worker prompt from git remote (#320)
  src/PPDS.Cli/Services/Session/SessionService.cs
  tests/PPDS.Cli.Tests/Services/Session/SessionServiceGitHubUrlTests.cs
Due: PPDS.Cli

fix: use py launcher and fix JSONL transcript parsing
  .claude/hooks/ralph-hook.py
  .claude/settings.json
Due: none

fix(session): enable autonomous /ship for workers
  src/PPDS.Cli/Services/Session/WindowsTerminalWorkerSpawner.cs
Due: PPDS.Cli

fix: address bot review comments for Ralph loop
  .claude/commands/cancel-ralph.md
  .claude/commands/ralph-loop.md
  .claude/hooks/ralph-hook.py
  .claude/settings.json
Due: none

fix(session): enable autonomous /ship for workers (#325)
  src/PPDS.Cli/Services/Session/WindowsTerminalWorkerSpawner.cs
Due: PPDS.Cli

feat(session): auto-cleanup orphaned session records in session list
  .claude/start-worker.ps1
  src/PPDS.Cli/Commands/Session/ListCommand.cs
  src/PPDS.Cli/Services/Session/ISessionService.cs
  src/PPDS.Cli/Services/Session/SessionService.cs
  src/PPDS.Cli/Services/Session/SessionState.cs
  tests/PPDS.Cli.Tests/Services/Session/SessionServiceCleanupTests.cs
Due: PPDS.Cli

fix(session): replace alarming STALE indicator with informational last-update time
  .claude/start-worker.ps1
  src/PPDS.Cli/Commands/Session/ListCommand.cs
Due: PPDS.Cli

fix(session): enable autonomous worker startup without confirmation prompt
  src/PPDS.Cli/Services/Session/WindowsTerminalWorkerSpawner.cs
Due: PPDS.Cli

chore: address bot review feedback
  .claude/start-worker.ps1
  src/PPDS.Cli/Commands/Session/ListCommand.cs
Due: PPDS.Cli

refactor: address bot review feedback on checklist wording
  .claude/commands/design.md
Due: none

fix(workflow): design sessions should create issues, not implement directly (#358)
  .claude/commands/design.md
  CLAUDE.md
Due: none

feat(tui): add F2 rename functionality to ProfileSelectorDialog
  src/PPDS.Cli/Tui/Dialogs/ProfileSelectorDialog.cs
Due: PPDS.Cli

feat(cli): add ppds query history command
  src/PPDS.Cli/Commands/Query/History/ClearCommand.cs
  src/PPDS.Cli/Commands/Query/History/DeleteCommand.cs
  src/PPDS.Cli/Commands/Query/History/ExecuteCommand.cs
  src/PPDS.Cli/Commands/Query/History/GetCommand.cs
  src/PPDS.Cli/Commands/Query/History/HistoryCommandGroup.cs
  src/PPDS.Cli/Commands/Query/History/ListCommand.cs
  src/PPDS.Cli/Commands/Query/QueryCommandGroup.cs
  src/PPDS.Cli/Services/History/IQueryHistoryService.cs
  src/PPDS.Cli/Services/History/QueryHistoryService.cs
  tests/PPDS.Cli.Tests/Mocks/FakeQueryHistoryService.cs
Due: PPDS.Cli

fix: address bot review comments
  src/PPDS.Cli/Commands/Query/History/ExecuteCommand.cs
  src/PPDS.Cli/Commands/Query/History/ListCommand.cs
Due: PPDS.Cli

feat(tui): add F2 rename functionality to ProfileSelectorDialog (#376)
  src/PPDS.Cli/Tui/Dialogs/ProfileSelectorDialog.cs
Due: PPDS.Cli

style: wrap repo identifiers in backticks for consistency
  CLAUDE.md
Due: none

feat(tui): add profile creation with all interactive auth methods (#378)
  src/PPDS.Cli/Tui/Dialogs/DeviceCodeAuthDialog.cs
  src/PPDS.Cli/Tui/Dialogs/ProfileCreationDialog.cs
  src/PPDS.Cli/Tui/MainWindow.cs
Due: PPDS.Cli

refactor(cli): extract shared QueryResultFormatter utility
  src/PPDS.Cli/Commands/Query/History/ExecuteCommand.cs
  src/PPDS.Cli/Commands/Query/History/GetCommand.cs
  src/PPDS.Cli/Commands/Query/History/HistoryEntryOutput.cs
  src/PPDS.Cli/Commands/Query/History/ListCommand.cs
  src/PPDS.Cli/Commands/Query/SqlCommand.cs
  src/PPDS.Cli/Infrastructure/Output/QueryResultFormatter.cs
Due: PPDS.Cli

refactor: address review feedback
  src/PPDS.Cli/Commands/Query/History/HistoryEntryOutput.cs
  src/PPDS.Cli/Infrastructure/Output/QueryResultFormatter.cs
Due: PPDS.Cli

refactor(cli): extract shared QueryResultFormatter utility (#383)
  src/PPDS.Cli/Commands/Query/History/ExecuteCommand.cs
  src/PPDS.Cli/Commands/Query/History/GetCommand.cs
  src/PPDS.Cli/Commands/Query/History/HistoryEntryOutput.cs
  src/PPDS.Cli/Commands/Query/History/ListCommand.cs
  src/PPDS.Cli/Commands/Query/SqlCommand.cs
  src/PPDS.Cli/Infrastructure/Output/QueryResultFormatter.cs
Due: PPDS.Cli

refactor: combine nested if statements
  src/PPDS.Cli/Tui/Dialogs/EnvironmentSelectorDialog.cs
Due: PPDS.Cli

fix: address bot review feedback
  src/PPDS.Cli/Tui/Dialogs/ProfileDetailsDialog.cs
  src/PPDS.Cli/Tui/Dialogs/ProfileSelectorDialog.cs
Due: PPDS.Cli

fix(session): enable trust bypass for /create-worktree skill (#385)
  .claude/commands/create-worktree.md
Due: none

feat(tui): add filter field to environment selector dialog (#386)
  src/PPDS.Cli/Tui/Dialogs/EnvironmentSelectorDialog.cs
Due: PPDS.Cli

feat(tui): add profile details dialog (who am I) (#388)
  src/PPDS.Cli/Tui/Dialogs/ProfileDetailsDialog.cs
  src/PPDS.Cli/Tui/Dialogs/ProfileSelectorDialog.cs
  src/PPDS.Cli/Tui/MainWindow.cs
Due: PPDS.Cli

feat(session): add dynamic terminal tab titles and simplify status enum (#389)
  docs/adr/0030_SESSION_ORCHESTRATION.md
  src/PPDS.Cli/Commands/Session/ListCommand.cs
  src/PPDS.Cli/Commands/Session/UpdateCommand.cs
  src/PPDS.Cli/Services/Session/ISessionService.cs
  src/PPDS.Cli/Services/Session/SessionService.cs
  src/PPDS.Cli/Services/Session/SessionState.cs
Due: PPDS.Cli

feat(tui): add environment details dialog with multiple access methods
  src/PPDS.Cli/Tui/Dialogs/EnvironmentDetailsDialog.cs
  src/PPDS.Cli/Tui/MainWindow.cs
Due: PPDS.Cli

fix: address bot review feedback for environment details dialog
  src/PPDS.Cli/Tui/Dialogs/EnvironmentDetailsDialog.cs
  src/PPDS.Cli/Tui/MainWindow.cs
Due: PPDS.Cli

fix(prune): add empty folder cleanup and remove hard-coded paths (#390)
  .claude/commands/prune.md
  .claude/commands/setup.md
  .claude/workflows/parallel-work.md
  docs/adr/0030_SESSION_ORCHESTRATION.md
  templates/claude/INSTALL.md
  tests/PPDS.LiveTests/Cli/DataSchemaCommandE2ETests.cs
Due: none

feat(tui): add clear all profiles dialog
  src/PPDS.Cli/Tui/Dialogs/ClearAllProfilesDialog.cs
  src/PPDS.Cli/Tui/MainWindow.cs
Due: PPDS.Cli

feat(tui): add animated loading spinners for async operations
  docs/patterns/tui-loading.md
  src/PPDS.Cli/Tui/Dialogs/EnvironmentSelectorDialog.cs
  src/PPDS.Cli/Tui/Dialogs/ProfileSelectorDialog.cs
  src/PPDS.Cli/Tui/Infrastructure/TuiOperationProgress.cs
  src/PPDS.Cli/Tui/Screens/SqlQueryScreen.cs
  src/PPDS.Cli/Tui/Views/TuiSpinner.cs
Due: PPDS.Cli

fix(tui): remove redundant status label update in GUID toggle
  src/PPDS.Cli/Tui/Views/QueryResultsTableView.cs
Due: PPDS.Cli

fix: address Gemini review - thread safety and remove unnecessary Refresh
  src/PPDS.Cli/Tui/Screens/SqlQueryScreen.cs
  src/PPDS.Cli/Tui/Views/TuiSpinner.cs
Due: PPDS.Cli

feat(tui): add animated loading spinners for async operations (#394)
  docs/patterns/tui-loading.md
  src/PPDS.Cli/Tui/Dialogs/EnvironmentSelectorDialog.cs
  src/PPDS.Cli/Tui/Dialogs/ProfileSelectorDialog.cs
  src/PPDS.Cli/Tui/Infrastructure/TuiOperationProgress.cs
  src/PPDS.Cli/Tui/Screens/SqlQueryScreen.cs
  src/PPDS.Cli/Tui/Views/TuiSpinner.cs
Due: PPDS.Cli

feat(tui): add type-aware column sizing for SQL query results (#392)
  src/PPDS.Cli/Tui/Views/QueryResultConverter.cs
  src/PPDS.Cli/Tui/Views/QueryResultsTableView.cs
Due: PPDS.Cli

fix(session): use Console.Title API for terminal tab titles
  src/PPDS.Cli/Commands/Session/UpdateCommand.cs
Due: PPDS.Cli

fix(session): use Console.Title API for terminal tab titles (#395)
  src/PPDS.Cli/Commands/Session/UpdateCommand.cs
Due: PPDS.Cli

fix(tui): prevent repeated auth prompts on user cancellation
  src/PPDS.Auth/Pooling/ProfileConnectionSource.cs
  src/PPDS.Cli/Tui/PpdsApplication.cs
  src/PPDS.Dataverse/Pooling/DataverseConnectionPool.cs
Due: PPDS.Auth, PPDS.Dataverse, PPDS.Cli

chore: remove terminal profile script (#397)
  .claude/commands/setup.md
  scripts/Install-PpdsTerminalProfile.ps1
Due: none

Path conditions:
  PPDS.Plugins: any of: src/PPDS.Plugins/**, but not: tests/**, **/obj/**, **/bin/**, **/*.g.cs, **/*.Designer.cs
  PPDS.Auth: any of: src/PPDS.Auth/**, but not: tests/**, **/obj/**, **/bin/**, **/*.g.cs, **/*.Designer.cs
  PPDS.Dataverse: any of: src/PPDS.Dataverse/**, but not: tests/**, **/obj/**, **/bin/**, **/*.g.cs, **/*.Designer.cs
  PPDS.Migration: any of: src/PPDS.Migration/**, but not: tests/**, **/obj/**, **/bin/**, **/*.g.cs, **/*.Designer.cs
  PPDS.Cli: any of: src/PPDS.Cli/**, but not: tests/**, **/obj/**, **/bin/**, **/*.g.cs, **/*.Designer.cs
