Repository joshsmithxrm/ppds-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: PPDS.Plugins, PPDS.Auth, PPDS.Dataverse, PPDS.Migration, PPDS.Cli

test: add CLI E2E tests for plugin commands (#105) (#117)
  .github/workflows/integration-tests.yml
  .gitignore
  PPDS.Sdk.sln
  src/PPDS.Auth/Credentials/ClientSecretCredentialProvider.cs
  src/PPDS.Auth/Credentials/SecureCredentialStore.cs
  src/PPDS.Auth/Pooling/ProfileConnectionSource.cs
  src/PPDS.Cli/Commands/Auth/AuthCommandGroup.cs
  src/PPDS.Cli/Commands/Plugins/CleanCommand.cs
  src/PPDS.Cli/Commands/Plugins/DeployCommand.cs
  src/PPDS.Cli/Commands/Plugins/DiffCommand.cs
  src/PPDS.Cli/Commands/Plugins/ExtractCommand.cs
  src/PPDS.Cli/Commands/Plugins/ListCommand.cs
  src/PPDS.Cli/Commands/Plugins/PluginsCommandGroup.cs
  tests/PPDS.Cli.Tests/Commands/Plugins/PluginsCommandGroupTests.cs
  tests/PPDS.LiveTests.Fixtures/PPDS.LiveTests.Fixtures.csproj
  tests/PPDS.LiveTests.Fixtures/TestPlugins.cs
  tests/PPDS.LiveTests/Cli/AuthCommandE2ETests.cs
  tests/PPDS.LiveTests/Cli/CliE2ETestBase.cs
  tests/PPDS.LiveTests/Cli/PluginsCleanCommandE2ETests.cs
  tests/PPDS.LiveTests/Cli/PluginsDeployCommandE2ETests.cs
  tests/PPDS.LiveTests/Cli/PluginsDiffCommandE2ETests.cs
  tests/PPDS.LiveTests/Cli/PluginsExtractCommandE2ETests.cs
  tests/PPDS.LiveTests/Cli/PluginsListCommandE2ETests.cs
  tests/PPDS.LiveTests/Cli/SecureStorageE2ETests.cs
  tests/PPDS.LiveTests/Infrastructure/SkipIfNoCredentialsAttribute.cs
  tests/PPDS.LiveTests/TestData/test-registrations.json
Due: PPDS.Auth, PPDS.Cli

fix: add missing DI using after merge
  src/PPDS.Cli/Commands/Serve/Handlers/RpcMethodHandler.cs
Due: PPDS.Cli

fix: address bot review comments for daemon infrastructure
  src/PPDS.Cli/Commands/Serve/Handlers/DaemonDeviceCodeHandler.cs
  src/PPDS.Cli/Commands/Serve/Handlers/RpcMethodHandler.cs
  src/PPDS.Cli/Infrastructure/DaemonConnectionPoolManager.cs
  tests/PPDS.Cli.Tests/Commands/Serve/DaemonConnectionPoolManagerTests.cs
  tests/PPDS.Cli.Tests/Commands/Serve/Handlers/DaemonDeviceCodeHandlerTests.cs
Due: PPDS.Cli

docs: add integration testing guide and tooling improvements
  .claude/commands/debug-ci-failure.md
  .claude/commands/review-bot-comments.md
  .claude/commands/run-integration-local.md
  .github/codeql/codeql-config.yml
  .github/workflows/codeql.yml
  CLAUDE.md
  docs/INTEGRATION_TESTING.md
  docs/retrospectives/2026-01-04_CLI_E2E_TESTS.md
Due: none

docs: add quote-stripping to run-integration-local command
  .claude/commands/run-integration-local.md
Due: none

fix: address bot review comments (round 2)
  .claude/commands/debug-ci-failure.md
  docs/retrospectives/2026-01-04_CLI_E2E_TESTS.md
  src/PPDS.Auth/Credentials/SecureCredentialStore.cs
  src/PPDS.Auth/Pooling/ProfileConnectionSource.cs
  tests/PPDS.LiveTests/Cli/CliE2ETestBase.cs
Due: PPDS.Auth

feat: mapping file version validation (#125)
  src/PPDS.Cli/Commands/Data/LoadCommand.cs
  src/PPDS.Cli/CsvLoader/SchemaVersionException.cs
Due: PPDS.Cli

docs: add Plan Mode Checklist to prevent code duplication
  CLAUDE.md
Due: none

docs: add Plugin Traces design session deliverables
  docs/ROADMAP.md
  docs/adr/0012_HYBRID_FILTER_DESIGN.md
  docs/design-sessions/SESSION_2_CONNREFS_PROMPT.md
  docs/design-sessions/SESSION_3_PLUGINTRACES_PROMPT.md
Due: none

feat!: standardize on --dry-run, add Claude Code templates, polish docs
  CLAUDE.md
  README.md
  docs/adr/0011_DEPLOYMENT_SETTINGS_FORMAT.md
  docs/adr/0013_CLI_DRY_RUN_CONVENTION.md
  src/PPDS.Cli/CHANGELOG.md
  src/PPDS.Cli/Commands/Plugins/CleanCommand.cs
  src/PPDS.Cli/Commands/Plugins/DeployCommand.cs
  templates/claude/CONSUMER_GUIDE.md
  templates/claude/INSTALL.md
  templates/claude/commands/ppds-help.md
  templates/claude/settings-recommended.json
  tests/PPDS.Cli.Tests/Commands/Plugins/CleanCommandTests.cs
  tests/PPDS.Cli.Tests/Commands/Plugins/DeployCommandTests.cs
Due: PPDS.Cli

docs: trim ROADMAP.md to strategic overview
  docs/ROADMAP.md
Due: none

fix: update E2E tests to use --dry-run instead of --what-if
  .claude/commands/test-cli.md
  docs/COVERAGE_BASELINE.md
  docs/adr/0014_CSV_MAPPING_SCHEMA.md
  docs/retrospectives/2026-01-04_CLI_E2E_TESTS.md
  tests/PPDS.LiveTests/Cli/PluginsCleanCommandE2ETests.cs
  tests/PPDS.LiveTests/Cli/PluginsDeployCommandE2ETests.cs
Due: none

fix: renumber duplicate ADR-0009 to ADR-0014
  CLAUDE.md
  README.md
  docs/adr/0014_CSV_MAPPING_SCHEMA.md
  src/PPDS.Cli/CHANGELOG.md
Due: PPDS.Cli

Release prep: beta.7 features, --dry-run standardization, Claude templates, docs polish (#164)
  .claude/commands/test-cli.md
  CLAUDE.md
  README.md
  docs/COVERAGE_BASELINE.md
  docs/ROADMAP.md
  docs/adr/0011_DEPLOYMENT_SETTINGS_FORMAT.md
  docs/adr/0012_HYBRID_FILTER_DESIGN.md
  docs/adr/0013_CLI_DRY_RUN_CONVENTION.md
  docs/adr/0014_CSV_MAPPING_SCHEMA.md
  docs/design-sessions/SESSION_2_CONNREFS_PROMPT.md
  docs/design-sessions/SESSION_3_PLUGINTRACES_PROMPT.md
  docs/design-sessions/SESSION_4_WEBRESOURCES_PROMPT.md
  docs/retrospectives/2026-01-04_CLI_E2E_TESTS.md
  src/PPDS.Auth/CHANGELOG.md
  src/PPDS.Cli/CHANGELOG.md
  src/PPDS.Cli/Commands/Internal/InternalCommandGroup.cs
  src/PPDS.Cli/Commands/Plugins/CleanCommand.cs
  src/PPDS.Cli/Commands/Plugins/DeployCommand.cs
  src/PPDS.Cli/Commands/Serve/ServeCommand.cs
  src/PPDS.Cli/Program.cs
  src/PPDS.Dataverse/CHANGELOG.md
  src/PPDS.Migration/CHANGELOG.md
  templates/claude/CONSUMER_GUIDE.md
  templates/claude/INSTALL.md
  templates/claude/commands/ppds-help.md
  templates/claude/settings-recommended.json
  tests/PPDS.Cli.Tests/Commands/Plugins/CleanCommandTests.cs
  tests/PPDS.Cli.Tests/Commands/Plugins/DeployCommandTests.cs
  tests/PPDS.LiveTests/Cli/PluginsCleanCommandE2ETests.cs
  tests/PPDS.LiveTests/Cli/PluginsDeployCommandE2ETests.cs
Due: PPDS.Auth, PPDS.Dataverse, PPDS.Migration, PPDS.Cli

docs: refactor CLAUDE.md for quality, add metadata CLI docs
  .claude/rules/DATAVERSE_PATTERNS.md
  .claude/rules/TESTING.md
  CLAUDE.md
  src/PPDS.Cli/README.md
Due: PPDS.Cli

docs: restore anti-pattern guidance in Plan Mode Checklist
  CLAUDE.md
Due: none

fix: handle pre-existing releases in CLI binary workflow (#166)
  .claude/commands/release.md
  .github/workflows/release-cli.yml
Due: none

docs: clarify CLI release workflow scenarios
  .claude/commands/release.md
Due: none

feat: improve CLI discoverability - filter UX and docs command (#167, #165)
  src/PPDS.Cli/CHANGELOG.md
  src/PPDS.Cli/Commands/DocsCommand.cs
  src/PPDS.Cli/Commands/Metadata/EntitiesCommand.cs
  src/PPDS.Cli/Commands/Metadata/OptionSetsCommand.cs
  src/PPDS.Cli/Program.cs
  src/PPDS.Dataverse/Metadata/DataverseMetadataService.cs
  tests/PPDS.Cli.Tests/Commands/DocsCommandTests.cs
  tests/PPDS.Dataverse.Tests/Metadata/FilterRegexTests.cs
Due: PPDS.Dataverse, PPDS.Cli

fix: use correct MessagePropertyName for plugin images based on SDK message
  src/PPDS.Cli/Commands/Plugins/DeployCommand.cs
  src/PPDS.Cli/Plugins/Registration/PluginRegistrationService.cs
  tests/PPDS.Cli.Tests/Plugins/Registration/PluginRegistrationServiceTests.cs
Due: PPDS.Cli

feat: improve CLI discoverability - filter UX and docs command (#167, #165) (#173)
  src/PPDS.Cli/CHANGELOG.md
  src/PPDS.Cli/Commands/DocsCommand.cs
  src/PPDS.Cli/Commands/Metadata/EntitiesCommand.cs
  src/PPDS.Cli/Commands/Metadata/OptionSetsCommand.cs
  src/PPDS.Cli/Program.cs
  src/PPDS.Dataverse/Metadata/DataverseMetadataService.cs
  tests/PPDS.Cli.Tests/Commands/DocsCommandTests.cs
  tests/PPDS.Dataverse.Tests/Metadata/FilterRegexTests.cs
Due: PPDS.Dataverse, PPDS.Cli

fix: include OIDC credentials in smoke test assertion
  tests/PPDS.LiveTests/LiveDataverseSmokeTests.cs
Due: none

feat: Add ppds data update and delete commands (#135)
  src/PPDS.Cli/CHANGELOG.md
  src/PPDS.Cli/Commands/Data/DataCommandGroup.cs
  src/PPDS.Cli/Commands/Data/DeleteCommand.cs
  src/PPDS.Cli/Commands/Data/UpdateCommand.cs
  src/PPDS.Cli/README.md
  tests/PPDS.Cli.Tests/Commands/DeleteCommandTests.cs
  tests/PPDS.Cli.Tests/Commands/UpdateCommandTests.cs
  tests/PPDS.LiveTests/Cli/DataDeleteCommandE2ETests.cs
  tests/PPDS.LiveTests/Cli/DataUpdateCommandE2ETests.cs
  tests/PPDS.LiveTests/Infrastructure/LiveTestHelpers.cs
Due: PPDS.Cli

fix: address bot review comments (CSV parsing, README, tests)
  src/PPDS.Cli/Commands/Data/DeleteCommand.cs
  src/PPDS.Cli/Commands/Data/UpdateCommand.cs
  src/PPDS.Cli/README.md
  tests/PPDS.LiveTests/Cli/DataDeleteCommandE2ETests.cs
Due: PPDS.Cli

docs: update changelog for Cli-v1.0.0-beta.8 release
  src/PPDS.Cli/CHANGELOG.md
Due: PPDS.Cli

Release prep: Cli v1.0.0-beta.8 + dependency updates (#180)
  .github/workflows/release-cli.yml
  src/PPDS.Auth/PPDS.Auth.csproj
  src/PPDS.Cli/CHANGELOG.md
  src/PPDS.Cli/PPDS.Cli.csproj
  src/PPDS.Dataverse/PPDS.Dataverse.csproj
  src/PPDS.Migration/PPDS.Migration.csproj
  src/PPDS.Plugins/PPDS.Plugins.csproj
  tests/PPDS.Cli.DaemonTests/PPDS.Cli.DaemonTests.csproj
  tests/PPDS.LiveTests.Fixtures/PPDS.LiveTests.Fixtures.csproj
  tests/PPDS.LiveTests/LiveDataverseSmokeTests.cs
Due: PPDS.Plugins, PPDS.Auth, PPDS.Dataverse, PPDS.Migration, PPDS.Cli

fix: CMT export compatibility - boolean format and schema relationships
  src/PPDS.Migration/CHANGELOG.md
  src/PPDS.Migration/Formats/CmtDataWriter.cs
  tests/PPDS.Migration.Tests/Formats/CmtDataWriterTests.cs
Due: PPDS.Migration

fix: remove Entity from M2M starting progress to avoid 0/0 display
  src/PPDS.Migration/CHANGELOG.md
  src/PPDS.Migration/Export/ParallelExporter.cs
Due: PPDS.Migration

docs: prep Migration v1.0.0-beta.4 + Cli v1.0.0-beta.9 release
  src/PPDS.Cli/CHANGELOG.md
  src/PPDS.Migration/CHANGELOG.md
Due: PPDS.Migration, PPDS.Cli

docs: prep Migration v1.0.0-beta.4 + Cli v1.0.0-beta.9 release (#186)
  src/PPDS.Cli/CHANGELOG.md
  src/PPDS.Migration/CHANGELOG.md
Due: PPDS.Migration, PPDS.Cli

fix: profile selection and auth create environment resolution (#189)
  .claude/commands/pre-pr.md
  .claude/commands/review-bot-comments.md
  src/PPDS.Auth/CHANGELOG.md
  src/PPDS.Auth/Profiles/ProfileCollection.cs
  src/PPDS.Cli/CHANGELOG.md
  src/PPDS.Cli/Commands/Auth/AuthCommandGroup.cs
  src/PPDS.Cli/Commands/Serve/Handlers/RpcMethodHandler.cs
  tests/PPDS.Auth.Tests/Profiles/ProfileCollectionTests.cs
  tests/PPDS.Auth.Tests/Profiles/ProfileStoreTests.cs
Due: PPDS.Auth, PPDS.Cli

feat: Add interactive TUI mode (ppds interactive)
  src/PPDS.Cli/Interactive/Components/ContextPanel.cs
  src/PPDS.Cli/Interactive/Components/MainMenu.cs
  src/PPDS.Cli/Interactive/Components/Styles.cs
  src/PPDS.Cli/Interactive/InteractiveCli.cs
  src/PPDS.Cli/Interactive/Selectors/EnvironmentSelector.cs
  src/PPDS.Cli/Interactive/Selectors/ProfileSelector.cs
  src/PPDS.Cli/PPDS.Cli.csproj
  src/PPDS.Cli/Program.cs
  tests/PPDS.Cli.Tests/Interactive/InteractiveModeDetectionTests.cs
  tests/PPDS.Cli.Tests/Interactive/MainMenuTests.cs
  tests/PPDS.Cli.Tests/Interactive/SelectorResultsTests.cs
  tests/PPDS.Cli.Tests/Interactive/StylesTests.cs
Due: PPDS.Cli

feat: Add SQL Query wizard to interactive mode
  src/PPDS.Cli/Interactive/Components/ContextPanel.cs
  src/PPDS.Cli/Interactive/Components/MainMenu.cs
  src/PPDS.Cli/Interactive/InteractiveCli.cs
  src/PPDS.Cli/Interactive/Wizards/SqlQueryWizard.cs
  tests/PPDS.Cli.Tests/Interactive/MainMenuTests.cs
Due: PPDS.Cli

fix: Don't request total count in SQL query wizard
  src/PPDS.Cli/Interactive/Wizards/SqlQueryWizard.cs
Due: PPDS.Cli

feat: Add Application Service Layer for CLI/TUI/Daemon (ADR-0015)
  docs/adr/0015_APPLICATION_SERVICE_LAYER.md
  src/PPDS.Cli/Commands/Query/SqlCommand.cs
  src/PPDS.Cli/Infrastructure/ProfileServiceFactory.cs
  src/PPDS.Cli/Interactive/Wizards/SqlQueryWizard.cs
  src/PPDS.Cli/Services/Query/ISqlQueryService.cs
  src/PPDS.Cli/Services/Query/SqlQueryRequest.cs
  src/PPDS.Cli/Services/Query/SqlQueryResult.cs
  src/PPDS.Cli/Services/Query/SqlQueryService.cs
  src/PPDS.Cli/Services/ServiceRegistration.cs
  tests/PPDS.Cli.Tests/Services/Query/SqlQueryServiceTests.cs
Due: PPDS.Cli

feat: Add improved SQL query results display with hybrid table/record view
  src/PPDS.Cli/Interactive/Components/QueryResults/FieldGrouper.cs
  src/PPDS.Cli/Interactive/Components/QueryResults/QueryResultsViewer.cs
  src/PPDS.Cli/Interactive/Components/QueryResults/RecordNavigationState.cs
  src/PPDS.Cli/Interactive/Components/QueryResults/RecordView.cs
  src/PPDS.Cli/Interactive/Components/QueryResults/TableView.cs
  src/PPDS.Cli/Interactive/Components/QueryResults/ValueFormatter.cs
  src/PPDS.Cli/Interactive/Wizards/SqlQueryWizard.cs
Due: PPDS.Cli

fix: Use stdin pipe for Windows clipboard instead of echo
  src/PPDS.Cli/Infrastructure/ClipboardHelper.cs
Due: PPDS.Cli

fix: Always show 'View as Table' option regardless of column count
  src/PPDS.Cli/Interactive/Components/QueryResults/RecordView.cs
Due: PPDS.Cli

feat: Add readline-like text editing for SQL query input
  src/PPDS.Cli/Interactive/Wizards/SqlQueryWizard.cs
  src/PPDS.Cli/PPDS.Cli.csproj
Due: PPDS.Cli

refactor: Use up/down arrows for history instead of 'history' command
  src/PPDS.Cli/Interactive/Wizards/SqlQueryWizard.cs
Due: PPDS.Cli

Path conditions:
  PPDS.Plugins: any of: src/PPDS.Plugins/**, but not: tests/**, **/obj/**, **/bin/**, **/*.g.cs, **/*.Designer.cs
  PPDS.Auth: any of: src/PPDS.Auth/**, but not: tests/**, **/obj/**, **/bin/**, **/*.g.cs, **/*.Designer.cs
  PPDS.Dataverse: any of: src/PPDS.Dataverse/**, but not: tests/**, **/obj/**, **/bin/**, **/*.g.cs, **/*.Designer.cs
  PPDS.Migration: any of: src/PPDS.Migration/**, but not: tests/**, **/obj/**, **/bin/**, **/*.g.cs, **/*.Designer.cs
  PPDS.Cli: any of: src/PPDS.Cli/**, but not: tests/**, **/obj/**, **/bin/**, **/*.g.cs, **/*.Designer.cs
