Repository joshsmithxrm/ppds-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: PPDS.Plugins, PPDS.Auth, PPDS.Dataverse, PPDS.Migration, PPDS.Cli

docs(specs): Review PPDS.Plugins Attributes
  specs/00-manifest.md
  specs/08-plugins/01-attributes.md
Due: none

docs(specs): Review PPDS.Plugins Analyzers
  specs/00-manifest.md
  specs/08-plugins/02-analyzers.md
Due: none

docs(specs): Add Authentication specification
  specs/IMPLEMENTATION_PLAN.md
  specs/README.md
  specs/authentication.md
Due: none

docs(specs): Add Migration specification
  specs/IMPLEMENTATION_PLAN.md
  specs/README.md
  specs/migration.md
Due: none

docs(specs): Add TUI specification
  specs/IMPLEMENTATION_PLAN.md
  specs/README.md
  specs/tui.md
Due: none

docs(specs): Add Error Handling specification
  specs/IMPLEMENTATION_PLAN.md
  specs/README.md
  specs/error-handling.md
Due: none

docs(specs): Add Testing specification
  specs/IMPLEMENTATION_PLAN.md
  specs/README.md
  specs/testing.md
Due: none

remove specs
  specs/IMPLEMENTATION_PLAN.md
  specs/README.md
  specs/SPEC-TEMPLATE.md
  specs/application-services.md
  specs/architecture.md
  specs/authentication.md
  specs/cli.md
  specs/connection-pool.md
  specs/error-handling.md
  specs/mcp.md
  specs/migration.md
  specs/plugins.md
  specs/testing.md
  specs/tui.md
Due: none

docs(specs): Add Architecture specification
  IMPLEMENTATION_PLAN.md
  specs/README.md
  specs/architecture.md
Due: none

docs(specs): Add Bulk Operations specification
  IMPLEMENTATION_PLAN.md
  specs/README.md
  specs/bulk-operations.md
Due: none

docs(specs): Add Authentication specification
  IMPLEMENTATION_PLAN.md
  specs/README.md
  specs/authentication.md
Due: none

docs(specs): Add Migration specification
  IMPLEMENTATION_PLAN.md
  specs/README.md
  specs/migration.md
Due: none

docs(specs): Add CLI specification
  IMPLEMENTATION_PLAN.md
  specs/README.md
  specs/cli.md
Due: none

docs(specs): Add TUI specification
  IMPLEMENTATION_PLAN.md
  specs/README.md
  specs/tui.md
Due: none

feat: maestro changes and updated gitignore
  .gitignore
  src/PPDS.Cli/PPDS.Cli.csproj
  src/PPDS.Cli/Tui/PpdsApplication.cs
  tests/PPDS.Cli.Tests/PPDS.Cli.Tests.csproj
  tests/PPDS.Cli.Tests/Tui/MaestroIntegrationTests.cs
Due: PPDS.Cli

Delete implementation plan
  IMPLEMENTATION_PLAN.md
Due: none

docs(specs): Add Plugin System specification
  IMPLEMENTATION_PLAN.md
  specs/plugins.md
Due: none

docs(specs): Add Roslyn Analyzers specification
  IMPLEMENTATION_PLAN.md
  specs/analyzers.md
Due: none

docs: add spec-loop-ready plan document
  docs/SPEC-LOOP-READY-PLAN.md
Due: none

docs(specs): update migration.md - Reset, IPluginStepManager, ImportOptions gaps
  specs/migration.md
Due: none

docs(specs): create plugin-traces.md - IPluginTraceService, CLI commands, timeline
  specs/plugin-traces.md
Due: none

docs(specs): create tui-solutions.md - SolutionScreen with component inspection and export
  specs/tui-solutions.md
Due: none

docs(specs): create tui-environment-dashboard.md - tabbed admin dashboard (Users, Flows, EnvVars, ConnRefs)
  specs/tui-environment-dashboard.md
Due: none

docs(specs): create tui-migration.md - MigrationScreen with progress tracking and execution plan preview
  specs/tui-migration.md
Due: none

docs: mark Phase 3 complete in spec-loop-ready plan
  docs/SPEC-LOOP-READY-PLAN.md
Due: none

chore(deps): bump dependency versions
  .github/workflows/tui-e2e.yml
  src/PPDS.Auth/PPDS.Auth.csproj
  src/PPDS.Cli/PPDS.Cli.csproj
  src/PPDS.Dataverse/PPDS.Dataverse.csproj
  src/PPDS.Migration/PPDS.Migration.csproj
  tests/PPDS.Dataverse.Tests/PPDS.Dataverse.Tests.csproj
  tests/PPDS.Mcp.Tests/PPDS.Mcp.Tests.csproj
Due: PPDS.Auth, PPDS.Dataverse, PPDS.Migration, PPDS.Cli

fix: update remaining Microsoft.Extensions packages to 10.0.2
  src/PPDS.Mcp/PPDS.Mcp.csproj
  tests/PPDS.Dataverse.IntegrationTests/PPDS.Dataverse.IntegrationTests.csproj
  tests/PPDS.LiveTests/PPDS.LiveTests.csproj
Due: none

chore(deps): consolidate dependency version bumps
  .github/workflows/tui-e2e.yml
  src/PPDS.Auth/PPDS.Auth.csproj
  src/PPDS.Cli/PPDS.Cli.csproj
  src/PPDS.Dataverse/PPDS.Dataverse.csproj
  src/PPDS.Mcp/PPDS.Mcp.csproj
  src/PPDS.Migration/PPDS.Migration.csproj
  tests/PPDS.Auth.Tests/PPDS.Auth.Tests.csproj
  tests/PPDS.Cli.DaemonTests/PPDS.Cli.DaemonTests.csproj
  tests/PPDS.Cli.Tests/PPDS.Cli.Tests.csproj
  tests/PPDS.Dataverse.IntegrationTests/PPDS.Dataverse.IntegrationTests.csproj
  tests/PPDS.Dataverse.Tests/PPDS.Dataverse.Tests.csproj
  tests/PPDS.LiveTests/PPDS.LiveTests.csproj
  tests/PPDS.Mcp.Tests/PPDS.Mcp.Tests.csproj
  tests/PPDS.Migration.Tests/PPDS.Migration.Tests.csproj
Due: PPDS.Auth, PPDS.Dataverse, PPDS.Migration, PPDS.Cli

chore(deps): add Central Package Management (Directory.Packages.props)
  Directory.Packages.props
  src/PPDS.Analyzers/PPDS.Analyzers.csproj
  src/PPDS.Auth/PPDS.Auth.csproj
  src/PPDS.Cli/PPDS.Cli.csproj
  src/PPDS.Dataverse/PPDS.Dataverse.csproj
  src/PPDS.Mcp/PPDS.Mcp.csproj
  src/PPDS.Migration/PPDS.Migration.csproj
  src/PPDS.Plugins/PPDS.Plugins.csproj
  tests/PPDS.Auth.IntegrationTests/PPDS.Auth.IntegrationTests.csproj
  tests/PPDS.Auth.Tests/PPDS.Auth.Tests.csproj
  tests/PPDS.Cli.DaemonTests/PPDS.Cli.DaemonTests.csproj
  tests/PPDS.Cli.Tests/PPDS.Cli.Tests.csproj
  tests/PPDS.Dataverse.IntegrationTests/PPDS.Dataverse.IntegrationTests.csproj
  tests/PPDS.Dataverse.Tests/PPDS.Dataverse.Tests.csproj
  tests/PPDS.LiveTests.Fixtures/PPDS.LiveTests.Fixtures.csproj
  tests/PPDS.LiveTests/PPDS.LiveTests.csproj
  tests/PPDS.Mcp.Tests/PPDS.Mcp.Tests.csproj
  tests/PPDS.Migration.Tests/PPDS.Migration.Tests.csproj
  tests/PPDS.Plugins.Tests/PPDS.Plugins.Tests.csproj
Due: PPDS.Plugins, PPDS.Auth, PPDS.Dataverse, PPDS.Migration, PPDS.Cli

docs: TUI foundation implementation plan
  docs/plans/2026-02-05-tui-foundation.md
Due: none

docs: TUI foundation refactoring spec
  specs/tui-foundation.md
Due: none

refactor(tui): replace fire-and-forget boilerplate with AsyncHelper
  src/PPDS.Cli/Tui/PpdsApplication.cs
  src/PPDS.Cli/Tui/Screens/SqlQueryScreen.cs
  src/PPDS.Cli/Tui/TuiShell.cs
Due: PPDS.Cli

feat(tui): add TabManager for multi-tab lifecycle management
  src/PPDS.Cli/Tui/Infrastructure/TabManager.cs
  src/PPDS.Cli/Tui/Testing/States/TabManagerState.cs
  tests/PPDS.Cli.Tests/Tui/Infrastructure/TabManagerTests.cs
Due: PPDS.Cli

feat(tui): add TuiScreenBase abstract class
  src/PPDS.Cli/Tui/Screens/TuiScreenBase.cs
  tests/PPDS.Cli.Tests/Tui/Screens/TuiScreenBaseTests.cs
Due: PPDS.Cli

refactor(tui): cache local services in InteractiveSession
  src/PPDS.Cli/Tui/InteractiveSession.cs
  src/PPDS.Cli/Tui/Screens/SqlQueryScreen.cs
  tests/PPDS.Cli.Tests/Tui/Infrastructure/ServiceCachingTests.cs
Due: PPDS.Cli

fix(tui): address code review findings
  src/PPDS.Cli/Tui/Infrastructure/TabManager.cs
  src/PPDS.Cli/Tui/Screens/SqlQueryScreen.cs
  src/PPDS.Cli/Tui/TuiShell.cs
  src/PPDS.Cli/Tui/Views/TabBar.cs
  tests/PPDS.Cli.Tests/Tui/Screens/TuiScreenBaseTests.cs
Due: PPDS.Cli

fix(tui): update service caching tests to match Lazy<T> singleton behavior
  tests/PPDS.Cli.Tests/Tui/InteractiveSessionTests.cs
Due: none

refactor(tui): remove Spectre.Console dependency, fix E2E test launch
  .github/workflows/tui-e2e.yml
  CLAUDE.md
  Directory.Packages.props
  src/PPDS.Cli/Commands/InteractiveCommand.cs
  src/PPDS.Cli/PPDS.Cli.csproj
Due: PPDS.Cli

fix(tui): force consistent terminal colors and wire splash screen transition
  src/PPDS.Cli/Tui/Infrastructure/TuiTerminalPalette.cs
  src/PPDS.Cli/Tui/PpdsApplication.cs
  src/PPDS.Cli/Tui/TuiShell.cs
  src/PPDS.Cli/Tui/Views/SplashView.cs
  tests/PPDS.Cli.Tests/Tui/Infrastructure/TuiTerminalPaletteTests.cs
  tests/PPDS.Cli.Tests/Tui/Views/SplashViewTests.cs
Due: PPDS.Cli

Path conditions:
  PPDS.Plugins: any of: src/PPDS.Plugins/**, but not: tests/**, **/obj/**, **/bin/**, **/*.g.cs, **/*.Designer.cs
  PPDS.Auth: any of: src/PPDS.Auth/**, but not: tests/**, **/obj/**, **/bin/**, **/*.g.cs, **/*.Designer.cs
  PPDS.Dataverse: any of: src/PPDS.Dataverse/**, but not: tests/**, **/obj/**, **/bin/**, **/*.g.cs, **/*.Designer.cs
  PPDS.Migration: any of: src/PPDS.Migration/**, but not: tests/**, **/obj/**, **/bin/**, **/*.g.cs, **/*.Designer.cs
  PPDS.Cli: any of: src/PPDS.Cli/**, but not: tests/**, **/obj/**, **/bin/**, **/*.g.cs, **/*.Designer.cs
