Repository joshsmithxrm/ppds-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: PPDS.Plugins, PPDS.Auth, PPDS.Dataverse, PPDS.Migration, PPDS.Cli

codecov.yml:

# Codecov Configuration
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  # Overall project coverage status
  status:
    project:
      default:
        target: 60%
        threshold: 5%  # Allow 5% drop before failing
        informational: true  # Don't block PRs (visibility only for now)

    # Patch coverage - new code should be well-tested
    patch:
      default:
        target: 80%
        informational: true  # Don't block PRs (visibility only for now)

  # Per-package thresholds using component system
  # These match the targets defined in issue #55

# Component-based coverage tracking
component_management:
  default_rules:
    statuses:
      - type: project
        informational: true
      - type: patch
        informational: true

  individual_components:
    - component_id: plugins
      name: PPDS.Plugins
      paths:
        - src/PPDS.Plugins/**
      statuses:
        - type: project
          target: 95%

    - component_id: auth
      name: PPDS.Auth
      paths:
        - src/PPDS.Auth/**
      statuses:
        - type: project
          target: 70%

    - component_id: dataverse
      name: PPDS.Dataverse
      paths:
        - src/PPDS.Dataverse/**
      statuses:
        - type: project
          target: 60%

    - component_id: migration
      name: PPDS.Migration
      paths:
        - src/PPDS.Migration/**
      statuses:
        - type: project
          target: 50%

    - component_id: cli
      name: PPDS.Cli
      paths:
        - src/PPDS.Cli/**
      statuses:
        - type: project
          target: 60%

# Ignore test projects and generated files
ignore:
  - "tests/**"
  - "**/obj/**"
  - "**/bin/**"
  - "**/*.g.cs"
  - "**/*.Designer.cs"

# PR comment configuration
comment:
  layout: "header, diff, components, footer"
  behavior: default
  require_changes: true  # Only comment when coverage changes

chore: update CLAUDE.md title and description
  CLAUDE.md
Due: none

fix: add wildcards to deny patterns for npm publish and rm -rf /
  .claude/settings.json
Due: none

chore: consolidate Claude settings with workspace (#399)
  .claude/settings.json
  CLAUDE.md
Due: none

fix(migration): include M2M records in import throughput calculation
  src/PPDS.Migration/Import/TieredImporter.cs
  src/PPDS.Migration/Progress/ConsoleProgressReporter.cs
  src/PPDS.Migration/Progress/MigrationResult.cs
  tests/PPDS.Migration.Tests/Progress/MigrationResultTests.cs
Due: PPDS.Migration

feat(rpc): add solutions/list and solutions/components RPC methods
  src/PPDS.Cli/Commands/Serve/Handlers/RpcMethodHandler.cs
  src/PPDS.Cli/Infrastructure/Errors/ErrorCodes.cs
Due: PPDS.Cli

feat(rpc): add solutions/list and solutions/components RPC methods (#401)
  src/PPDS.Cli/Commands/Serve/Handlers/RpcMethodHandler.cs
  src/PPDS.Cli/Infrastructure/Errors/ErrorCodes.cs
Due: PPDS.Cli

refactor(rpc): extract common profile/service provider setup into helper method (#406)
  src/PPDS.Cli/Commands/Serve/Handlers/RpcMethodHandler.cs
Due: PPDS.Cli

feat(tui): add centralized error service
  src/PPDS.Cli/Tui/Dialogs/ErrorDetailsDialog.cs
  src/PPDS.Cli/Tui/Dialogs/ProfileDetailsDialog.cs
  src/PPDS.Cli/Tui/Infrastructure/ITuiErrorService.cs
  src/PPDS.Cli/Tui/Infrastructure/TuiError.cs
  src/PPDS.Cli/Tui/Infrastructure/TuiErrorService.cs
  src/PPDS.Cli/Tui/InteractiveSession.cs
  src/PPDS.Cli/Tui/MainWindow.cs
  src/PPDS.Cli/Tui/Screens/SqlQueryScreen.cs
  tests/PPDS.Cli.Tests/Tui/Infrastructure/TuiErrorServiceTests.cs
Due: PPDS.Cli

fix(tui): address bot review feedback
  src/PPDS.Cli/Tui/Infrastructure/TuiDebugLog.cs
  src/PPDS.Cli/Tui/Infrastructure/TuiError.cs
  src/PPDS.Cli/Tui/Infrastructure/TuiErrorService.cs
  tests/PPDS.Cli.Tests/Tui/Infrastructure/TuiErrorServiceTests.cs
Due: PPDS.Cli

feat(dataverse): generate early-bound entities for plugin registration (#440)
  scripts/Generate-EarlyBoundModels.ps1
  src/PPDS.Dataverse/Generated/Entities/customapi.cs
  src/PPDS.Dataverse/Generated/Entities/customapirequestparameter.cs
  src/PPDS.Dataverse/Generated/Entities/customapiresponseproperty.cs
  src/PPDS.Dataverse/Generated/Entities/entitydataprovider.cs
  src/PPDS.Dataverse/Generated/Entities/serviceendpoint.cs
  src/PPDS.Dataverse/Generated/OptionSets/customapifieldtype.cs
Due: PPDS.Dataverse

fix(session): create worktree from origin/main instead of local HEAD
  src/PPDS.Cli/Services/Session/SessionService.cs
Due: PPDS.Cli

fix(ci): configure Dependabot to surface major version updates (#444)
  .github/dependabot.yml
  .github/workflows/dependabot-label.yml
  CLAUDE.md
Due: none

refactor(migration): extract BulkOperationHelper to consolidate duplicate logic
  src/PPDS.Migration/Import/BulkOperationHelper.cs
  src/PPDS.Migration/Import/DeferredFieldProcessor.cs
  src/PPDS.Migration/Import/TieredImporter.cs
Due: PPDS.Migration

refactor(migration): extract BulkOperationProber class
  src/PPDS.Migration/DependencyInjection/ServiceCollectionExtensions.cs
  src/PPDS.Migration/Import/BulkOperationProber.cs
  src/PPDS.Migration/Import/DeferredFieldProcessor.cs
  src/PPDS.Migration/Import/TieredImporter.cs
Due: PPDS.Migration

fix(ship): extend CI timeout to 20 minutes for consistency
  .claude/commands/ship.md
Due: none

feat(plugins): add filtering options to `ppds plugins list` (#464)
  src/PPDS.Cli/Commands/Plugins/ListCommand.cs
  src/PPDS.Cli/Commands/Serve/Handlers/RpcMethodHandler.cs
  src/PPDS.Cli/Plugins/Registration/IPluginRegistrationService.cs
  src/PPDS.Cli/Plugins/Registration/PluginRegistrationService.cs
  tests/PPDS.Cli.Tests/Commands/Plugins/ListCommandTests.cs
  tests/PPDS.Cli.Tests/Plugins/Registration/PluginRegistrationServiceTests.cs
Due: PPDS.Cli

refactor(migration): simplify TieredImporter.ImportAsync complexity (#463)
  src/PPDS.Migration/Import/TieredImporter.cs
Due: PPDS.Migration

chore: remove unused JsonOptions field
  src/PPDS.Cli/Commands/Plugins/DownloadCommand.cs
Due: PPDS.Cli

feat(plugins): add download command for assembly and package binaries (#468)
  src/PPDS.Cli/Commands/Plugins/DownloadCommand.cs
  src/PPDS.Cli/Commands/Plugins/PluginsCommandGroup.cs
  src/PPDS.Cli/Plugins/Registration/IPluginRegistrationService.cs
  src/PPDS.Cli/Plugins/Registration/PluginRegistrationService.cs
  tests/PPDS.Cli.Tests/Commands/Plugins/DownloadCommandTests.cs
  tests/PPDS.Cli.Tests/Commands/Plugins/PluginsCommandGroupTests.cs
Due: PPDS.Cli

feat(plugins): add ppds plugins get command for entity details
  src/PPDS.Cli/Commands/Plugins/GetCommand.cs
  src/PPDS.Cli/Commands/Plugins/PluginsCommandGroup.cs
  src/PPDS.Cli/Plugins/Registration/IPluginRegistrationService.cs
  src/PPDS.Cli/Plugins/Registration/PluginRegistrationService.cs
  tests/PPDS.Cli.Tests/Commands/Plugins/GetCommandTests.cs
  tests/PPDS.Cli.Tests/Commands/Plugins/PluginsCommandGroupTests.cs
Due: PPDS.Cli

fix: address bot review feedback
  src/PPDS.Cli/Commands/Plugins/RegisterCommand.cs
  src/PPDS.Cli/Plugins/Registration/PluginRegistrationService.cs
  tests/PPDS.Cli.Tests/Commands/Plugins/RegisterCommandTests.cs
Due: PPDS.Cli

feat(plugins): add unregister command for plugin cleanup
  src/PPDS.Cli/Commands/Plugins/PluginsCommandGroup.cs
  src/PPDS.Cli/Commands/Plugins/UnregisterCommand.cs
  src/PPDS.Cli/Infrastructure/Errors/ExitCodes.cs
  src/PPDS.Cli/Plugins/Registration/IPluginRegistrationService.cs
  src/PPDS.Cli/Plugins/Registration/PluginRegistrationService.cs
  tests/PPDS.Cli.Tests/Commands/Plugins/PluginsCommandGroupTests.cs
  tests/PPDS.Cli.Tests/Commands/Plugins/UnregisterCommandTests.cs
Due: PPDS.Cli

fix: address bot review comments
  src/PPDS.Cli/Commands/Plugins/DownloadCommand.cs
  src/PPDS.Cli/Commands/Plugins/UnregisterCommand.cs
Due: PPDS.Cli

refactor(plugins): convert InvalidOperationException to PpdsException per ADR-0026 (#484)
  src/PPDS.Cli/Commands/Plugins/DownloadCommand.cs
  src/PPDS.Cli/Commands/Plugins/UnregisterCommand.cs
  src/PPDS.Cli/Infrastructure/Errors/ErrorCodes.cs
  src/PPDS.Cli/Infrastructure/Errors/ExceptionMapper.cs
  src/PPDS.Cli/Plugins/Registration/IPluginRegistrationService.cs
  src/PPDS.Cli/Plugins/Registration/PluginRegistrationService.cs
  tests/PPDS.Cli.Tests/Plugins/Registration/PluginRegistrationServiceTests.cs
Due: PPDS.Cli

fix: address bot review feedback
  docs/adr/0032_NATIVE_CREDENTIAL_STORE.md
  docs/internal/CREDENTIAL_STORE_FIX.md
  src/PPDS.Auth/Credentials/NativeCredentialStore.cs
Due: PPDS.Auth

docs: add implementation plan for credential store persistence fix
  docs/internal/CREDENTIAL_STORE_FIX.md
Due: none

fix(auth): check PPDS_TEST_CLIENT_SECRET for credential store bypass
  src/PPDS.Auth/Credentials/CredentialProviderFactory.cs
  src/PPDS.Cli/Commands/Auth/AuthCommandGroup.cs
  src/PPDS.Cli/Services/Profile/ProfileService.cs
Due: PPDS.Auth, PPDS.Cli

feat(plugins): add ppds plugins update command
  src/PPDS.Cli/Commands/Plugins/PluginsCommandGroup.cs
  src/PPDS.Cli/Commands/Plugins/UpdateCommand.cs
  src/PPDS.Cli/Plugins/Registration/IPluginRegistrationService.cs
  src/PPDS.Cli/Plugins/Registration/PluginRegistrationService.cs
  tests/PPDS.Cli.Tests/Commands/Plugins/PluginsCommandGroupTests.cs
  tests/PPDS.Cli.Tests/Commands/Plugins/UpdateCommandTests.cs
  tests/PPDS.Cli.Tests/Plugins/Registration/PluginRegistrationServiceTests.cs
Due: PPDS.Cli

fix(auth): check PPDS_TEST_CLIENT_SECRET for credential store bypass (#488)
  src/PPDS.Auth/Credentials/CredentialProviderFactory.cs
  src/PPDS.Cli/Commands/Auth/AuthCommandGroup.cs
  src/PPDS.Cli/Services/Profile/ProfileService.cs
  tests/PPDS.Auth.Tests/Credentials/CredentialProviderFactoryTests.cs
Due: PPDS.Auth, PPDS.Cli

fix: populate IsManaged/IsCustomizable in Get*ByNameOrIdAsync methods
  src/PPDS.Cli/Commands/Plugins/UpdateCommand.cs
  src/PPDS.Cli/Plugins/Registration/PluginRegistrationService.cs
Due: PPDS.Cli

fix(plugins): address bot review feedback
  src/PPDS.Cli/Plugins/Registration/PluginRegistrationService.cs
Due: PPDS.Cli

chore(tui-e2e): remove unused playwright.config.ts
  tests/tui-e2e/playwright.config.ts
Due: none

fix(tui): make Enter select RadioGroup items
  src/PPDS.Cli/Tui/Dialogs/ExportDialog.cs
  src/PPDS.Cli/Tui/Dialogs/ProfileCreationDialog.cs
Due: PPDS.Cli

fix(tui): replace auth method combobox with radio group
  src/PPDS.Cli/Tui/Dialogs/ProfileCreationDialog.cs
Due: PPDS.Cli

fix(tui): add keyboard handlers to dialogs
  src/PPDS.Cli/Tui/Dialogs/EnvironmentSelectorDialog.cs
  src/PPDS.Cli/Tui/Dialogs/ExportDialog.cs
  src/PPDS.Cli/Tui/Dialogs/ProfileCreationDialog.cs
  src/PPDS.Cli/Tui/Dialogs/ProfileSelectorDialog.cs
Due: PPDS.Cli

fix(tui): prevent CTS disposed error in EnvironmentDetailsDialog
  src/PPDS.Cli/Tui/Dialogs/EnvironmentDetailsDialog.cs
Due: PPDS.Cli

fix(tui): improve error dialog readability and clean up menu labels
  src/PPDS.Cli/Tui/Dialogs/ErrorDetailsDialog.cs
  src/PPDS.Cli/Tui/Infrastructure/TuiColorPalette.cs
  src/PPDS.Cli/Tui/MainWindow.cs
Due: PPDS.Cli

refactor(tui): add consistent 2-line footer across all screens
  src/PPDS.Cli/Tui/MainWindow.cs
  src/PPDS.Cli/Tui/Screens/SqlQueryScreen.cs
  src/PPDS.Cli/Tui/Views/TuiStatusBar.cs
  src/PPDS.Cli/Tui/Views/TuiStatusLine.cs
Due: PPDS.Cli

fix(auth): always show profile index in DisplayIdentifier
  src/PPDS.Auth/Profiles/AuthProfile.cs
  tests/PPDS.Auth.Tests/Profiles/AuthProfileTests.cs
  tests/PPDS.Cli.Tests/Services/Profile/ProfileServiceTests.cs
Due: PPDS.Auth

fix(tui): prevent nested SqlQueryScreen creation on repeated F2
  src/PPDS.Cli/Tui/Infrastructure/HotkeyRegistry.cs
  src/PPDS.Cli/Tui/MainWindow.cs
Due: PPDS.Cli
