Repository joshsmithxrm/ppds-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: PPDS.Plugins, PPDS.Auth, PPDS.Dataverse, PPDS.Migration, PPDS.Cli

codecov.yml:

# Codecov Configuration
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  # Overall project coverage status
  status:
    project:
      default:
        target: 60%
        threshold: 5%  # Allow 5% drop before failing
        informational: true  # Don't block PRs (visibility only for now)

    # Patch coverage - new code should be well-tested
    patch:
      default:
        target: 80%
        informational: true  # Don't block PRs (visibility only for now)

  # Per-package thresholds using component system
  # These match the targets defined in issue #55

# Component-based coverage tracking
component_management:
  default_rules:
    statuses:
      - type: project
        informational: true
      - type: patch
        informational: true

  individual_components:
    - component_id: plugins
      name: PPDS.Plugins
      paths:
        - src/PPDS.Plugins/**
      statuses:
        - type: project
          target: 95%

    - component_id: auth
      name: PPDS.Auth
      paths:
        - src/PPDS.Auth/**
      statuses:
        - type: project
          target: 70%

    - component_id: dataverse
      name: PPDS.Dataverse
      paths:
        - src/PPDS.Dataverse/**
      statuses:
        - type: project
          target: 60%

    - component_id: migration
      name: PPDS.Migration
      paths:
        - src/PPDS.Migration/**
      statuses:
        - type: project
          target: 50%

    - component_id: cli
      name: PPDS.Cli
      paths:
        - src/PPDS.Cli/**
      statuses:
        - type: project
          target: 60%

# Ignore test projects and generated files
ignore:
  - "tests/**"
  - "**/obj/**"
  - "**/bin/**"
  - "**/*.g.cs"
  - "**/*.Designer.cs"

# PR comment configuration
comment:
  layout: "header, diff, components, footer"
  behavior: default
  require_changes: true  # Only comment when coverage changes

feat(plugintraces): add quick filter shortcuts, --record filter, and service tests
  src/PPDS.Cli/Commands/PluginTraces/ListCommand.cs
  src/PPDS.Cli/Commands/PluginTraces/RelatedCommand.cs
  src/PPDS.Cli/README.md
  tests/PPDS.Cli.Tests/Commands/PluginTraces/PluginTracesCommandGroupTests.cs
  tests/PPDS.Dataverse.IntegrationTests/Services/PluginTraceServiceTests.cs
Due: PPDS.Cli

fix: use specific FaultException for solution component error
  src/PPDS.Cli/Plugins/Registration/PluginRegistrationService.cs
Due: PPDS.Cli

feat: add IPluginRegistrationService interface and DI registration
  src/PPDS.Cli/Commands/Plugins/CleanCommand.cs
  src/PPDS.Cli/Commands/Plugins/DeployCommand.cs
  src/PPDS.Cli/Commands/Plugins/DiffCommand.cs
  src/PPDS.Cli/Commands/Plugins/ListCommand.cs
  src/PPDS.Cli/Plugins/Registration/IPluginRegistrationService.cs
  src/PPDS.Cli/Plugins/Registration/PluginRegistrationService.cs
  src/PPDS.Cli/Services/ServiceRegistration.cs
Due: PPDS.Cli

docs: add /ship command for commit-push-pr workflow
  .claude/commands/ship.md
Due: none

feat(tui): complete Phase 2 TUI migration - TUI-first experience
  src/PPDS.Cli/Interactive/Components/ContextPanel.cs
  src/PPDS.Cli/Interactive/Components/MainMenu.cs
  src/PPDS.Cli/Interactive/Components/QueryHistory.cs
  src/PPDS.Cli/Interactive/Components/QueryResults/FieldGrouper.cs
  src/PPDS.Cli/Interactive/Components/QueryResults/InteractiveTableState.cs
  src/PPDS.Cli/Interactive/Components/QueryResults/InteractiveTableView.cs
  src/PPDS.Cli/Interactive/Components/QueryResults/QueryResultsViewer.cs
  src/PPDS.Cli/Interactive/Components/QueryResults/RecordNavigationState.cs
  src/PPDS.Cli/Interactive/Components/QueryResults/RecordView.cs
  src/PPDS.Cli/Interactive/Components/QueryResults/TableInputHandler.cs
  src/PPDS.Cli/Interactive/Components/QueryResults/TableView.cs
  src/PPDS.Cli/Interactive/Components/QueryResults/TableViewport.cs
  src/PPDS.Cli/Interactive/Components/QueryResults/ValueFormatter.cs
  src/PPDS.Cli/Interactive/Components/Styles.cs
  src/PPDS.Cli/Interactive/InteractiveCli.cs
  src/PPDS.Cli/Interactive/LineEditorExtensions.cs
  src/PPDS.Cli/Interactive/Selectors/EnvironmentSelector.cs
  src/PPDS.Cli/Interactive/Selectors/ProfileSelector.cs
  src/PPDS.Cli/Interactive/Wizards/SqlQueryWizard.cs
  src/PPDS.Cli/Program.cs
  src/PPDS.Cli/Tui/Dialogs/ExportDialog.cs
  src/PPDS.Cli/Tui/Dialogs/QueryHistoryDialog.cs
  src/PPDS.Cli/Tui/InteractiveSession.cs
  src/PPDS.Cli/Tui/MainWindow.cs
  src/PPDS.Cli/Tui/PpdsApplication.cs
  src/PPDS.Cli/Tui/Screens/SqlQueryScreen.cs
  src/PPDS.Cli/Tui/Views/QueryResultsTableView.cs
  tests/PPDS.Cli.Tests/Interactive/Components/QueryHistoryTests.cs
  tests/PPDS.Cli.Tests/Interactive/Components/QueryResults/FieldGrouperTests.cs
  tests/PPDS.Cli.Tests/Interactive/Components/QueryResults/RecordNavigationStateTests.cs
  tests/PPDS.Cli.Tests/Interactive/InteractiveModeDetectionTests.cs
  tests/PPDS.Cli.Tests/Interactive/MainMenuTests.cs
  tests/PPDS.Cli.Tests/Interactive/SelectorResultsTests.cs
Due: PPDS.Cli

feat(auth): add diagnostic logging for silent auth troubleshooting
  src/PPDS.Auth/AuthDebugLog.cs
  src/PPDS.Auth/Credentials/DeviceCodeCredentialProvider.cs
  src/PPDS.Auth/Credentials/InteractiveBrowserCredentialProvider.cs
  src/PPDS.Auth/Credentials/MsalAccountHelper.cs
  src/PPDS.Auth/Credentials/MsalClientBuilder.cs
  src/PPDS.Auth/Credentials/PowerPlatformTokenProvider.cs
  src/PPDS.Auth/Discovery/GlobalDiscoveryService.cs
  src/PPDS.Cli/Tui/PpdsApplication.cs
Due: PPDS.Auth, PPDS.Cli

fix(tui): add timeout to prevent hang on quit
  docs/tui/POLISH_TRACKER.md
  src/PPDS.Cli/Tui/InteractiveSession.cs
  src/PPDS.Cli/Tui/PpdsApplication.cs
Due: PPDS.Cli

feat(auth): persist HomeAccountId for token cache reuse (ADR-0027)
  docs/adr/0027_UNIFIED_AUTH_SESSION.md
  docs/tui/POLISH_TRACKER.md
  src/PPDS.Auth/Pooling/ProfileConnectionSource.cs
  src/PPDS.Auth/Profiles/ProfileStore.cs
  src/PPDS.Cli/Infrastructure/ProfileServiceFactory.cs
Due: PPDS.Auth, PPDS.Cli

feat(tui): session isolation + PPDS_PROFILE env var (ADR-0018)
  CLAUDE.md
  docs/adr/0018_PROFILE_SESSION_ISOLATION.md
  docs/adr/0024_SHARED_LOCAL_STATE.md
  docs/adr/0028_TUI_TESTING_STRATEGY.md
  docs/tui/POLISH_TRACKER.md
  src/PPDS.Auth/Profiles/ProfileResolver.cs
  src/PPDS.Cli/README.md
  src/PPDS.Cli/Tui/InteractiveSession.cs
  src/PPDS.Cli/Tui/MainWindow.cs
  tests/PPDS.Auth.Tests/Profiles/ProfileResolverTests.cs
Due: PPDS.Auth, PPDS.Cli

chore: pre-PR cleanup
  docs/tui/POLISH_TRACKER.md
  tests/PPDS.Cli.Tests/Tui/InteractiveSessionLifecycleTests.cs
Due: none

feat(tui): add debug logging and fix query execution
  .claude/commands/pre-pr.md
  .claude/commands/tui-polish.md
  .claude/rules/TUI_TROUBLESHOOTING.md
  CLAUDE.md
  docs/tui/POLISH_TRACKER.md
  src/PPDS.Cli/Commands/InteractiveCommand.cs
  src/PPDS.Cli/Services/ServiceRegistration.cs
  src/PPDS.Cli/Tui/Dialogs/EnvironmentSelectorDialog.cs
  src/PPDS.Cli/Tui/Dialogs/ExportDialog.cs
  src/PPDS.Cli/Tui/Dialogs/ProfileSelectorDialog.cs
  src/PPDS.Cli/Tui/Dialogs/QueryHistoryDialog.cs
  src/PPDS.Cli/Tui/Infrastructure/EnvironmentType.cs
  src/PPDS.Cli/Tui/Infrastructure/ITuiThemeService.cs
  src/PPDS.Cli/Tui/Infrastructure/TuiColorPalette.cs
  src/PPDS.Cli/Tui/Infrastructure/TuiDebugLog.cs
  src/PPDS.Cli/Tui/Infrastructure/TuiThemeService.cs
  src/PPDS.Cli/Tui/InteractiveSession.cs
  src/PPDS.Cli/Tui/MainWindow.cs
  src/PPDS.Cli/Tui/PpdsApplication.cs
  src/PPDS.Cli/Tui/Screens/SqlQueryScreen.cs
  tests/PPDS.Cli.Tests/Tui/Infrastructure/TuiThemeServiceTests.cs
  tests/PPDS.Cli.Tests/Tui/InteractiveSessionTests.cs
Due: PPDS.Cli

fix: address code scanning findings
  src/PPDS.Cli/Services/Profile/ProfileService.cs
  src/PPDS.Cli/Tui/Infrastructure/TuiDebugLog.cs
  tests/PPDS.Cli.Tests/Services/Environment/EnvironmentServiceTests.cs
  tests/PPDS.Cli.Tests/Services/Profile/ProfileServiceTests.cs
Due: PPDS.Cli

docs: add versioning policy and release coordination
  docs/internal/RELEASE_COORDINATION.md
  docs/internal/VERSIONING_POLICY.md
Due: none

fix: update extension package.json URLs to new repo name
  .gemini/config.yaml
  .gemini/styleguide.md
  cities.csv
  cities.json
  extension/package.json
  states.csv
  states.json
Due: none

docs: Update README with docs badge and TUI mention
  README.md
Due: none

chore(extension): enhance VS Code dev configuration
  extension/.vscode/extensions.json
  extension/.vscode/launch.json
  extension/.vscode/settings.json
  extension/.vscode/tasks.json
Due: none

chore: replace "PPDS SDK" with "PPDS" throughout codebase
  .claude/hooks/pre-commit-validate.py
  .env.example
  .github/CODE_SCANNING.md
  .github/codeql/codeql-config.yml
  .github/copilot-instructions.md
  CHANGELOG.md
  SECURITY.md
  docs/COVERAGE_BASELINE.md
  docs/FEATURE_ROADMAP.md
  docs/INTEGRATION_TESTING.md
  docs/ROADMAP.md
  docs/adr/0007_UNIFIED_CLI_AND_AUTH.md
  docs/adr/README.md
  scripts/Install-PpdsTerminalProfile.ps1
  src/PPDS.Analyzers/PPDS.Analyzers.csproj
  src/PPDS.Cli/README.md
Due: PPDS.Cli

chore: simplify create-worktree command
  .claude/commands/create-worktree.md
Due: none

chore: rebranding polish and contributor setup
  .claude/TEMP_EXTENSION_MIGRATION.md
  .vscode/settings.json
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  PPDS.sln
  README.md
  extension/.vscodeignore
  extension/package.json
  ppds.code-workspace
  tests/PPDS.Cli.DaemonTests/DaemonTestFixture.cs
  tests/PPDS.LiveTests/Cli/CliE2ETestBase.cs
Due: none

fix: align .NET SDK version in CONTRIBUTING.md with README
  CONTRIBUTING.md
Due: none

chore: rebranding polish and contributor setup (#305)
  .claude/TEMP_EXTENSION_MIGRATION.md
  .vscode/settings.json
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  PPDS.sln
  README.md
  extension/.vscodeignore
  extension/package.json
  ppds.code-workspace
  tests/PPDS.Cli.DaemonTests/DaemonTestFixture.cs
  tests/PPDS.LiveTests/Cli/CliE2ETestBase.cs
Due: none

chore: consolidate slash commands from 26 to 14
  .claude/commands/create-worktree.md
  .claude/commands/design-session.md
  .claude/commands/design-ui.md
  .claude/commands/design.md
  .claude/commands/fix-tests.md
  .claude/commands/handoff.md
  .claude/commands/new-feature.md
  .claude/commands/next-work.md
  .claude/commands/pre-pr.md
  .claude/commands/retrospective.md
  .claude/commands/run-integration-local.md
  .claude/commands/setup-terminal.md
  .claude/commands/setup.md
  .claude/commands/ship.md
  .claude/commands/spec.md
  .claude/commands/start-work.md
  .claude/commands/test-cli.md
  .claude/commands/test.md
  .claude/commands/tui-polish.md
  .claude/commands/tui-test.md
  .claude/workflows/autonomous-session.md
  .claude/workflows/human-gates.md
  .claude/workflows/parallel-work.md
  .claude/workflows/ui-development.md
  CLAUDE.md
Due: none

chore: consolidate slash commands from 26 to 14 (#310)
  .claude/commands/create-worktree.md
  .claude/commands/design-session.md
  .claude/commands/design-ui.md
  .claude/commands/design.md
  .claude/commands/fix-tests.md
  .claude/commands/handoff.md
  .claude/commands/new-feature.md
  .claude/commands/next-work.md
  .claude/commands/pre-pr.md
  .claude/commands/retrospective.md
  .claude/commands/run-integration-local.md
  .claude/commands/setup-terminal.md
  .claude/commands/setup.md
  .claude/commands/ship.md
  .claude/commands/spec.md
  .claude/commands/start-work.md
  .claude/commands/test-cli.md
  .claude/commands/test.md
  .claude/commands/tui-polish.md
  .claude/commands/tui-test.md
  .claude/workflows/autonomous-session.md
  .claude/workflows/human-gates.md
  .claude/workflows/parallel-work.md
  .claude/workflows/ui-development.md
  CLAUDE.md
Due: none

feat: add session orchestration for parallel work
  .claude/commands/orchestrate.md
  .claude/commands/ralph-work.md
  docs/adr/0030_SESSION_ORCHESTRATION.md
  scripts/Start-PpdsOrchestration.ps1
  scripts/ralph-prompt-template.md
  scripts/worker-task-template.md
Due: none

fix: use bash syntax for Git Bash compatibility
  .claude/commands/orchestrate.md
Due: none

feat: add planning phase to orchestrator
  .claude/commands/orchestrate.md
Due: none

fix: prioritize bugs when listing issues
  .claude/commands/orchestrate.md
Due: none

fix: remove ralph-loop dependency, just start claude
  src/PPDS.Cli/Services/Session/WindowsTerminalWorkerSpawner.cs
Due: PPDS.Cli

fix: use --permission-mode dontAsk to skip trust prompt
  src/PPDS.Cli/Services/Session/WindowsTerminalWorkerSpawner.cs
Due: PPDS.Cli

fix: show stale indicator when no heartbeat in 90+ seconds
  src/PPDS.Cli/Commands/Session/ListCommand.cs
Due: PPDS.Cli

feat: add forward/pause/resume commands, fix worker startup
  src/PPDS.Cli/Commands/Session/ForwardCommand.cs
  src/PPDS.Cli/Commands/Session/PauseCommand.cs
  src/PPDS.Cli/Commands/Session/ResumeCommand.cs
  src/PPDS.Cli/Commands/Session/SessionCommandGroup.cs
  src/PPDS.Cli/Services/Session/WindowsTerminalWorkerSpawner.cs
Due: PPDS.Cli

fix: write session-state.json on spawn
  src/PPDS.Cli/Services/Session/SessionService.cs
Due: PPDS.Cli

fix: use dynamic repo name for worktree paths
  CLAUDE.md
  src/PPDS.Cli/Services/Session/SessionService.cs
Due: PPDS.Cli

chore: remove gh CLI permissions now using GitHub MCP
  .claude/settings.json
Due: none

Revert "chore: remove gh CLI permissions now using GitHub MCP"
  .claude/settings.json
Due: none

fix: address Gemini review comments
  src/PPDS.Cli/Commands/Serve/Handlers/RpcMethodHandler.cs
  src/PPDS.Cli/Commands/Session/ListCommand.cs
  src/PPDS.Cli/Commands/Session/UpdateCommand.cs
  src/PPDS.Cli/Services/Session/SessionService.cs
Due: PPDS.Cli

fix: use injected ISessionService in RpcMethodHandler
  src/PPDS.Cli/Commands/Serve/Handlers/RpcMethodHandler.cs
  src/PPDS.Cli/Commands/Serve/ServeCommand.cs
  tests/PPDS.Cli.Tests/Commands/Serve/Handlers/RpcMethodHandlerPoolTests.cs
Due: PPDS.Cli

docs(ship): improve bot review workflow with explicit enumeration
  .claude/commands/ship.md
Due: none

fix: clean up error message duplication in bulk operation logs
  .claude/worker-plan.md
  src/PPDS.Dataverse/BulkOperations/BulkOperationExecutor.cs
Due: PPDS.Dataverse
