Repository joshsmithxrm/ppds-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: PPDS.Plugins, PPDS.Auth, PPDS.Dataverse, PPDS.Migration, PPDS.Cli

codecov.yml:

# Codecov Configuration
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  # Overall project coverage status
  status:
    project:
      default:
        target: 60%
        threshold: 5%  # Allow 5% drop before failing
        informational: true  # Don't block PRs (visibility only for now)

    # Patch coverage - new code should be well-tested
    patch:
      default:
        target: 80%
        informational: true  # Don't block PRs (visibility only for now)

  # Per-package thresholds using component system
  # These match the targets defined in issue #55

# Component-based coverage tracking
component_management:
  default_rules:
    statuses:
      - type: project
        informational: true
      - type: patch
        informational: true

  individual_components:
    - component_id: plugins
      name: PPDS.Plugins
      paths:
        - src/PPDS.Plugins/**
      statuses:
        - type: project
          target: 95%

    - component_id: auth
      name: PPDS.Auth
      paths:
        - src/PPDS.Auth/**
      statuses:
        - type: project
          target: 70%

    - component_id: dataverse
      name: PPDS.Dataverse
      paths:
        - src/PPDS.Dataverse/**
      statuses:
        - type: project
          target: 60%

    - component_id: migration
      name: PPDS.Migration
      paths:
        - src/PPDS.Migration/**
      statuses:
        - type: project
          target: 50%

    - component_id: cli
      name: PPDS.Cli
      paths:
        - src/PPDS.Cli/**
      statuses:
        - type: project
          target: 60%

# Ignore test projects and generated files
ignore:
  - "tests/**"
  - "**/obj/**"
  - "**/bin/**"
  - "**/*.g.cs"
  - "**/*.Designer.cs"

# PR comment configuration
comment:
  layout: "header, diff, components, footer"
  behavior: default
  require_changes: true  # Only comment when coverage changes

feat: self-contained CLI publishing and release workflow (#53, #54)
  .github/workflows/release-cli.yml
  src/PPDS.Cli/PPDS.Cli.csproj
Due: PPDS.Cli

docs: update CLI changelog for #53 and #54
  src/PPDS.Cli/CHANGELOG.md
Due: PPDS.Cli

refactor: add logging to GetComponentTypeAsync catch block
  src/PPDS.Cli/CHANGELOG.md
  src/PPDS.Cli/Commands/Plugins/CleanCommand.cs
  src/PPDS.Cli/Commands/Plugins/DeployCommand.cs
  src/PPDS.Cli/Commands/Plugins/DiffCommand.cs
  src/PPDS.Cli/Commands/Plugins/ListCommand.cs
  src/PPDS.Cli/Plugins/Registration/PluginRegistrationService.cs
  tests/PPDS.Cli.Tests/PPDS.Cli.Tests.csproj
  tests/PPDS.Cli.Tests/Plugins/Registration/PluginRegistrationServiceTests.cs
Due: PPDS.Cli

fix: address bot review feedback
  .github/workflows/release-cli.yml
  src/PPDS.Cli/PPDS.Cli.csproj
Due: PPDS.Cli

fix: align auth who output ordering with PAC CLI
  src/PPDS.Cli/Commands/Auth/AuthCommandGroup.cs
Due: PPDS.Cli

feat: Profile storage overhaul with schema v2 and secure credential storage (#107)
  src/PPDS.Auth/Credentials/CertificateFileCredentialProvider.cs
  src/PPDS.Auth/Credentials/ClientSecretCredentialProvider.cs
  src/PPDS.Auth/Credentials/CredentialProviderFactory.cs
  src/PPDS.Auth/Credentials/ISecureCredentialStore.cs
  src/PPDS.Auth/Credentials/JwtClaimsParser.cs
  src/PPDS.Auth/Credentials/SecureCredentialStore.cs
  src/PPDS.Auth/Profiles/AuthProfile.cs
  src/PPDS.Auth/Profiles/ProfileCollection.cs
  src/PPDS.Auth/Profiles/ProfilePaths.cs
  src/PPDS.Auth/Profiles/ProfileStore.cs
  src/PPDS.Cli/Commands/Auth/AuthCommandGroup.cs
  tests/PPDS.Auth.Tests/Credentials/CredentialProviderFactoryTests.cs
  tests/PPDS.Auth.Tests/Credentials/SecureCredentialStoreTests.cs
  tests/PPDS.Auth.Tests/Profiles/AuthProfileTests.cs
  tests/PPDS.Auth.Tests/Profiles/ProfileCollectionTests.cs
  tests/PPDS.Auth.Tests/Profiles/ProfileStoreTests.cs
Due: PPDS.Auth, PPDS.Cli

docs: add changelog entries for profile storage v2
  src/PPDS.Auth/CHANGELOG.md
  src/PPDS.Cli/CHANGELOG.md
Due: PPDS.Auth, PPDS.Cli

fix: prevent shared credential deletion and orphaned credentials
  src/PPDS.Cli/Commands/Auth/AuthCommandGroup.cs
  tests/PPDS.LiveTests/Cli/AuthCommandE2ETests.cs
Due: PPDS.Cli

fix: Linux cleartext storage uses exclusive MSAL config
  src/PPDS.Auth/Credentials/SecureCredentialStore.cs
Due: PPDS.Auth

feat: add credential cleanup and cleartext caching flag
  src/PPDS.Cli/Commands/Auth/AuthCommandGroup.cs
Due: PPDS.Cli

docs: update changelogs for beta.4/beta.6 release
  src/PPDS.Auth/CHANGELOG.md
  src/PPDS.Cli/CHANGELOG.md
Due: PPDS.Auth, PPDS.Cli

fix: ProfileConnectionSource uses SecureCredentialStore for credential lookup
  src/PPDS.Auth/Pooling/ConnectionResolver.cs
  src/PPDS.Auth/Pooling/ProfileConnectionSource.cs
  src/PPDS.Cli/Infrastructure/ProfileServiceFactory.cs
  tests/PPDS.LiveTests/Cli/CliE2ETestBase.cs
  tests/PPDS.LiveTests/Cli/DataSchemaCommandE2ETests.cs
Due: PPDS.Auth, PPDS.Cli

feat: Profile storage v2 with secure credential storage (#107) (#111)
  src/PPDS.Auth/CHANGELOG.md
  src/PPDS.Auth/Credentials/CertificateFileCredentialProvider.cs
  src/PPDS.Auth/Credentials/ClientSecretCredentialProvider.cs
  src/PPDS.Auth/Credentials/CredentialProviderFactory.cs
  src/PPDS.Auth/Credentials/ISecureCredentialStore.cs
  src/PPDS.Auth/Credentials/JwtClaimsParser.cs
  src/PPDS.Auth/Credentials/SecureCredentialStore.cs
  src/PPDS.Auth/Discovery/EnvironmentResolutionService.cs
  src/PPDS.Auth/Pooling/ConnectionResolver.cs
  src/PPDS.Auth/Pooling/ProfileConnectionSource.cs
  src/PPDS.Auth/Profiles/AuthProfile.cs
  src/PPDS.Auth/Profiles/EnvironmentInfo.cs
  src/PPDS.Auth/Profiles/ProfileCollection.cs
  src/PPDS.Auth/Profiles/ProfilePaths.cs
  src/PPDS.Auth/Profiles/ProfileStore.cs
  src/PPDS.Cli/CHANGELOG.md
  src/PPDS.Cli/Commands/Auth/AuthCommandGroup.cs
  src/PPDS.Cli/Commands/Env/EnvCommandGroup.cs
  src/PPDS.Cli/Infrastructure/ProfileServiceFactory.cs
  tests/PPDS.Auth.Tests/Credentials/CredentialProviderFactoryTests.cs
  tests/PPDS.Auth.Tests/Credentials/SecureCredentialStoreTests.cs
  tests/PPDS.Auth.Tests/Profiles/AuthProfileTests.cs
  tests/PPDS.Auth.Tests/Profiles/EnvironmentInfoTests.cs
  tests/PPDS.Auth.Tests/Profiles/ProfileCollectionTests.cs
  tests/PPDS.Auth.Tests/Profiles/ProfileStoreTests.cs
  tests/PPDS.LiveTests/Cli/AuthCommandE2ETests.cs
  tests/PPDS.LiveTests/Cli/CliE2ETestBase.cs
  tests/PPDS.LiveTests/Cli/DataSchemaCommandE2ETests.cs
Due: PPDS.Auth, PPDS.Cli

feat: Claude Code configuration, commands, and security docs (#112)
  .claude/commands/fix-tests.md
  .claude/commands/release.md
  .claude/settings.json
  .claude/settings.local.example.json
  .github/FUNDING.yml
  SECURITY.md
  src/PPDS.Auth/CHANGELOG.md
  src/PPDS.Cli/CHANGELOG.md
Due: PPDS.Auth, PPDS.Cli

feat: Add structured logging and error handling infrastructure (#76, #77)
  src/PPDS.Cli/Infrastructure/Errors/ErrorCodes.cs
  src/PPDS.Cli/Infrastructure/Errors/ExceptionMapper.cs
  src/PPDS.Cli/Infrastructure/Errors/ExitCodes.cs
  src/PPDS.Cli/Infrastructure/Errors/StructuredError.cs
  src/PPDS.Cli/Infrastructure/Logging/CliLoggerOptions.cs
  src/PPDS.Cli/Infrastructure/Logging/CliLoggingExtensions.cs
  src/PPDS.Cli/Infrastructure/Logging/ConsoleJsonLoggerProvider.cs
  src/PPDS.Cli/Infrastructure/Logging/ConsoleTextLoggerProvider.cs
  src/PPDS.Cli/Infrastructure/Logging/IRpcLogger.cs
  src/PPDS.Cli/Infrastructure/Logging/LogContext.cs
  src/PPDS.Cli/Infrastructure/Output/CommandResult.cs
  src/PPDS.Cli/Infrastructure/Output/IOutputWriter.cs
  src/PPDS.Cli/Infrastructure/Output/ItemResult.cs
  src/PPDS.Cli/Infrastructure/Output/JsonOutputWriter.cs
  src/PPDS.Cli/Infrastructure/Output/TextOutputWriter.cs
  src/PPDS.Cli/Infrastructure/ServiceFactory.cs
  src/PPDS.Migration/Progress/ConsoleProgressReporter.cs
  src/PPDS.Migration/Progress/JsonProgressReporter.cs
Due: PPDS.Migration, PPDS.Cli

refactor: Migrate ExtractCommand to structured output (#76, #77)
  src/PPDS.Cli/Commands/Plugins/ExtractCommand.cs
Due: PPDS.Cli

refactor: Migrate Auth and Env commands to structured output (#76, #77)
  src/PPDS.Cli/Commands/Auth/AuthCommandGroup.cs
  src/PPDS.Cli/Commands/Env/EnvCommandGroup.cs
  src/PPDS.Cli/Infrastructure/ProfileServiceFactory.cs
  tests/PPDS.Cli.Tests/Commands/ConsoleOutputTests.cs
Due: PPDS.Cli

docs: Update CLAUDE.md with CLI output conventions and ADR-0008
  CLAUDE.md
Due: none

test: Add remaining infrastructure tests for logging and output
  scripts/Test-NewCodeCoverage.ps1
  tests/PPDS.Cli.Tests/Infrastructure/Logging/ConsoleJsonLoggerProviderTests.cs
  tests/PPDS.Cli.Tests/Infrastructure/Logging/ConsoleTextLoggerProviderTests.cs
  tests/PPDS.Cli.Tests/Infrastructure/Logging/LogContextTests.cs
  tests/PPDS.Cli.Tests/Infrastructure/Output/CommandResultTests.cs
Due: none

ci: add path filters to skip doc-only PRs
  .github/workflows/build.yml
  .github/workflows/integration-tests.yml
  .github/workflows/test.yml
Due: none

test: update E2E tests to check stderr for status messages
  tests/PPDS.LiveTests/Cli/AuthCommandE2ETests.cs
  tests/PPDS.LiveTests/Cli/DataSchemaCommandE2ETests.cs
  tests/PPDS.LiveTests/Cli/EnvCommandE2ETests.cs
Due: none

docs: add push check to /pre-pr and branch protection rule (#114)
  .claude/commands/pre-pr.md
  .claude/settings.json
  .github/workflows/build.yml
  .github/workflows/integration-tests.yml
  .github/workflows/test.yml
  CLAUDE.md
Due: none

refactor: PluginRegistrationService uses connection pool pattern
  CLAUDE.md
  src/PPDS.Cli/Commands/Plugins/CleanCommand.cs
  src/PPDS.Cli/Commands/Plugins/DeployCommand.cs
  src/PPDS.Cli/Commands/Plugins/DiffCommand.cs
  src/PPDS.Cli/Commands/Plugins/ListCommand.cs
  src/PPDS.Cli/Commands/Serve/Handlers/RpcException.cs
  src/PPDS.Cli/Commands/Serve/Handlers/RpcMethodHandler.cs
  src/PPDS.Cli/Plugins/Registration/PluginRegistrationService.cs
  tests/PPDS.Cli.Tests/Commands/Serve/RpcExceptionTests.cs
  tests/PPDS.Cli.Tests/Plugins/Registration/PluginRegistrationServiceTests.cs
Due: PPDS.Cli

test: add RpcMethodHandler DTO serialization tests
  tests/PPDS.Cli.Tests/Commands/Serve/Handlers/RpcMethodHandlerTests.cs
Due: none

ci: fix docs-only PRs blocked by required checks
  .github/workflows/build.yml
  .github/workflows/test.yml
Due: none

feat: Add CSV import command `ppds data load` (#36)
  schemas/csv-mapping.schema.json
  src/PPDS.Cli/CHANGELOG.md
  src/PPDS.Cli/Commands/Data/DataCommandGroup.cs
  src/PPDS.Cli/Commands/Data/LoadCommand.cs
  src/PPDS.Cli/CsvLoader/CsvDataLoader.cs
  src/PPDS.Cli/CsvLoader/CsvLoadOptions.cs
  src/PPDS.Cli/CsvLoader/CsvMappingConfig.cs
  src/PPDS.Cli/CsvLoader/CsvRecordParser.cs
  src/PPDS.Cli/CsvLoader/LoadResult.cs
  src/PPDS.Cli/CsvLoader/LookupResolver.cs
  src/PPDS.Cli/CsvLoader/MappingGenerator.cs
  src/PPDS.Cli/PPDS.Cli.csproj
  tests/PPDS.Cli.Tests/Commands/LoadCommandTests.cs
  tests/PPDS.Cli.Tests/CsvLoader/CsvMappingConfigTests.cs
  tests/PPDS.Cli.Tests/CsvLoader/CsvRecordParserTests.cs
Due: PPDS.Cli

feat: add keys command and comprehensive metadata DTO properties (#51)
  src/PPDS.Cli/CHANGELOG.md
  src/PPDS.Cli/Commands/Metadata/KeysCommand.cs
  src/PPDS.Cli/Commands/Metadata/MetadataCommandGroup.cs
  src/PPDS.Dataverse/CHANGELOG.md
  src/PPDS.Dataverse/Metadata/DataverseMetadataService.cs
  src/PPDS.Dataverse/Metadata/IMetadataService.cs
  src/PPDS.Dataverse/Metadata/Models/AttributeMetadataDto.cs
  src/PPDS.Dataverse/Metadata/Models/EntityKeyDto.cs
  src/PPDS.Dataverse/Metadata/Models/EntityMetadataDto.cs
  src/PPDS.Dataverse/Metadata/Models/ManyToManyRelationshipDto.cs
  src/PPDS.Dataverse/Metadata/Models/OptionSetMetadataDto.cs
  src/PPDS.Dataverse/Metadata/Models/OptionSetSummary.cs
  src/PPDS.Dataverse/Metadata/Models/OptionValueDto.cs
  src/PPDS.Dataverse/Metadata/Models/RelationshipMetadataDto.cs
  tests/PPDS.Cli.Tests/Commands/Metadata/MetadataCommandGroupTests.cs
Due: PPDS.Dataverse, PPDS.Cli

fix: extract shared RegisterDataverseServices() to prevent CLI/library DI divergence
  CLAUDE.md
  src/PPDS.Cli/Infrastructure/ProfileServiceFactory.cs
  src/PPDS.Dataverse/DependencyInjection/ServiceCollectionExtensions.cs
  tests/PPDS.Dataverse.Tests/DependencyInjection/RegisterDataverseServicesTests.cs
Due: PPDS.Dataverse, PPDS.Cli

fix: Replace generic catch with specific exception types
  src/PPDS.Cli/CsvLoader/CsvRecordParser.cs
Due: PPDS.Cli

feat: add /plan-work command for issue triage and worktree setup
  .claude/commands/plan-work.md
  .gitignore
  CLAUDE.md
Due: none

docs: Add Copilot Autofix and additional bot to review-bot-comments
  .claude/commands/review-bot-comments.md
Due: none

feat: add fail-fast timeouts to credential store and connection
  src/PPDS.Auth/Credentials/SecureCredentialStore.cs
  src/PPDS.Auth/Pooling/ProfileConnectionSource.cs
Due: PPDS.Auth

refactor: address bot review feedback
  tests/PPDS.LiveTests/Cli/CliE2ETestBase.cs
  tests/PPDS.LiveTests/Cli/PluginsCleanCommandE2ETests.cs
  tests/PPDS.LiveTests/Cli/PluginsDeployCommandE2ETests.cs
  tests/PPDS.LiveTests/Cli/PluginsDiffCommandE2ETests.cs
  tests/PPDS.LiveTests/Cli/PluginsExtractCommandE2ETests.cs
Due: none

docs: add XML documentation to SQL parser enum members
  src/PPDS.Dataverse/Sql/Ast/SqlEnums.cs
  src/PPDS.Dataverse/Sql/Ast/SqlLiteral.cs
  src/PPDS.Dataverse/Sql/Parsing/SqlTokenType.cs
Due: PPDS.Dataverse

feat: add CSV output format for query commands
  src/PPDS.Cli/CHANGELOG.md
  src/PPDS.Cli/Commands/OutputFormat.cs
  src/PPDS.Cli/Commands/Query/FetchCommand.cs
  src/PPDS.Cli/Commands/Query/SqlCommand.cs
  src/PPDS.Cli/README.md
Due: PPDS.Cli

fix: address bot review findings
  cities.csv
  cities.json
  src/PPDS.Cli/Commands/Query/FetchCommand.cs
  src/PPDS.Dataverse/Query/QueryExecutor.cs
  src/PPDS.Dataverse/Sql/Transpilation/SqlToFetchXmlTranspiler.cs
  states.csv
  states.json
Due: PPDS.Dataverse, PPDS.Cli

fix: update JSON output assertions to expect wrapper object
  tests/PPDS.LiveTests/Cli/PluginsCleanCommandE2ETests.cs
  tests/PPDS.LiveTests/Cli/PluginsDeployCommandE2ETests.cs
Due: none

fix: update Diff JSON output assertion to expect wrapper object
  tests/PPDS.LiveTests/Cli/PluginsDiffCommandE2ETests.cs
Due: none

chore: remove /prune command (promoted to workspace level) (#128)
  .claude/commands/prune.md
Due: none
