Repository joshsmithxrm/ppds-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: PPDS.Plugins, PPDS.Auth, PPDS.Dataverse, PPDS.Migration, PPDS.Cli

codecov.yml:

# Codecov Configuration
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  # Overall project coverage status
  status:
    project:
      default:
        target: 60%
        threshold: 5%  # Allow 5% drop before failing
        informational: true  # Don't block PRs (visibility only for now)

    # Patch coverage - new code should be well-tested
    patch:
      default:
        target: 80%
        informational: true  # Don't block PRs (visibility only for now)

  # Per-package thresholds using component system
  # These match the targets defined in issue #55

# Component-based coverage tracking
component_management:
  default_rules:
    statuses:
      - type: project
        informational: true
      - type: patch
        informational: true

  individual_components:
    - component_id: plugins
      name: PPDS.Plugins
      paths:
        - src/PPDS.Plugins/**
      statuses:
        - type: project
          target: 95%

    - component_id: auth
      name: PPDS.Auth
      paths:
        - src/PPDS.Auth/**
      statuses:
        - type: project
          target: 70%

    - component_id: dataverse
      name: PPDS.Dataverse
      paths:
        - src/PPDS.Dataverse/**
      statuses:
        - type: project
          target: 60%

    - component_id: migration
      name: PPDS.Migration
      paths:
        - src/PPDS.Migration/**
      statuses:
        - type: project
          target: 50%

    - component_id: cli
      name: PPDS.Cli
      paths:
        - src/PPDS.Cli/**
      statuses:
        - type: project
          target: 60%

# Ignore test projects and generated files
ignore:
  - "tests/**"
  - "**/obj/**"
  - "**/bin/**"
  - "**/*.g.cs"
  - "**/*.Designer.cs"

# PR comment configuration
comment:
  layout: "header, diff, components, footer"
  behavior: default
  require_changes: true  # Only comment when coverage changes

fix(tui): bind tab environment at creation and sync status bar on switch
  src/PPDS.Cli/Tui/Infrastructure/TuiColorPalette.cs
  src/PPDS.Cli/Tui/InteractiveSession.cs
  src/PPDS.Cli/Tui/Screens/SqlQueryScreen.cs
  src/PPDS.Cli/Tui/Screens/TuiScreenBase.cs
  src/PPDS.Cli/Tui/TuiShell.cs
  src/PPDS.Cli/Tui/Views/TabBar.cs
Due: PPDS.Cli

test(tui): add unit tests for multi-environment tab fixes
  tests/PPDS.Cli.Tests/Tui/Infrastructure/TuiColorPaletteTests.cs
  tests/PPDS.Cli.Tests/Tui/InteractiveSessionLifecycleTests.cs
  tests/PPDS.Cli.Tests/Tui/Screens/SqlQueryScreenTests.cs
  tests/PPDS.Cli.Tests/Tui/Screens/TuiScreenBaseTests.cs
  tests/PPDS.Cli.Tests/Tui/Views/TabBarTests.cs
Due: none

feat(tui): add EnvironmentConfigDialog for configuring environment label, type, and color
  src/PPDS.Cli/Tui/Dialogs/EnvironmentConfigDialog.cs
  src/PPDS.Cli/Tui/Dialogs/EnvironmentSelectorDialog.cs
Due: PPDS.Cli

fix(tui): fix tab highlight color regression and config dialog defaults
  src/PPDS.Cli/Tui/Dialogs/EnvironmentConfigDialog.cs
  src/PPDS.Cli/Tui/Views/TabBar.cs
Due: PPDS.Cli

docs: add environment config implementation plan
  docs/plans/2026-02-07-environment-config.md
Due: none

fix(tui): use config service for tab bar environment labels
  src/PPDS.Cli/Tui/TuiShell.cs
  src/PPDS.Cli/Tui/Views/TabBar.cs
  tests/PPDS.Cli.Tests/Tui/Views/TabBarTests.cs
Due: PPDS.Cli

docs: add XML documentation to IEnvironmentConfigService interface
  src/PPDS.Cli/Services/Environment/IEnvironmentConfigService.cs
Due: PPDS.Cli

feat(tui): improve environment selector UX with resolved labels, preview panel, and config access
  src/PPDS.Auth/Profiles/EnvironmentColor.cs
  src/PPDS.Auth/Profiles/EnvironmentConfigStore.cs
  src/PPDS.Cli/Tui/Dialogs/EnvironmentConfigDialog.cs
  src/PPDS.Cli/Tui/Dialogs/EnvironmentSelectorDialog.cs
  src/PPDS.Cli/Tui/TuiShell.cs
  src/PPDS.Cli/Tui/Views/TuiStatusBar.cs
Due: PPDS.Auth, PPDS.Cli

feat(tui): add Certificate Store, Username/Password auth and Rename button
  src/PPDS.Cli/Services/Profile/IProfileService.cs
  src/PPDS.Cli/Services/Profile/ProfileService.cs
  src/PPDS.Cli/Tui/Dialogs/ProfileCreationDialog.cs
  src/PPDS.Cli/Tui/Dialogs/ProfileSelectorDialog.cs
  src/PPDS.Cli/Tui/Testing/States/ProfileSelectorDialogState.cs
Due: PPDS.Cli

docs: add query engine v2 spec and implementation plan
  docs/plans/2026-02-08-query-engine-v2.md
  docs/specs/query-engine-v2.md
Due: none

feat(query): add ISqlStatement hierarchy and expression AST types
  src/PPDS.Dataverse/Sql/Ast/ISqlStatement.cs
  src/PPDS.Dataverse/Sql/Ast/SqlComputedColumn.cs
  src/PPDS.Dataverse/Sql/Ast/SqlExpression.cs
  src/PPDS.Dataverse/Sql/Ast/SqlSelectStatement.cs
  src/PPDS.Dataverse/Sql/Parsing/SqlParser.cs
  tests/PPDS.Dataverse.Tests/Sql/Ast/SqlExpressionTests.cs
  tests/PPDS.Dataverse.Tests/Sql/Ast/SqlStatementHierarchyTests.cs
Due: PPDS.Dataverse

feat(query): add FetchXmlScanNode and ProjectNode plan operators
  src/PPDS.Dataverse/Query/Planning/Nodes/FetchXmlScanNode.cs
  src/PPDS.Dataverse/Query/Planning/Nodes/ProjectNode.cs
  tests/PPDS.Dataverse.Tests/Query/Planning/Nodes/FetchXmlScanNodeTests.cs
  tests/PPDS.Dataverse.Tests/Query/Planning/Nodes/ProjectNodeTests.cs
Due: PPDS.Dataverse

feat(query): integrate execution plan layer into query pipeline
  src/PPDS.Cli/Services/Query/ISqlQueryService.cs
  src/PPDS.Cli/Services/Query/SqlQueryService.cs
  src/PPDS.Dataverse/Query/Execution/PlanExecutor.cs
  src/PPDS.Dataverse/Query/Planning/QueryPlanner.cs
  tests/PPDS.Cli.Tests/Mocks/FakeSqlQueryService.cs
  tests/PPDS.Dataverse.Tests/Query/Execution/PlanExecutorTests.cs
  tests/PPDS.Dataverse.Tests/Query/Planning/QueryPlannerTests.cs
Due: PPDS.Dataverse, PPDS.Cli

feat(query): add CASE/WHEN/THEN/ELSE and IIF expression support
  src/PPDS.Dataverse/Query/Execution/ExpressionEvaluator.cs
  src/PPDS.Dataverse/Query/Planning/QueryPlanner.cs
  src/PPDS.Dataverse/Sql/Parsing/SqlParser.cs
  src/PPDS.Dataverse/Sql/Parsing/SqlTokenType.cs
  src/PPDS.Dataverse/Sql/Transpilation/SqlToFetchXmlTranspiler.cs
  tests/PPDS.Dataverse.Tests/Query/Execution/CaseExpressionEvalTests.cs
  tests/PPDS.Dataverse.Tests/Sql/Parsing/CaseExpressionParserTests.cs
Due: PPDS.Dataverse

fix(query): re-throw OperationCanceledException in CountOptimizedNode
  src/PPDS.Dataverse/Query/Planning/Nodes/CountOptimizedNode.cs
Due: PPDS.Dataverse

feat(query): add UNION and UNION ALL support
  Directory.Packages.props
  src/PPDS.Dataverse/PPDS.Dataverse.csproj
  src/PPDS.Dataverse/Query/ITdsQueryExecutor.cs
  src/PPDS.Dataverse/Query/Planning/Nodes/ConcatenateNode.cs
  src/PPDS.Dataverse/Query/Planning/Nodes/DistinctNode.cs
  src/PPDS.Dataverse/Query/TdsCompatibilityChecker.cs
  src/PPDS.Dataverse/Query/TdsQueryExecutor.cs
  src/PPDS.Dataverse/Sql/Ast/SqlUnionStatement.cs
  tests/PPDS.Dataverse.Tests/Query/Execution/Functions/StringFunctionTests.cs
  tests/PPDS.Dataverse.Tests/Query/Planning/Nodes/ConcatenateNodeTests.cs
  tests/PPDS.Dataverse.Tests/Query/Planning/Nodes/DistinctNodeTests.cs
  tests/PPDS.Dataverse.Tests/Query/TdsQueryExecutorTests.cs
  tests/PPDS.Dataverse.Tests/Sql/Parsing/UnionParserTests.cs
Due: PPDS.Dataverse

fix(query): add CAST expression evaluation and fix STUFF test
  src/PPDS.Dataverse/Query/Execution/ExpressionEvaluator.cs
  tests/PPDS.Dataverse.Tests/Query/Execution/Functions/StringFunctionTests.cs
Due: PPDS.Dataverse

fix(query): address code review findings for Phases 2/3/3.5
  src/PPDS.Dataverse/Query/Execution/Functions/DateFunctions.cs
  src/PPDS.Dataverse/Query/Planning/Nodes/DistinctNode.cs
  src/PPDS.Dataverse/Query/Planning/QueryPlanner.cs
  src/PPDS.Dataverse/Query/Planning/Rewrites/ExistsToJoinRewrite.cs
  src/PPDS.Dataverse/Query/Planning/Rewrites/InSubqueryToJoinRewrite.cs
  src/PPDS.Dataverse/Sql/Ast/SqlSelectStatement.cs
Due: PPDS.Dataverse

feat(query): add parallel aggregate partitioning for 50K limit
  src/PPDS.Dataverse/Query/Planning/Nodes/MergeAggregateNode.cs
  src/PPDS.Dataverse/Query/Planning/Nodes/ParallelPartitionNode.cs
  src/PPDS.Dataverse/Query/Planning/Partitioning/DateRangePartitioner.cs
  tests/PPDS.Dataverse.Tests/Query/Planning/Nodes/ParallelPartitionNodeTests.cs
  tests/PPDS.Dataverse.Tests/Query/Planning/Partitioning/DateRangePartitionerTests.cs
Due: PPDS.Dataverse

docs: add SQL intellisense design plan
  docs/plans/2026-02-08-sql-intellisense-design.md
Due: none

feat(query): add INSERT/UPDATE/DELETE parsing and DML execution
  src/PPDS.Dataverse/Query/Planning/Nodes/DmlExecuteNode.cs
  src/PPDS.Dataverse/Query/Planning/QueryPlanContext.cs
  src/PPDS.Dataverse/Query/Planning/QueryPlanner.cs
  src/PPDS.Dataverse/Sql/Parsing/SqlParser.cs
  src/PPDS.Dataverse/Sql/Parsing/SqlTokenType.cs
  tests/PPDS.Dataverse.Tests/Query/Planning/DmlPlannerTests.cs
  tests/PPDS.Dataverse.Tests/Query/Planning/Nodes/DmlExecuteNodeTests.cs
  tests/PPDS.Dataverse.Tests/Query/Planning/QueryPlannerTests.cs
  tests/PPDS.Dataverse.Tests/Sql/Parsing/BetweenParserTests.cs
  tests/PPDS.Dataverse.Tests/Sql/Parsing/DeleteParserTests.cs
  tests/PPDS.Dataverse.Tests/Sql/Parsing/InsertParserTests.cs
  tests/PPDS.Dataverse.Tests/Sql/Parsing/UpdateParserTests.cs
Due: PPDS.Dataverse

feat(query): add window functions (ROW_NUMBER, RANK, DENSE_RANK)
  src/PPDS.Dataverse/Query/Planning/Nodes/ClientWindowNode.cs
  src/PPDS.Dataverse/Query/Planning/QueryPlanner.cs
  src/PPDS.Dataverse/Sql/Ast/SqlWindowExpression.cs
  src/PPDS.Dataverse/Sql/Parsing/SqlParser.cs
  src/PPDS.Dataverse/Sql/Parsing/SqlTokenType.cs
  tests/PPDS.Dataverse.Tests/Query/Planning/Nodes/ClientWindowNodeTests.cs
  tests/PPDS.Dataverse.Tests/Sql/Parsing/WindowFunctionParserTests.cs
Due: PPDS.Dataverse

feat(query): add DECLARE/SET variables and TUI progressive streaming
  src/PPDS.Cli/Services/Query/ISqlQueryService.cs
  src/PPDS.Cli/Services/Query/SqlQueryService.cs
  src/PPDS.Cli/Services/Query/SqlQueryStreamChunk.cs
  src/PPDS.Cli/Tui/Screens/SqlQueryScreen.cs
  src/PPDS.Cli/Tui/Views/QueryResultsTableView.cs
  src/PPDS.Dataverse/Query/Execution/ExpressionEvaluator.cs
  src/PPDS.Dataverse/Query/Execution/PlanExecutor.cs
  src/PPDS.Dataverse/Query/Execution/VariableScope.cs
  src/PPDS.Dataverse/Query/Planning/QueryPlanContext.cs
  src/PPDS.Dataverse/Query/Planning/QueryPlanOptions.cs
  src/PPDS.Dataverse/Sql/Ast/SqlDeclareStatement.cs
  src/PPDS.Dataverse/Sql/Ast/SqlSetVariableStatement.cs
  src/PPDS.Dataverse/Sql/Ast/SqlVariableExpression.cs
  src/PPDS.Dataverse/Sql/Parsing/SqlLexer.cs
  tests/PPDS.Cli.Tests/Mocks/FakeSqlQueryService.cs
  tests/PPDS.Dataverse.Tests/Query/Execution/StreamingExecutorTests.cs
  tests/PPDS.Dataverse.Tests/Query/Execution/VariableScopeTests.cs
  tests/PPDS.Dataverse.Tests/Sql/Parsing/VariableParserTests.cs
Due: PPDS.Dataverse, PPDS.Cli

fix(query): resolve FetchXML top+page attribute conflict
  src/PPDS.Dataverse/Query/Planning/Nodes/FetchXmlScanNode.cs
  src/PPDS.Dataverse/Query/QueryExecutor.cs
Due: PPDS.Dataverse

fix(query): fix DML row cap, INSERT SELECT ordinal mapping, and progress reporting
  src/PPDS.Dataverse/Query/Planning/Nodes/DmlExecuteNode.cs
Due: PPDS.Dataverse

fix(query): add memory bounds to ClientWindowNode and structured error codes to evaluator
  src/PPDS.Dataverse/Query/Execution/ExpressionEvaluator.cs
  src/PPDS.Dataverse/Query/Execution/VariableScope.cs
  src/PPDS.Dataverse/Query/Planning/Nodes/ClientWindowNode.cs
Due: PPDS.Dataverse

test(query): add tests for query engine v2 review fixes
  tests/PPDS.Cli.Tests/Services/Query/SqlQueryServiceTests.cs
  tests/PPDS.Dataverse.Tests/Query/Execution/VariableScopeTests.cs
  tests/PPDS.Dataverse.Tests/Query/Planning/ExplainPlanTests.cs
  tests/PPDS.Dataverse.Tests/Query/Planning/Nodes/ClientWindowNodeTests.cs
  tests/PPDS.Dataverse.Tests/Query/Planning/Nodes/DmlExecuteNodeTests.cs
  tests/PPDS.Dataverse.Tests/Query/Planning/Nodes/FetchXmlScanNodeTests.cs
  tests/PPDS.Dataverse.Tests/Query/Planning/PlanFormatterTests.cs
  tests/PPDS.Dataverse.Tests/Query/Planning/QueryPlannerTests.cs
Due: none

fix(auth): token cache scope mismatch in device code and factory mapping bug
  docs/plans/2026-02-08-auth-bugfix.md
  src/PPDS.Auth/Credentials/CredentialProviderFactory.cs
  src/PPDS.Auth/Credentials/DeviceCodeCredentialProvider.cs
  tests/PPDS.Auth.Tests/Credentials/CredentialProviderFactoryTests.cs
  tests/PPDS.Auth.Tests/Credentials/DeviceCodeCredentialProviderTests.cs
Due: PPDS.Auth

fix(query): add DML safety guard to streaming execution path
  src/PPDS.Cli/Services/Query/SqlQueryService.cs
Due: PPDS.Cli

test(query): add ExplainCommand CLI integration tests
  tests/PPDS.Cli.Tests/Commands/Query/ExplainCommandTests.cs
  tests/PPDS.Cli.Tests/Mocks/FakeSqlQueryService.cs
Due: none

test(query): add error code tests for ExpressionEvaluator exceptions
  tests/PPDS.Dataverse.Tests/Query/Execution/ErrorCodeTests.cs
Due: none

test(query): add streaming virtual column expansion test
  tests/PPDS.Cli.Tests/Services/Query/SqlQueryServiceTests.cs
Due: none

feat(auth): add explicit AuthMethod property to ProfileCreateRequest
  src/PPDS.Cli/Services/Profile/IProfileService.cs
  tests/PPDS.Cli.Tests/Services/Profile/ProfileServiceTests.cs
Due: PPDS.Cli

feat(auth): DetermineAuthMethod prefers explicit AuthMethod over inference
  src/PPDS.Cli/Services/Profile/ProfileService.cs
  tests/PPDS.Cli.Tests/Services/Profile/ProfileServiceTests.cs
Due: PPDS.Cli

feat(auth): pass beforeInteractiveAuth through profile creation flow
  src/PPDS.Cli/Services/Profile/IProfileService.cs
  src/PPDS.Cli/Services/Profile/ProfileService.cs
  src/PPDS.Cli/Tui/Dialogs/ProfileCreationDialog.cs
Due: PPDS.Cli

docs: add auth bugfix implementation plan
  docs/plans/2026-02-08-auth-bugfix.md
Due: none

fix(auth): pass session to ProfileCreationDialog and fix silent task drop
  src/PPDS.Cli/Tui/Dialogs/ProfileCreationDialog.cs
  src/PPDS.Cli/Tui/TuiShell.cs
Due: PPDS.Cli

fix(tui): pass session to ExportDialog and ClearAllProfilesDialog
  src/PPDS.Cli/Tui/Dialogs/ProfileSelectorDialog.cs
  src/PPDS.Cli/Tui/Screens/SqlQueryScreen.cs
Due: PPDS.Cli

feat(tui): add SQL syntax highlighting to query editor (Phase 1)
  src/PPDS.Cli/Tui/Infrastructure/TuiColorPalette.cs
  src/PPDS.Cli/Tui/Screens/SqlQueryScreen.cs
  src/PPDS.Cli/Tui/Views/SyntaxHighlightedTextView.cs
  src/PPDS.Dataverse/Sql/Intellisense/ISourceTokenizer.cs
  src/PPDS.Dataverse/Sql/Intellisense/SourceToken.cs
  src/PPDS.Dataverse/Sql/Intellisense/SourceTokenType.cs
  src/PPDS.Dataverse/Sql/Intellisense/SqlSourceTokenizer.cs
  tests/PPDS.Cli.Tests/Tui/SqlSourceTokenizerTests.cs
Due: PPDS.Dataverse, PPDS.Cli

feat(intellisense): add SQL validation with error highlighting (Phase 5)
  src/PPDS.Cli/Services/SqlLanguageService.cs
  src/PPDS.Cli/Tui/Views/SyntaxHighlightedTextView.cs
  src/PPDS.Dataverse/Sql/Intellisense/SqlValidator.cs
  tests/PPDS.Cli.Tests/Tui/SqlValidatorTests.cs
Due: PPDS.Dataverse, PPDS.Cli
