Repository joshsmithxrm/ppds-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: PPDS.Plugins, PPDS.Auth, PPDS.Dataverse, PPDS.Migration, PPDS.Cli

feat: add worktree selection to devcontainer shell and claude commands
  scripts/devcontainer.ps1
Due: none

fix: add git safe.directory for bind-mounted workspace and worktrees
  .devcontainer/setup.sh
Due: none

fix: mount host .gitconfig and fix worktree paths in devcontainer (#528)
  .devcontainer/devcontainer.json
  .devcontainer/setup.sh
  scripts/devcontainer.ps1
Due: none

perf: optimize devcontainer for clone-in-volume workflow
  .devcontainer/devcontainer.json
  .devcontainer/setup.sh
Due: none

perf: volume-based workspace and NuGet cache for devcontainer
  .devcontainer/devcontainer.json
  .devcontainer/setup.sh
  scripts/devcontainer.ps1
Due: none

fix: use find instead of rm -rf for sync directory cleanup
  scripts/devcontainer.ps1
Due: none

perf: volume-based devcontainer workspace for native I/O (#530)
  .devcontainer/devcontainer.json
  .devcontainer/setup.sh
  scripts/devcontainer.ps1
Due: none

feat: persist auth across containers and switch execute to F5
  .devcontainer/devcontainer.json
  scripts/devcontainer.ps1
  src/PPDS.Cli/Tui/Screens/SqlQueryScreen.cs
Due: PPDS.Cli

refactor: rename sync to send, rewrite as rsync-based file transfer
  scripts/devcontainer.ps1
Due: none

feat: add push command and fix host worktree repair for devcontainer
  .devcontainer/Dockerfile
  scripts/devcontainer.ps1
Due: none

fix: auto-rebase container branch when origin history diverges on push
  scripts/devcontainer.ps1
Due: none

fix: exclude HEAD symref from sync bundle and fix cleanup permissions
  scripts/devcontainer.ps1
Due: none

fix: delete HEAD symref before fetch and use docker exec -u 0 for cleanup
  scripts/devcontainer.ps1
Due: none

fix: address code review — error handling, ref mapping, shell escaping
  scripts/devcontainer.ps1
Due: none

feat: devcontainer git state sync (sync command + push conflict handling) (#533)
  docs/plans/2026-02-11-devcontainer-sync-design.md
  scripts/devcontainer.ps1
Due: none

fix: devcontainer obj/ files owned by root break incremental builds
  .devcontainer/devcontainer.json
  .devcontainer/setup.sh
Due: none

feat(query): Phase 1 - PPDS.Query engine with ScriptDom parser
  .claude/commands/implement.md
  Directory.Packages.props
  PPDS.sln
  src/PPDS.Cli/Commands/Data/DeleteCommand.cs
  src/PPDS.Cli/Commands/Data/UpdateCommand.cs
  src/PPDS.Cli/Commands/Serve/Handlers/RpcMethodHandler.cs
  src/PPDS.Cli/Services/Query/DmlSafetyGuard.cs
  src/PPDS.Cli/Services/Query/SqlQueryService.cs
  src/PPDS.Cli/Services/SqlLanguageService.cs
  src/PPDS.Cli/Tui/Screens/SqlQueryScreen.cs
  src/PPDS.Mcp/PPDS.Mcp.csproj
  src/PPDS.Mcp/Tools/QuerySqlTool.cs
  src/PPDS.Query/Intellisense/SqlCompletionEngine.cs
  src/PPDS.Query/Intellisense/SqlCursorContext.cs
  src/PPDS.Query/Intellisense/SqlSourceTokenizer.cs
  src/PPDS.Query/Intellisense/SqlValidator.cs
  src/PPDS.Query/PPDS.Query.csproj
  src/PPDS.Query/Parsing/QueryParseException.cs
  src/PPDS.Query/Parsing/QueryParser.cs
  src/PPDS.Query/Planning/ExecutionPlanBuilder.cs
  src/PPDS.Query/Planning/IFetchXmlGeneratorService.cs
  src/PPDS.Query/Planning/ScriptDomAdapter.cs
  src/PPDS.Query/QueryEngine.cs
  src/PPDS.Query/Transpilation/FetchXmlGenerator.cs
  src/PPDS.Query/Transpilation/FetchXmlGeneratorService.cs
  src/PPDS.Query/Transpilation/TranspileResult.cs
  tests/PPDS.Cli.Tests/Services/Query/ExplainTests.cs
  tests/PPDS.Cli.Tests/Services/Query/SqlQueryServiceTests.cs
  tests/PPDS.Query.Tests/Intellisense/SqlSourceTokenizerTests.cs
  tests/PPDS.Query.Tests/Intellisense/SqlValidatorTests.cs
  tests/PPDS.Query.Tests/PPDS.Query.Tests.csproj
  tests/PPDS.Query.Tests/Parsing/QueryParserTests.cs
  tests/PPDS.Query.Tests/Planning/ExecutionPlanBuilderTests.cs
  tests/PPDS.Query.Tests/Transpilation/FetchXmlGeneratorTests.cs
Due: PPDS.Cli

refactor(query): migrate WhileNode to CompiledPredicate, remove ClientFilterNode.LegacyCondition
  src/PPDS.Dataverse/Query/Planning/Nodes/ClientFilterNode.cs
  src/PPDS.Dataverse/Query/Planning/QueryPlanner.cs
  src/PPDS.Query/Planning/ExecutionPlanOptimizer.cs
  src/PPDS.Query/Planning/Nodes/WhileNode.cs
  tests/PPDS.Dataverse.Tests/Query/Planning/QueryPlannerTests.cs
  tests/PPDS.Query.Tests/Planning/ExecutionPlanOptimizerTests.cs
Due: PPDS.Dataverse

feat(query): Phases 5-7 - ADO.NET provider, advanced features, TUI
  .claude/commands/implement.md
  src/PPDS.Cli/Tui/Components/QueryPlanView.cs
  src/PPDS.Cli/Tui/Components/QueryTab.cs
  src/PPDS.Cli/Tui/Components/ResultComparisonView.cs
  src/PPDS.Cli/Tui/Screens/SqlQueryScreen.cs
  src/PPDS.Dataverse/Metadata/MetadataTableDefinitions.cs
  src/PPDS.Dataverse/Query/Execution/Functions/DataverseFunctions.cs
  src/PPDS.Dataverse/Query/Execution/Functions/FunctionRegistry.cs
  src/PPDS.Query/Execution/SessionContext.cs
  src/PPDS.Query/Planning/ExecutionPlanBuilder.cs
  src/PPDS.Query/Planning/Nodes/CursorNodes.cs
  src/PPDS.Query/Planning/Nodes/ExecuteMessageNode.cs
  src/PPDS.Query/Planning/Nodes/ImpersonationNode.cs
  src/PPDS.Query/Provider/DmlConfirmationEventArgs.cs
  src/PPDS.Query/Provider/PpdsConnectionStringBuilder.cs
  src/PPDS.Query/Provider/PpdsDataReader.cs
  src/PPDS.Query/Provider/PpdsDbCommand.cs
  src/PPDS.Query/Provider/PpdsDbConnection.cs
  src/PPDS.Query/Provider/PpdsDbParameter.cs
  src/PPDS.Query/Provider/PpdsDbParameterCollection.cs
  src/PPDS.Query/Provider/ProgressEventArgs.cs
  tests/PPDS.Cli.Tests/Services/Query/SqlQueryServiceTests.cs
  tests/PPDS.Cli.Tests/Tui/Components/QueryPlanViewTests.cs
  tests/PPDS.Cli.Tests/Tui/Components/QueryTabTests.cs
  tests/PPDS.Cli.Tests/Tui/Components/ResultComparisonViewTests.cs
  tests/PPDS.Dataverse.Tests/Metadata/MetadataSchemaTests.cs
  tests/PPDS.Query.Tests/Execution/SessionContextCursorTests.cs
  tests/PPDS.Query.Tests/Planning/CursorNodeTests.cs
  tests/PPDS.Query.Tests/Planning/ExecuteMessageNodeTests.cs
  tests/PPDS.Query.Tests/Planning/ImpersonationNodeTests.cs
  tests/PPDS.Query.Tests/Provider/PpdsConnectionStringBuilderTests.cs
  tests/PPDS.Query.Tests/Provider/PpdsDataReaderTests.cs
  tests/PPDS.Query.Tests/Provider/PpdsDbCommandTests.cs
  tests/PPDS.Query.Tests/Provider/PpdsDbConnectionTests.cs
  tests/PPDS.Query.Tests/Provider/PpdsDbParameterCollectionTests.cs
  tests/PPDS.Query.Tests/Provider/PpdsDbParameterTests.cs
Due: PPDS.Dataverse, PPDS.Cli

refactor(query): remove ScriptDomAdapter bridge (1,304 lines)
  src/PPDS.Query/Planning/ExecutionPlanBuilder.cs
  src/PPDS.Query/Planning/ScriptDomAdapter.cs
Due: none

refactor(query): migrate WindowSpoolNode off SqlWindowExpression to compiled delegates
  src/PPDS.Query/Planning/Nodes/WindowSpoolNode.cs
  tests/PPDS.Query.Tests/Planning/WindowFrameTests.cs
Due: none

refactor(query): migrate direct SqlParser callers to QueryParser
  src/PPDS.Cli/Commands/Data/DeleteCommand.cs
  src/PPDS.Cli/Commands/Data/UpdateCommand.cs
  src/PPDS.Cli/Commands/Query/ExplainCommand.cs
  src/PPDS.Cli/Commands/Query/SqlCommand.cs
  src/PPDS.Cli/Commands/Serve/Handlers/RpcMethodHandler.cs
  src/PPDS.Mcp/PPDS.Mcp.csproj
  src/PPDS.Mcp/Tools/QuerySqlTool.cs
Due: PPDS.Cli

feat(query): add ExpressionCompiler for ScriptDom-to-delegate compilation
  src/PPDS.Query/Execution/CompiledExpression.cs
  src/PPDS.Query/Execution/ExpressionCompiler.cs
  tests/PPDS.Query.Tests/Execution/ExpressionCompilerTests.cs
Due: none

test: add PPDS.Query.Tests project with ExecutionPlanBuilderTests
  PPDS.sln
  tests/PPDS.Query.Tests/PPDS.Query.Tests.csproj
  tests/PPDS.Query.Tests/Planning/ExecutionPlanBuilderTests.cs
Due: none

refactor(query): remove legacy AST helpers from ExecutionPlanOptimizer
  src/PPDS.Query/Planning/ExecutionPlanOptimizer.cs
  tests/PPDS.Query.Tests/Planning/ExecutionPlanOptimizerTests.cs
Due: none

refactor: migrate CLI/MCP consumers from old parser to QueryParser + FetchXmlGenerator
  src/PPDS.Cli/Commands/Data/DeleteCommand.cs
  src/PPDS.Cli/Commands/Data/UpdateCommand.cs
  src/PPDS.Cli/Commands/Serve/Handlers/RpcMethodHandler.cs
  src/PPDS.Mcp/PPDS.Mcp.csproj
  src/PPDS.Mcp/Tools/QuerySqlTool.cs
Due: PPDS.Cli

docs(query): fix stale XML doc cref references to deleted types
  src/PPDS.Query/Execution/ExpressionCompiler.cs
  src/PPDS.Query/Planning/ExecutionPlanBuilder.cs
Due: none

refactor(query): migrate ClientWindowNode to compiled delegates
  src/PPDS.Dataverse/Query/Planning/Nodes/ClientWindowNode.cs
  src/PPDS.Dataverse/Query/Planning/QueryPlanner.cs
  src/PPDS.Query/Planning/ExecutionPlanBuilder.cs
  tests/PPDS.Dataverse.Tests/Query/Planning/Nodes/ClientWindowNodeTests.cs
  tests/PPDS.Query.Tests/Planning/ExecutionPlanBuilderTests.cs
Due: PPDS.Dataverse

feat(query): Complete remaining v3 plan gaps
  src/PPDS.Dataverse/Query/Execution/ExpressionEvaluator.cs
  src/PPDS.Dataverse/Query/Execution/Functions/ErrorFunctions.cs
  src/PPDS.Dataverse/Query/Planning/Nodes/ClientAggregateNode.cs
  src/PPDS.Dataverse/Query/Planning/Nodes/ScriptExecutionNode.cs
  src/PPDS.Dataverse/Query/Planning/QueryPlanner.cs
  src/PPDS.Dataverse/Sql/Ast/SqlTryCatchStatement.cs
  src/PPDS.Query/Planning/ExecutionPlanBuilder.cs
  src/PPDS.Query/Planning/Nodes/MergeNode.cs
  src/PPDS.Query/Planning/Nodes/StringSplitNode.cs
  src/PPDS.Query/Planning/ScriptDomAdapter.cs
  tests/PPDS.Query.Tests/Planning/MergeNodeTests.cs
  tests/PPDS.Query.Tests/Planning/StdevVarTests.cs
  tests/PPDS.Query.Tests/Planning/StringSplitNodeTests.cs
  tests/PPDS.Query.Tests/Planning/TryCatchTests.cs
Due: PPDS.Dataverse

refactor(query): replace ScriptExecutionNode with ScriptDom types
  src/PPDS.Dataverse/Query/Planning/QueryPlanner.cs
  src/PPDS.Query/Planning/ExecutionPlanBuilder.cs
  src/PPDS.Query/Planning/Nodes/ScriptExecutionNode.cs
  tests/PPDS.Dataverse.Tests/Query/Planning/Nodes/ScriptExecutionNodeTests.cs
  tests/PPDS.Query.Tests/Planning/ScriptExecutionNodeTests.cs
  tests/PPDS.Query.Tests/Planning/TryCatchTests.cs
Due: PPDS.Dataverse

docs(query): add Wave 2 implementation plans for JOIN completeness and safety settings
  docs/plans/2026-02-11-join-completeness.md
  docs/plans/2026-02-11-safety-settings-tds-ui.md
Due: none

feat(auth): add QuerySafetySettings to EnvironmentConfig
  src/PPDS.Auth/Profiles/EnvironmentConfig.cs
  src/PPDS.Auth/Profiles/QuerySafetySettings.cs
  tests/PPDS.Cli.Tests/Services/Environment/EnvironmentConfigStoreTests.cs
Due: PPDS.Auth

feat(query): add CUME_DIST and PERCENT_RANK to WindowSpoolNode
  src/PPDS.Query/Planning/Nodes/WindowSpoolNode.cs
  tests/PPDS.Query.Tests/Planning/WindowSpoolNodeTests.cs
Due: none

feat(query): add ISNULL, COALESCE, and NULLIF expression support
  src/PPDS.Dataverse/Query/Execution/Functions/FunctionRegistry.cs
  src/PPDS.Dataverse/Query/Execution/Functions/NullFunctions.cs
  src/PPDS.Query/Execution/ExpressionCompiler.cs
  tests/PPDS.Query.Tests/Execution/ExpressionCompilerTests.cs
Due: PPDS.Dataverse

feat(query): add derived table (subquery in FROM) support
  src/PPDS.Query/Planning/ExecutionPlanBuilder.cs
  tests/PPDS.Query.Tests/Planning/ExecutionPlanBuilderTests.cs
Due: none

feat(query): add RANK and DENSE_RANK to WindowSpoolNode
  src/PPDS.Query/Planning/Nodes/WindowSpoolNode.cs
  tests/PPDS.Query.Tests/Planning/WindowSpoolNodeTests.cs
Due: none

docs(query): add query engine parity & platform hardening design
  docs/plans/2026-02-10-query-engine-parity-design.md
Due: none

feat(query): add TableSpoolNode for in-memory result materialization
  src/PPDS.Query/Planning/Nodes/TableSpoolNode.cs
  tests/PPDS.Query.Tests/Planning/TableSpoolNodeTests.cs
Due: none

feat(query): add IndexSpoolNode for correlated subquery caching
  src/PPDS.Query/Planning/Nodes/IndexSpoolNode.cs
  tests/PPDS.Query.Tests/Planning/IndexSpoolNodeTests.cs
Due: none

Path conditions:
  PPDS.Plugins: any of: src/PPDS.Plugins/**, but not: tests/**, **/obj/**, **/bin/**, **/*.g.cs, **/*.Designer.cs
  PPDS.Auth: any of: src/PPDS.Auth/**, but not: tests/**, **/obj/**, **/bin/**, **/*.g.cs, **/*.Designer.cs
  PPDS.Dataverse: any of: src/PPDS.Dataverse/**, but not: tests/**, **/obj/**, **/bin/**, **/*.g.cs, **/*.Designer.cs
  PPDS.Migration: any of: src/PPDS.Migration/**, but not: tests/**, **/obj/**, **/bin/**, **/*.g.cs, **/*.Designer.cs
  PPDS.Cli: any of: src/PPDS.Cli/**, but not: tests/**, **/obj/**, **/bin/**, **/*.g.cs, **/*.Designer.cs
