Repository joshsmithxrm/ppds-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: PPDS.Plugins, PPDS.Auth, PPDS.Dataverse, PPDS.Migration, PPDS.Cli

fix(tui): resolve hotkey conflicts and improve status bar readability
  src/PPDS.Cli/Tui/Dialogs/ErrorDetailsDialog.cs
  src/PPDS.Cli/Tui/Infrastructure/TuiColorPalette.cs
Due: PPDS.Cli

docs(tui-e2e): add nvm-windows installation instructions
  tests/tui-e2e/README.md
Due: none

fix(tui): use semantic version and fix URL truncation in AboutDialog
  src/PPDS.Cli/Tui/Dialogs/AboutDialog.cs
Due: PPDS.Cli

fix(tui): defer SetFocus to Ready event for cursor positioning
  src/PPDS.Cli/Tui/Dialogs/ProfileCreationDialog.cs
Due: PPDS.Cli

fix(tui): adjust AboutDialog layout to prevent overlap
  src/PPDS.Cli/Tui/Dialogs/AboutDialog.cs
Due: PPDS.Cli

feat(tui): add interactive status bar with profile/environment switching
  src/PPDS.Cli/Tui/Dialogs/EnvironmentSelectorDialog.cs
  src/PPDS.Cli/Tui/Dialogs/ProfileSelectorDialog.cs
  src/PPDS.Cli/Tui/InteractiveSession.cs
  src/PPDS.Cli/Tui/MainWindow.cs
  src/PPDS.Cli/Tui/Screens/SqlQueryScreen.cs
  src/PPDS.Cli/Tui/Views/TuiStatusBar.cs
Due: PPDS.Cli

fix(tui): use block cursor for text field visibility
  src/PPDS.Cli/Tui/Infrastructure/TuiColorPalette.cs
  src/PPDS.Cli/Tui/PpdsApplication.cs
Due: PPDS.Cli

fix(tui): remove trailing slash from docs URL for consistency
  src/PPDS.Cli/Tui/Dialogs/AboutDialog.cs
Due: PPDS.Cli

fix(tui): prevent cross-key global hotkey race condition causing crash
  src/PPDS.Cli/Tui/Infrastructure/HotkeyRegistry.cs
Due: PPDS.Cli

chore(tui-e2e): pin Node 20 LTS and add setup docs
  tests/tui-e2e/.nvmrc
  tests/tui-e2e/README.md
  tests/tui-e2e/package.json
Due: none

feat(tui): implement ITuiStateCapture on all dialogs
  src/PPDS.Cli/Tui/Dialogs/AboutDialog.cs
  src/PPDS.Cli/Tui/Dialogs/ClearAllProfilesDialog.cs
  src/PPDS.Cli/Tui/Dialogs/EnvironmentDetailsDialog.cs
  src/PPDS.Cli/Tui/Dialogs/EnvironmentSelectorDialog.cs
  src/PPDS.Cli/Tui/Dialogs/ExportDialog.cs
  src/PPDS.Cli/Tui/Dialogs/KeyboardShortcutsDialog.cs
  src/PPDS.Cli/Tui/Dialogs/PreAuthenticationDialog.cs
  src/PPDS.Cli/Tui/Dialogs/ProfileCreationDialog.cs
  src/PPDS.Cli/Tui/Dialogs/ProfileDetailsDialog.cs
  src/PPDS.Cli/Tui/Dialogs/QueryHistoryDialog.cs
Due: PPDS.Cli

fix(tui): prevent accidental menu item selection and crash on quit
  src/PPDS.Cli/Tui/Dialogs/KeyboardShortcutsDialog.cs
  src/PPDS.Cli/Tui/Infrastructure/HotkeyRegistry.cs
  src/PPDS.Cli/Tui/TuiShell.cs
  tests/PPDS.Cli.Tests/Tui/Dialogs/DialogStateCaptureTests.cs
Due: PPDS.Cli

test(tui-e2e): update snapshots for status line and centered empty state
  tests/tui-e2e/tests/__snapshots__/sql-query.spec.ts.snap
Due: none

test(tui-e2e): update snapshots for status bar and focus fixes
  tests/tui-e2e/tests/__snapshots__/sql-query.spec.ts.snap
  tests/tui-e2e/tests/__snapshots__/startup.spec.ts.snap
Due: none

fix(tui): handle Ctrl+A directly on TextView to intercept before default
  src/PPDS.Cli/Tui/Screens/SqlQueryScreen.cs
Due: PPDS.Cli

fix(tui): set environment URL synchronously to fix status bar connection bug
  src/PPDS.Cli/Tui/InteractiveSession.cs
Due: PPDS.Cli

fix(tui): remove global menu item hotkeys, keep menu bar hotkeys only
  src/PPDS.Cli/Tui/Screens/SqlQueryScreen.cs
  src/PPDS.Cli/Tui/TuiShell.cs
Due: PPDS.Cli

feat(tui): add TuiDialog base class for standardized dialog behavior
  src/PPDS.Cli/Tui/Dialogs/TuiDialog.cs
Due: PPDS.Cli

fix(tui): fix filter functionality and add status auto-restore
  src/PPDS.Cli/Tui/Views/QueryResultsTableView.cs
Due: PPDS.Cli

refactor(tui): migrate all dialogs to TuiDialog base class
  src/PPDS.Cli/Tui/Dialogs/AboutDialog.cs
  src/PPDS.Cli/Tui/Dialogs/ClearAllProfilesDialog.cs
  src/PPDS.Cli/Tui/Dialogs/EnvironmentDetailsDialog.cs
  src/PPDS.Cli/Tui/Dialogs/EnvironmentSelectorDialog.cs
  src/PPDS.Cli/Tui/Dialogs/ErrorDetailsDialog.cs
  src/PPDS.Cli/Tui/Dialogs/ExportDialog.cs
  src/PPDS.Cli/Tui/Dialogs/KeyboardShortcutsDialog.cs
  src/PPDS.Cli/Tui/Dialogs/PreAuthenticationDialog.cs
  src/PPDS.Cli/Tui/Dialogs/ProfileCreationDialog.cs
  src/PPDS.Cli/Tui/Dialogs/ProfileDetailsDialog.cs
  src/PPDS.Cli/Tui/Dialogs/ProfileSelectorDialog.cs
  src/PPDS.Cli/Tui/Dialogs/QueryHistoryDialog.cs
Due: PPDS.Cli

test(tui): add dialog state capture unit tests
  tests/PPDS.Cli.Tests/Tui/Dialogs/DialogStateCaptureTests.cs
Due: none

fix(tui): properly fix status line and No data centering
  src/PPDS.Cli/Tui/Views/QueryResultsTableView.cs
  src/PPDS.Cli/Tui/Views/TuiStatusLine.cs
Due: PPDS.Cli

fix(tui): rewrite status bar with direct rendering for reliable mouse handling
  src/PPDS.Cli/Tui/Views/TuiStatusBar.cs
Due: PPDS.Cli

fix(tui): resolve UX review issues round 2
  src/PPDS.Cli/Tui/Screens/SqlQueryScreen.cs
  src/PPDS.Cli/Tui/Views/QueryResultsTableView.cs
  src/PPDS.Cli/Tui/Views/TuiStatusBar.cs
  src/PPDS.Cli/Tui/Views/TuiStatusLine.cs
Due: PPDS.Cli

refactor(tui): implement shell architecture with persistent menu/status bar
  src/PPDS.Cli/Tui/MainWindow.cs
  src/PPDS.Cli/Tui/PpdsApplication.cs
  src/PPDS.Cli/Tui/Screens/ITuiScreen.cs
  src/PPDS.Cli/Tui/Screens/SqlQueryScreen.cs
  src/PPDS.Cli/Tui/Testing/States/MainWindowState.cs
  src/PPDS.Cli/Tui/Testing/States/TuiShellState.cs
  src/PPDS.Cli/Tui/TuiShell.cs
Due: PPDS.Cli

fix(tui): restore status bar click handling with custom MouseEvent
  src/PPDS.Cli/Tui/Views/TuiStatusBar.cs
Due: PPDS.Cli

fix(tui): apply color scheme recursively to SaveDialog subviews
  src/PPDS.Cli/Tui/Dialogs/ExportDialog.cs
Due: PPDS.Cli

fix(auth): always update LastUsedAt on profile use
  src/PPDS.Auth/Pooling/ProfileConnectionSource.cs
Due: PPDS.Auth

fix(auth): handle full DisplayIdentifier format in profile lookups
  src/PPDS.Auth/Profiles/ProfileCollection.cs
  src/PPDS.Cli/Commands/Auth/AuthCommandGroup.cs
  src/PPDS.Cli/Commands/Serve/Handlers/RpcMethodHandler.cs
  src/PPDS.Cli/Infrastructure/ProfileServiceFactory.cs
  src/PPDS.Cli/Tui/Dialogs/ProfileSelectorDialog.cs
  tests/PPDS.Auth.Tests/Profiles/ProfileCollectionTests.cs
Due: PPDS.Auth, PPDS.Cli

fix(tui): fix FetchXML preview compile error and update E2E tests
  src/PPDS.Cli/Tui/Screens/SqlQueryScreen.cs
  tests/tui-e2e/tests/__snapshots__/sql-query.spec.ts.snap
  tests/tui-e2e/tests/__snapshots__/startup.spec.ts.snap
  tests/tui-e2e/tests/sql-query.spec.ts
  tests/tui-e2e/tests/startup.spec.ts
Due: PPDS.Cli

fix(tui): enforce black text on blue/cyan backgrounds
  CLAUDE.md
  src/PPDS.Cli/Tui/Dialogs/FetchXmlPreviewDialog.cs
  src/PPDS.Cli/Tui/Infrastructure/TuiColorPalette.cs
  tests/PPDS.Cli.Tests/Tui/Infrastructure/TuiColorPaletteTests.cs
Due: PPDS.Cli

fix(tui): show loading spinner when navigating to SQL Query screen
  src/PPDS.Cli/Tui/TuiShell.cs
Due: PPDS.Cli

fix(tui): center 'No data' label in query results
  src/PPDS.Cli/Tui/Views/QueryResultsTableView.cs
Due: PPDS.Cli

fix(tui): catch MainLoop.Invoke exceptions and log to error service
  src/PPDS.Cli/Tui/Infrastructure/MainLoopExtensions.cs
  src/PPDS.Cli/Tui/PpdsApplication.cs
  src/PPDS.Cli/Tui/Screens/SqlQueryScreen.cs
  src/PPDS.Cli/Tui/Views/QueryResultConverter.cs
  tests/PPDS.Cli.Tests/Tui/Views/QueryResultConverterTests.cs
Due: PPDS.Cli

fix: address CodeQL and Copilot code review findings
  src/PPDS.Cli/Services/Query/SqlQueryResultExpander.cs
  src/PPDS.Cli/Tui/Dialogs/ProfileCreationDialog.cs
  src/PPDS.Cli/Tui/Infrastructure/TuiColorPalette.cs
  src/PPDS.Cli/Tui/TuiShell.cs
  tests/PPDS.Cli.Tests/Services/Query/SqlQueryResultExpanderTests.cs
Due: PPDS.Cli

refactor: remove BacklogService and /backlog command
  .claude/commands/backlog.md
  CLAUDE.md
  src/PPDS.Cli/Commands/Backlog/BacklogCommandGroup.cs
  src/PPDS.Cli/Program.cs
  src/PPDS.Cli/Services/Backlog/BacklogData.cs
  src/PPDS.Cli/Services/Backlog/BacklogService.cs
  src/PPDS.Cli/Services/Backlog/IBacklogService.cs
  src/PPDS.Cli/Services/ServiceRegistration.cs
Due: PPDS.Cli

docs: trim CLAUDE.md to <100 lines
  CLAUDE.md
Due: none

docs: remove .claude/workflows - archived to vault DocsCleanup
  .claude/workflows/terminology.md
  .claude/workflows/ui-development.md
Due: none

docs: update changelogs for beta.12 release
  src/PPDS.Auth/CHANGELOG.md
  src/PPDS.Cli/CHANGELOG.md
Due: PPDS.Auth, PPDS.Cli

Path conditions:
  PPDS.Plugins: any of: src/PPDS.Plugins/**, but not: tests/**, **/obj/**, **/bin/**, **/*.g.cs, **/*.Designer.cs
  PPDS.Auth: any of: src/PPDS.Auth/**, but not: tests/**, **/obj/**, **/bin/**, **/*.g.cs, **/*.Designer.cs
  PPDS.Dataverse: any of: src/PPDS.Dataverse/**, but not: tests/**, **/obj/**, **/bin/**, **/*.g.cs, **/*.Designer.cs
  PPDS.Migration: any of: src/PPDS.Migration/**, but not: tests/**, **/obj/**, **/bin/**, **/*.g.cs, **/*.Designer.cs
  PPDS.Cli: any of: src/PPDS.Cli/**, but not: tests/**, **/obj/**, **/bin/**, **/*.g.cs, **/*.Designer.cs
