Repository joshsmithxrm/ppds-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: PPDS.Plugins, PPDS.Auth, PPDS.Dataverse, PPDS.Migration, PPDS.Cli

codecov.yml:

# Codecov Configuration
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  # Overall project coverage status
  status:
    project:
      default:
        target: 60%
        threshold: 5%  # Allow 5% drop before failing
        informational: true  # Don't block PRs (visibility only for now)

    # Patch coverage - new code should be well-tested
    patch:
      default:
        target: 80%
        informational: true  # Don't block PRs (visibility only for now)

  # Per-package thresholds using component system
  # These match the targets defined in issue #55

# Component-based coverage tracking
component_management:
  default_rules:
    statuses:
      - type: project
        informational: true
      - type: patch
        informational: true

  individual_components:
    - component_id: plugins
      name: PPDS.Plugins
      paths:
        - src/PPDS.Plugins/**
      statuses:
        - type: project
          target: 95%

    - component_id: auth
      name: PPDS.Auth
      paths:
        - src/PPDS.Auth/**
      statuses:
        - type: project
          target: 70%

    - component_id: dataverse
      name: PPDS.Dataverse
      paths:
        - src/PPDS.Dataverse/**
      statuses:
        - type: project
          target: 60%

    - component_id: migration
      name: PPDS.Migration
      paths:
        - src/PPDS.Migration/**
      statuses:
        - type: project
          target: 50%

    - component_id: cli
      name: PPDS.Cli
      paths:
        - src/PPDS.Cli/**
      statuses:
        - type: project
          target: 60%

# Ignore test projects and generated files
ignore:
  - "tests/**"
  - "**/obj/**"
  - "**/bin/**"
  - "**/*.g.cs"
  - "**/*.Designer.cs"

# PR comment configuration
comment:
  layout: "header, diff, components, footer"
  behavior: default
  require_changes: true  # Only comment when coverage changes

fix: Use ASCII text for arrow key hint instead of Unicode symbols
  src/PPDS.Cli/Interactive/Wizards/SqlQueryWizard.cs
Due: PPDS.Cli

test: Add unit tests for QueryHistory, RecordNavigationState, and FieldGrouper
  tests/PPDS.Cli.Tests/Interactive/Components/QueryHistoryTests.cs
  tests/PPDS.Cli.Tests/Interactive/Components/QueryResults/FieldGrouperTests.cs
  tests/PPDS.Cli.Tests/Interactive/Components/QueryResults/RecordNavigationStateTests.cs
Due: none

feat: Add interactive table view with keyboard navigation
  src/PPDS.Cli/Interactive/Components/QueryResults/InteractiveTableState.cs
  src/PPDS.Cli/Interactive/Components/QueryResults/InteractiveTableView.cs
  src/PPDS.Cli/Interactive/Components/QueryResults/QueryResultsViewer.cs
  src/PPDS.Cli/Interactive/Components/QueryResults/TableInputHandler.cs
  src/PPDS.Cli/Interactive/Components/QueryResults/TableView.cs
  src/PPDS.Cli/Interactive/Components/QueryResults/TableViewport.cs
Due: PPDS.Cli

fix: address bot review findings
  src/PPDS.Cli/Commands/ImportJobs/DataCommand.cs
  src/PPDS.Cli/Commands/ImportJobs/ImportJobsCommandGroup.cs
  src/PPDS.Cli/Commands/Solutions/SolutionsCommandGroup.cs
Due: PPDS.Cli

test: update tests to match -e alias for environment option
  tests/PPDS.Cli.Tests/Commands/ImportJobs/ImportJobsCommandGroupTests.cs
  tests/PPDS.Cli.Tests/Commands/Solutions/SolutionsCommandGroupTests.cs
Due: none

feat: Add Phase 2 foundation - early-bound entities and Power Platform tokens (#149, #150)
  CLAUDE.md
  scripts/Generate-EarlyBoundModels.ps1
  src/PPDS.Auth/CHANGELOG.md
  src/PPDS.Auth/Cloud/CloudEndpoints.cs
  src/PPDS.Auth/Credentials/IPowerPlatformTokenProvider.cs
  src/PPDS.Auth/Credentials/PowerPlatformTokenProvider.cs
  src/PPDS.Dataverse/CHANGELOG.md
  src/PPDS.Dataverse/Generated/.editorconfig
  src/PPDS.Dataverse/Generated/Entities/asyncoperation.cs
  src/PPDS.Dataverse/Generated/Entities/connectionreference.cs
  src/PPDS.Dataverse/Generated/Entities/systemuser.cs
  src/PPDS.Dataverse/Generated/Entities/workflow.cs
  src/PPDS.Dataverse/Generated/OptionSets/workflow_runas.cs
  src/PPDS.Dataverse/Generated/OptionSets/workflow_stage.cs
  tests/PPDS.Auth.Tests/Cloud/CloudEndpointsTests.cs
  tests/PPDS.Auth.Tests/Credentials/PowerPlatformTokenProviderTests.cs
Due: PPDS.Auth, PPDS.Dataverse

fix: CMT import compatibility - number, bigint, and partylist types
  src/PPDS.Migration/CHANGELOG.md
  src/PPDS.Migration/Formats/CmtDataReader.cs
  tests/PPDS.Migration.Tests/Formats/CmtDataReaderTests.cs
Due: PPDS.Migration

fix: CMT import compatibility - user fallback, bulk ops, and optionsetvalue
  src/PPDS.Cli/Commands/Data/ImportCommand.cs
  src/PPDS.Migration/Formats/CmtDataReader.cs
  src/PPDS.Migration/Import/ImportOptions.cs
  src/PPDS.Migration/Import/TieredImporter.cs
Due: PPDS.Migration, PPDS.Cli

fix: pool exhaustion under concurrent bulk operations
  docs/adr/0015_POOL_MANAGED_CONCURRENCY.md
  src/PPDS.Dataverse/BulkOperations/BulkOperationExecutor.cs
  src/PPDS.Dataverse/CHANGELOG.md
  src/PPDS.Migration/CHANGELOG.md
  src/PPDS.Migration/Formats/CmtDataReader.cs
  tests/PPDS.Migration.Tests/Formats/CmtDataReaderTests.cs
Due: PPDS.Dataverse, PPDS.Migration

fix: limit parallel batch execution to pool capacity
  src/PPDS.Dataverse/BulkOperations/BulkOperationExecutor.cs
Due: PPDS.Dataverse

fix: resolve M2M relationship names and improve bulk fallback logging
  src/PPDS.Migration/Import/RelationshipProcessor.cs
  src/PPDS.Migration/Import/TieredImporter.cs
Due: PPDS.Migration

chore: add /monitor-import command for tracking import progress
  .claude/commands/monitor-import.md
Due: none

fix: make M2M import idempotent by treating duplicate associations as success
  src/PPDS.Migration/CHANGELOG.md
  src/PPDS.Migration/Import/RelationshipProcessor.cs
Due: PPDS.Migration

feat: import diagnostics enhancements (ADR-0018)
  docs/adr/0018_IMPORT_DIAGNOSTICS_ARCHITECTURE.md
  src/PPDS.Cli/CHANGELOG.md
  src/PPDS.Cli/Commands/Data/ImportCommand.cs
  src/PPDS.Cli/Commands/ErrorOutput.cs
  src/PPDS.Cli/Program.cs
  src/PPDS.Dataverse/BulkOperations/BulkOperationExecutor.cs
  src/PPDS.Dataverse/BulkOperations/BulkOperationResult.cs
  src/PPDS.Dataverse/CHANGELOG.md
  src/PPDS.Migration/CHANGELOG.md
  src/PPDS.Migration/Import/TieredImporter.cs
  src/PPDS.Migration/Progress/ErrorReport.cs
  src/PPDS.Migration/Progress/ErrorReportWriter.cs
Due: PPDS.Dataverse, PPDS.Migration, PPDS.Cli

test: add tests for new import diagnostics and truncate command
  .claude/commands/monitor-import.md
  src/PPDS.Cli/CHANGELOG.md
  tests/PPDS.Cli.Tests/Commands/Data/TruncateCommandTests.cs
  tests/PPDS.Dataverse.Tests/BulkOperations/BatchFailureDiagnosticTests.cs
  tests/PPDS.Dataverse.Tests/BulkOperations/BatchParallelismCoordinatorTests.cs
  tests/PPDS.Migration.Tests/Progress/ErrorReportTests.cs
  tests/PPDS.Migration.Tests/Progress/ErrorReportWriterTests.cs
Due: PPDS.Cli

fix: import compatibility issues for self-referencing entities and error accounting
  src/PPDS.Cli/Commands/ErrorOutput.cs
  src/PPDS.Dataverse/BulkOperations/BulkOperationExecutor.cs
  src/PPDS.Migration/Analysis/DependencyGraphBuilder.cs
  src/PPDS.Migration/Import/TieredImporter.cs
Due: PPDS.Dataverse, PPDS.Migration, PPDS.Cli

fix: pool exhaustion under concurrent bulk operations
  .claude/commands/install-cli.md
  src/PPDS.Dataverse/BulkOperations/BulkOperationExecutor.cs
  src/PPDS.Dataverse/CHANGELOG.md
  src/PPDS.Dataverse/Pooling/ConnectionPoolOptions.cs
  tests/PPDS.Dataverse.Tests/Pooling/PoolSizingTests.cs
Due: PPDS.Dataverse

perf: parallelize M2M import and use bulk APIs for deferred fields
  src/PPDS.Migration/CHANGELOG.md
  src/PPDS.Migration/Import/DeferredFieldProcessor.cs
  src/PPDS.Migration/Import/RelationshipProcessor.cs
Due: PPDS.Migration

docs: release prep - changelogs, interactive command visibility
  src/PPDS.Auth/CHANGELOG.md
  src/PPDS.Cli/CHANGELOG.md
  src/PPDS.Cli/Commands/InteractiveCommand.cs
  src/PPDS.Cli/Program.cs
  src/PPDS.Cli/README.md
  src/PPDS.Dataverse/CHANGELOG.md
  src/PPDS.Migration/CHANGELOG.md
Due: PPDS.Auth, PPDS.Dataverse, PPDS.Migration, PPDS.Cli

docs: Release prep - Dataverse beta.4, Migration beta.5, Auth beta.5, Cli beta.10 (#203)
  src/PPDS.Auth/CHANGELOG.md
  src/PPDS.Cli/CHANGELOG.md
  src/PPDS.Cli/Commands/InteractiveCommand.cs
  src/PPDS.Cli/Interactive/InteractiveCli.cs
  src/PPDS.Cli/Program.cs
  src/PPDS.Cli/README.md
  src/PPDS.Dataverse/CHANGELOG.md
  src/PPDS.Migration/CHANGELOG.md
Due: PPDS.Auth, PPDS.Dataverse, PPDS.Migration, PPDS.Cli

feat(tui): enhance table view with cell navigation, help overlay, and visual improvements
  src/PPDS.Cli/Interactive/Components/ContextPanel.cs
  src/PPDS.Cli/Interactive/Components/QueryResults/InteractiveTableState.cs
  src/PPDS.Cli/Interactive/Components/QueryResults/InteractiveTableView.cs
  src/PPDS.Cli/Interactive/Components/QueryResults/QueryResultsViewer.cs
  src/PPDS.Cli/Interactive/Components/QueryResults/RecordNavigationState.cs
  src/PPDS.Cli/Interactive/Components/QueryResults/RecordView.cs
  src/PPDS.Cli/Interactive/Components/QueryResults/TableInputHandler.cs
  src/PPDS.Cli/Interactive/Components/QueryResults/TableViewport.cs
  src/PPDS.Cli/Interactive/Wizards/SqlQueryWizard.cs
  src/PPDS.Cli/PPDS.Cli.csproj
Due: PPDS.Cli

fix(tui): correct off-by-one error in row highlight calculation
  src/PPDS.Cli/Interactive/Components/QueryResults/TableViewport.cs
Due: PPDS.Cli

fix(tui): implement custom menu with cursor memory in RecordView
  src/PPDS.Cli/Interactive/Components/QueryResults/RecordView.cs
Due: PPDS.Cli

fix(tui): add Escape key binding to go back from SQL input
  src/PPDS.Cli/Interactive/Wizards/SqlQueryWizard.cs
Due: PPDS.Cli

refactor(tui): extract LineEditor defaults to shared extension
  src/PPDS.Cli/Interactive/LineEditorExtensions.cs
  src/PPDS.Cli/Interactive/Wizards/SqlQueryWizard.cs
Due: PPDS.Cli

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

fix(tui): remove unused positioning variables in help overlay
  src/PPDS.Cli/Interactive/Components/QueryResults/TableViewport.cs
Due: PPDS.Cli

feat(tui): enhance interactive table view with cell navigation and UX improvements (#225)
  src/PPDS.Cli/Interactive/Components/ContextPanel.cs
  src/PPDS.Cli/Interactive/Components/QueryResults/InteractiveTableState.cs
  src/PPDS.Cli/Interactive/Components/QueryResults/InteractiveTableView.cs
  src/PPDS.Cli/Interactive/Components/QueryResults/QueryResultsViewer.cs
  src/PPDS.Cli/Interactive/Components/QueryResults/RecordNavigationState.cs
  src/PPDS.Cli/Interactive/Components/QueryResults/RecordView.cs
  src/PPDS.Cli/Interactive/Components/QueryResults/TableInputHandler.cs
  src/PPDS.Cli/Interactive/Components/QueryResults/TableViewport.cs
  src/PPDS.Cli/Interactive/LineEditorExtensions.cs
  src/PPDS.Cli/Interactive/Wizards/SqlQueryWizard.cs
  src/PPDS.Cli/PPDS.Cli.csproj
Due: PPDS.Cli

test: Add unit tests for Phase 2 CLI commands
  tests/PPDS.Cli.Tests/Commands/ConnectionReferences/ConnectionsCommandTests.cs
  tests/PPDS.Cli.Tests/Commands/ConnectionReferences/FlowsCommandTests.cs
  tests/PPDS.Cli.Tests/Commands/ConnectionReferences/GetCommandTests.cs
  tests/PPDS.Cli.Tests/Commands/Connections/GetCommandTests.cs
  tests/PPDS.Cli.Tests/Commands/DeploymentSettings/GenerateCommandTests.cs
  tests/PPDS.Cli.Tests/Commands/DeploymentSettings/SyncCommandTests.cs
  tests/PPDS.Cli.Tests/Commands/DeploymentSettings/ValidateCommandTests.cs
  tests/PPDS.Cli.Tests/Commands/Flows/GetCommandTests.cs
  tests/PPDS.Cli.Tests/Commands/Flows/UrlCommandTests.cs
  tests/PPDS.Cli.Tests/Services/ConnectionServiceTests.cs
Due: none

fix: use draft releases to attach CLI binaries before publishing
  .github/workflows/release-cli.yml
  src/PPDS.Cli/CHANGELOG.md
Due: PPDS.Cli

fix: address additional bot review comments on PR #209
  .claude/commands/release.md
  .github/workflows/release-cli.yml
Due: none

chore: temporarily disable Claude code review workflow
  .github/workflows/claude-code-review.yml
Due: none

docs: update CLI changelog and README for beta.11 release
  src/PPDS.Cli/CHANGELOG.md
  src/PPDS.Cli/README.md
Due: PPDS.Cli

feat: add GitHub issue triage system with /triage command
  .claude/commands/triage.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  CLAUDE.md
  docs/FEATURE_ROADMAP.md
  docs/ROADMAP.md
Due: none

docs: update CLI changelog and README for beta.11 release (#228)
  .github/workflows/build.yml
  .github/workflows/integration-tests.yml
  .github/workflows/test.yml
  src/PPDS.Cli/CHANGELOG.md
  src/PPDS.Cli/README.md
Due: PPDS.Cli
