Repository joshsmithxrm/ppds-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: PPDS.Plugins, PPDS.Auth, PPDS.Dataverse, PPDS.Migration, PPDS.Cli

codecov.yml:

# Codecov Configuration
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  # Overall project coverage status
  status:
    project:
      default:
        target: 60%
        threshold: 5%  # Allow 5% drop before failing
        informational: true  # Don't block PRs (visibility only for now)

    # Patch coverage - new code should be well-tested
    patch:
      default:
        target: 80%
        informational: true  # Don't block PRs (visibility only for now)

  # Per-package thresholds using component system
  # These match the targets defined in issue #55

# Component-based coverage tracking
component_management:
  default_rules:
    statuses:
      - type: project
        informational: true
      - type: patch
        informational: true

  individual_components:
    - component_id: plugins
      name: PPDS.Plugins
      paths:
        - src/PPDS.Plugins/**
      statuses:
        - type: project
          target: 95%

    - component_id: auth
      name: PPDS.Auth
      paths:
        - src/PPDS.Auth/**
      statuses:
        - type: project
          target: 70%

    - component_id: dataverse
      name: PPDS.Dataverse
      paths:
        - src/PPDS.Dataverse/**
      statuses:
        - type: project
          target: 60%

    - component_id: migration
      name: PPDS.Migration
      paths:
        - src/PPDS.Migration/**
      statuses:
        - type: project
          target: 50%

    - component_id: cli
      name: PPDS.Cli
      paths:
        - src/PPDS.Cli/**
      statuses:
        - type: project
          target: 60%

# Ignore test projects and generated files
ignore:
  - "tests/**"
  - "**/obj/**"
  - "**/bin/**"
  - "**/*.g.cs"
  - "**/*.Designer.cs"

# PR comment configuration
comment:
  layout: "header, diff, components, footer"
  behavior: default
  require_changes: true  # Only comment when coverage changes

fix: skip CI workflows for docs-only changes
  .github/workflows/build.yml
  .github/workflows/integration-tests.yml
  .github/workflows/test.yml
Due: none

chore: add gh issue create to allowlist
  .claude/settings.json
Due: none

chore: slim CLAUDE.md and consolidate ecosystem commands
  .claude/commands/create-issue.md
  .claude/commands/design-session.md
  .claude/commands/handoff.md
  .claude/commands/install-cli.md
  .claude/commands/ppds-help.md
  .claude/commands/prune.md
  .claude/commands/retrospective.md
  .claude/commands/setup-ecosystem.md
  .claude/commands/setup-terminal.md
  .claude/commands/test-cli.md
  CLAUDE.md
  scripts/Install-PpdsTerminalProfile.ps1
Due: none

fix: use paths instead of paths-ignore for workflow triggers
  .github/workflows/build.yml
  .github/workflows/integration-tests.yml
  .github/workflows/test.yml
Due: none

fix: remove Start-Sleep from ppdsw, use chained wt args
  scripts/Install-PpdsTerminalProfile.ps1
Due: none

docs: add design doc for bypass plugins and mapping fixes
  .claude/design.md
Due: none

refactor: extract ApplyBypassOptions to shared extension method
  src/PPDS.Migration/Import/DeferredFieldProcessor.cs
  src/PPDS.Migration/Import/OrganizationRequestExtensions.cs
  src/PPDS.Migration/Import/RelationshipProcessor.cs
  src/PPDS.Migration/Import/TieredImporter.cs
Due: PPDS.Migration

docs: add design doc for plugin traces (Phase 3)
  .claude/design.md
Due: none

fix: address Gemini code review findings
  .claude/design.md
  src/PPDS.Cli/Commands/PluginTraces/ListCommand.cs
  src/PPDS.Dataverse/Services/PluginTraceService.cs
  src/PPDS.Dataverse/Services/TimelineHierarchyBuilder.cs
Due: PPDS.Dataverse, PPDS.Cli

fix: address code scanning findings from bot review
  src/PPDS.Cli/Commands/PluginTraces/ListCommand.cs
  src/PPDS.Cli/Commands/PluginTraces/SettingsCommand.cs
  src/PPDS.Dataverse/Services/TimelineHierarchyBuilder.cs
Due: PPDS.Dataverse, PPDS.Cli

fix: address bot review comments for TUI implementation
  src/PPDS.Cli/Commands/InteractiveCommand.cs
  src/PPDS.Cli/Tui/PpdsApplication.cs
  src/PPDS.Cli/Tui/Screens/SqlQueryScreen.cs
  src/PPDS.Cli/Tui/Views/QueryResultsTableView.cs
Due: PPDS.Cli

feat: migrate interactive mode to Terminal.Gui TUI framework (#242)
  .claude/design.md
  CLAUDE.md
  docs/adr/0024_SHARED_LOCAL_STATE.md
  docs/adr/0025_UI_AGNOSTIC_PROGRESS.md
  docs/adr/0026_STRUCTURED_ERROR_MODEL.md
  src/PPDS.Cli/Commands/InteractiveCommand.cs
  src/PPDS.Cli/PPDS.Cli.csproj
  src/PPDS.Cli/Tui/MainWindow.cs
  src/PPDS.Cli/Tui/PpdsApplication.cs
  src/PPDS.Cli/Tui/Screens/SqlQueryScreen.cs
  src/PPDS.Cli/Tui/Views/QueryResultConverter.cs
  src/PPDS.Cli/Tui/Views/QueryResultsTableView.cs
  tests/PPDS.Cli.Tests/Tui/Views/QueryResultConverterTests.cs
Due: PPDS.Cli

chore: enhance triage workflow with autonomous analysis and batch planning (#245)
  .claude/commands/create-issue.md
  .claude/commands/plan-work.md
  .claude/commands/triage.md
  .claude/settings.json
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  CLAUDE.md
Due: none

feat: enhance /setup-ecosystem with integrated wizard (#248)
  .claude/commands/setup-ecosystem.md
Due: none

fix: address bot review comments on analyzers
  src/PPDS.Analyzers/Rules/NoSyncOverAsyncAnalyzer.cs
  src/PPDS.Analyzers/Rules/UseEarlyBoundEntitiesAnalyzer.cs
Due: none

docs: add ADR-0016 file format policy and ADR-0017 git branching
  CLAUDE.md
  docs/adr/0016_FILE_FORMAT_POLICY.md
  docs/adr/0017_GIT_BRANCHING_STRATEGY.md
Due: none

docs: add ADR-0016 file format policy and ADR-0017 git branching (#249)
  CLAUDE.md
  docs/adr/0016_FILE_FORMAT_POLICY.md
  docs/adr/0017_GIT_BRANCHING_STRATEGY.md
Due: none

chore: add analyzer triage process and refine PPDS013
  .github/CODE_SCANNING.md
  src/PPDS.Analyzers/Rules/NoFireAndForgetInCtorAnalyzer.cs
Due: none

docs: add NUL file handling to prune command
  .claude/commands/prune.md
Due: none

docs: add NUL file handling to prune command (#250)
  .claude/commands/prune.md
Due: none

fix: remove unused variable in PPDS013 analyzer
  src/PPDS.Analyzers/Rules/NoFireAndForgetInCtorAnalyzer.cs
Due: none

feat: add git branch to status line display (#251)
  .claude/commands/setup-ecosystem.md
Due: none

docs: add /create-worktree command and plan mode integration
  .claude/commands/create-worktree.md
  .claude/commands/plan-work.md
  .claude/commands/start-work.md
  docs/adr/0017_GIT_BRANCHING_STRATEGY.md
Due: none

docs: fix create-worktree examples per bot review
  .claude/commands/create-worktree.md
Due: none

docs: add /create-worktree command and plan mode integration (#253)
  .claude/commands/create-worktree.md
  .claude/commands/plan-work.md
  .claude/commands/start-work.md
  docs/adr/0017_GIT_BRANCHING_STRATEGY.md
Due: none

fix: throttle M2M relationship progress logging (#266)
  src/PPDS.Migration/Import/RelationshipProcessor.cs
Due: PPDS.Migration

chore: remove design doc before PR
  .claude/design.md
Due: none

feat: add overall progress indicator during import (#267)
  src/PPDS.Migration/Progress/ConsoleProgressReporter.cs
  src/PPDS.Migration/Progress/ProgressEventArgs.cs
Due: PPDS.Migration

feat: add per-entity breakdown and phase timing to summary JSON (#269, #270)
  src/PPDS.Migration/Progress/ImportOutputManager.cs
Due: PPDS.Migration

feat: integrate progress checkpoints, overall progress, and phase timing
  src/PPDS.Migration/Import/ImportResult.cs
  src/PPDS.Migration/Import/TieredImporter.cs
Due: PPDS.Migration

feat: add OutputManager property for progress checkpoints (#268)
  src/PPDS.Migration/Import/ImportContext.cs
Due: PPDS.Migration

docs: add MCP server architecture and multi-interface development ADRs
  .claude/commands/new-feature.md
  .claude/design.md
  docs/adr/0018_MCP_SERVER_ARCHITECTURE.md
  docs/adr/0027_MULTI_INTERFACE_DEVELOPMENT.md
Due: none

feat: add shared OperationClock for synchronized elapsed time (ADR-0027)
  docs/adr/0025_UI_AGNOSTIC_PROGRESS.md
  docs/adr/0027_OPERATION_CLOCK.md
  src/PPDS.Cli/Commands/Data/ImportCommand.cs
  src/PPDS.Cli/Infrastructure/ElapsedTimeConsoleFormatter.cs
  src/PPDS.Migration/Progress/ConsoleProgressReporter.cs
  src/PPDS.Migration/Progress/OperationClock.cs
Due: PPDS.Migration, PPDS.Cli

docs: add Status column to /new-feature interface matrix
  .claude/commands/new-feature.md
Due: none

fix: use batch GraphQL query for dependency checking
  .claude/commands/next-work.md
Due: none

feat: add /next-work command for intelligent work recommendations (#291)
  .claude/commands/next-work.md
Due: none

feat: add throttle stats, warnings array, and seed init tracking
  src/PPDS.Dataverse/CHANGELOG.md
  src/PPDS.Dataverse/Pooling/PoolStatistics.cs
  src/PPDS.Dataverse/Pooling/SeedInitializationResult.cs
  src/PPDS.Dataverse/Resilience/IThrottleTracker.cs
  src/PPDS.Dataverse/Resilience/ThrottleTracker.cs
  src/PPDS.Migration/CHANGELOG.md
  src/PPDS.Migration/Import/ImportResult.cs
  src/PPDS.Migration/Import/TieredImporter.cs
  src/PPDS.Migration/Progress/IWarningCollector.cs
  src/PPDS.Migration/Progress/ImportOutputManager.cs
  src/PPDS.Migration/Progress/ImportWarning.cs
  src/PPDS.Migration/Progress/WarningCollector.cs
  tests/PPDS.Dataverse.IntegrationTests/Mocks/FakeThrottleTracker.cs
  tests/PPDS.Dataverse.Tests/Resilience/ThrottleTrackerTests.cs
  tests/PPDS.Migration.Tests/Progress/WarningCollectorTests.cs
Due: PPDS.Dataverse, PPDS.Migration

feat(mcp): add PPDS.Mcp server with 12 read-only Dataverse tools
  PPDS.Sdk.sln
  src/PPDS.Mcp/Infrastructure/IMcpConnectionPoolManager.cs
  src/PPDS.Mcp/Infrastructure/McpConnectionPoolManager.cs
  src/PPDS.Mcp/Infrastructure/McpToolContext.cs
  src/PPDS.Mcp/Infrastructure/ProfileConnectionSourceAdapter.cs
  src/PPDS.Mcp/PPDS.Mcp.csproj
  src/PPDS.Mcp/Program.cs
  src/PPDS.Mcp/Tools/AuthWhoTool.cs
  src/PPDS.Mcp/Tools/DataAnalyzeTool.cs
  src/PPDS.Mcp/Tools/DataSchemaTool.cs
  src/PPDS.Mcp/Tools/EnvListTool.cs
  src/PPDS.Mcp/Tools/EnvSelectTool.cs
  src/PPDS.Mcp/Tools/MetadataEntityTool.cs
  src/PPDS.Mcp/Tools/PluginTracesGetTool.cs
  src/PPDS.Mcp/Tools/PluginTracesListTool.cs
  src/PPDS.Mcp/Tools/PluginTracesTimelineTool.cs
  src/PPDS.Mcp/Tools/PluginsListTool.cs
  src/PPDS.Mcp/Tools/QueryFetchTool.cs
  src/PPDS.Mcp/Tools/QuerySqlTool.cs
  tests/PPDS.Mcp.Tests/Infrastructure/McpConnectionPoolManagerTests.cs
  tests/PPDS.Mcp.Tests/Infrastructure/McpToolContextTests.cs
  tests/PPDS.Mcp.Tests/PPDS.Mcp.Tests.csproj
  tests/PPDS.Mcp.Tests/Tools/DataSchemaToolTests.cs
  tests/PPDS.Mcp.Tests/Tools/QueryFetchToolTests.cs
  tests/PPDS.Mcp.Tests/Tools/QuerySqlToolTests.cs
Due: none
