Repository joshsmithxrm/ppds-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: PPDS.Plugins, PPDS.Auth, PPDS.Dataverse, PPDS.Migration, PPDS.Cli

codecov.yml:

# Codecov Configuration
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  # Overall project coverage status
  status:
    project:
      default:
        target: 60%
        threshold: 5%  # Allow 5% drop before failing
        informational: true  # Don't block PRs (visibility only for now)

    # Patch coverage - new code should be well-tested
    patch:
      default:
        target: 80%
        informational: true  # Don't block PRs (visibility only for now)

  # Per-package thresholds using component system
  # These match the targets defined in issue #55

# Component-based coverage tracking
component_management:
  default_rules:
    statuses:
      - type: project
        informational: true
      - type: patch
        informational: true

  individual_components:
    - component_id: plugins
      name: PPDS.Plugins
      paths:
        - src/PPDS.Plugins/**
      statuses:
        - type: project
          target: 95%

    - component_id: auth
      name: PPDS.Auth
      paths:
        - src/PPDS.Auth/**
      statuses:
        - type: project
          target: 70%

    - component_id: dataverse
      name: PPDS.Dataverse
      paths:
        - src/PPDS.Dataverse/**
      statuses:
        - type: project
          target: 60%

    - component_id: migration
      name: PPDS.Migration
      paths:
        - src/PPDS.Migration/**
      statuses:
        - type: project
          target: 50%

    - component_id: cli
      name: PPDS.Cli
      paths:
        - src/PPDS.Cli/**
      statuses:
        - type: project
          target: 60%

# Ignore test projects and generated files
ignore:
  - "tests/**"
  - "**/obj/**"
  - "**/bin/**"
  - "**/*.g.cs"
  - "**/*.Designer.cs"

# PR comment configuration
comment:
  layout: "header, diff, components, footer"
  behavior: default
  require_changes: true  # Only comment when coverage changes

feat(query): implement GetTotalRecordCountAsync in QueryExecutor
  src/PPDS.Dataverse/Query/QueryExecutor.cs
  tests/PPDS.Dataverse.Tests/Query/QueryExecutorTests.cs
Due: PPDS.Dataverse

feat(tui): add resizable query editor with keyboard and mouse drag (Phase 6)
  src/PPDS.Cli/Tui/Screens/SqlQueryScreen.cs
  src/PPDS.Cli/Tui/Testing/States/SqlQueryScreenState.cs
  src/PPDS.Cli/Tui/Views/SplitterView.cs
Due: PPDS.Cli

feat(query): add GetMinMaxCreatedOnAsync for aggregate partitioning
  src/PPDS.Dataverse/Query/IQueryExecutor.cs
  src/PPDS.Dataverse/Query/QueryExecutor.cs
  tests/PPDS.Dataverse.Tests/Query/QueryExecutorTests.cs
Due: PPDS.Dataverse

fix: address all code review issues for SQL IntelliSense
  src/PPDS.Cli/Infrastructure/Errors/ErrorCodes.cs
  src/PPDS.Cli/Services/SqlLanguageService.cs
  src/PPDS.Cli/Tui/InteractiveSession.cs
  src/PPDS.Cli/Tui/Views/AutocompletePopup.cs
  src/PPDS.Cli/Tui/Views/SyntaxHighlightedTextView.cs
  src/PPDS.Dataverse/Metadata/CachedMetadataProvider.cs
  src/PPDS.Dataverse/Sql/Intellisense/SqlCompletionEngine.cs
  src/PPDS.Dataverse/Sql/Intellisense/SqlCursorContext.cs
  src/PPDS.Dataverse/Sql/Intellisense/SqlSourceTokenizer.cs
Due: PPDS.Dataverse, PPDS.Cli

fix(query): fix plan doc task count and add dry-run test
  docs/plans/2026-02-08-query-engine-v2-fixes.md
  tests/PPDS.Cli.Tests/Services/Query/SqlQueryServiceTests.cs
Due: none

feat(query): enable prefetch for TUI query execution
  docs/plans/2026-02-08-enable-prefetch-tui.md
  src/PPDS.Cli/Services/Query/SqlQueryRequest.cs
  src/PPDS.Cli/Services/Query/SqlQueryService.cs
  src/PPDS.Cli/Tui/Screens/SqlQueryScreen.cs
Due: PPDS.Cli

fix(query): add script DML detection and flatten AggregateException
  src/PPDS.Cli/Services/Query/DmlSafetyGuard.cs
  src/PPDS.Dataverse/Query/Planning/Nodes/ParallelPartitionNode.cs
  tests/PPDS.Cli.Tests/Services/Query/DmlSafetyGuardTests.cs
Due: PPDS.Dataverse, PPDS.Cli

fix(tui): cache color schemes, fix hotkey alt check, broaden exception handling
  src/PPDS.Cli/Tui/Infrastructure/HotkeyRegistry.cs
  src/PPDS.Cli/Tui/Infrastructure/TuiColorPalette.cs
  src/PPDS.Cli/Tui/Views/QueryResultsTableView.cs
Due: PPDS.Cli

fix(auth): add disposal guards, empty-string-clears, typed catches, use interface
  src/PPDS.Auth/Profiles/EnvironmentConfigStore.cs
  src/PPDS.Cli/Commands/Env/EnvCommandGroup.cs
  src/PPDS.Cli/Tui/Dialogs/EnvironmentConfigDialog.cs
  src/PPDS.Cli/Tui/Dialogs/EnvironmentSelectorDialog.cs
  tests/PPDS.Cli.Tests/Services/Environment/EnvironmentConfigStoreTests.cs
Due: PPDS.Auth, PPDS.Cli

docs: add code review fixes implementation plan
  docs/plans/2026-02-08-code-review-fixes.md
Due: none

fix(tui): change query editor resize keybinding to Alt+Up/Down
  src/PPDS.Cli/Tui/Screens/SqlQueryScreen.cs
Due: PPDS.Cli

chore(intellisense): remove per-keystroke debug logging, keep lifecycle logs
  src/PPDS.Cli/Tui/Views/SyntaxHighlightedTextView.cs
Due: PPDS.Cli

refactor(query): wire AdaptiveAggregateScanNode into partitioned aggregate plans
  src/PPDS.Dataverse/Query/Planning/QueryPlanner.cs
Due: PPDS.Dataverse

refactor(query): remove aggregate-limit wrapping from ParallelPartitionNode
  src/PPDS.Dataverse/Query/Planning/Nodes/ParallelPartitionNode.cs
Due: PPDS.Dataverse

fix(test): update planner tests for AdaptiveAggregateScanNode partition type
  tests/PPDS.Dataverse.Tests/Query/Planning/QueryPlannerTests.cs
Due: none

fix(tui): use consistent DarkGray background for editor cursor
  src/PPDS.Cli/Tui/Views/SyntaxHighlightedTextView.cs
Due: PPDS.Cli

fix: remove dead code identified during code review
  src/PPDS.Cli/Tui/Views/AutocompletePopup.cs
  src/PPDS.Dataverse/Query/Planning/Nodes/ClientWindowNode.cs
  src/PPDS.Dataverse/Query/Planning/Nodes/TdsScanNode.cs
  src/PPDS.Dataverse/Query/TdsCompatibilityChecker.cs
  src/PPDS.Dataverse/Sql/Intellisense/SqlCompletionKind.cs
  tests/PPDS.Dataverse.Tests/Query/Planning/TdsRoutingTests.cs
  tests/PPDS.Dataverse.Tests/Query/TdsQueryExecutorTests.cs
Due: PPDS.Dataverse, PPDS.Cli

fix(query): address critical thread safety, exception handling, and interface issues
  src/PPDS.Dataverse/Query/Execution/IExpressionEvaluator.cs
  src/PPDS.Dataverse/Query/Planning/Nodes/DmlExecuteNode.cs
  src/PPDS.Dataverse/Query/Planning/Nodes/FetchXmlScanNode.cs
  src/PPDS.Dataverse/Query/Planning/Nodes/ParallelPartitionNode.cs
  src/PPDS.Dataverse/Query/Planning/Nodes/ScriptExecutionNode.cs
  src/PPDS.Dataverse/Query/Planning/QueryPlanStatistics.cs
  tests/PPDS.Dataverse.Tests/Query/Planning/TdsRoutingTests.cs
Due: PPDS.Dataverse

fix: address IntelliSense, auth, and environment detection issues
  src/PPDS.Auth/Credentials/UsernamePasswordCredentialProvider.cs
  src/PPDS.Cli/Services/Environment/EnvironmentConfigService.cs
  src/PPDS.Cli/Tui/Infrastructure/EnvironmentType.cs
  src/PPDS.Cli/Tui/Infrastructure/TuiColorPalette.cs
  src/PPDS.Cli/Tui/Infrastructure/TuiThemeService.cs
  src/PPDS.Dataverse/Metadata/CachedMetadataProvider.cs
  src/PPDS.Dataverse/Sql/Intellisense/SqlValidator.cs
  tests/PPDS.Cli.Tests/Tui/SqlValidatorTests.cs
Due: PPDS.Auth, PPDS.Dataverse, PPDS.Cli

chore: add UsernamePasswordCredentialProvider test and sync .gitignore
  .gitignore
  tests/PPDS.Auth.Tests/Credentials/UsernamePasswordCredentialProviderTests.cs
Due: none

docs: add Auth DI registration implementation plan
  docs/plans/2026-02-09-auth-di-registration.md
Due: none

chore(auth): add Microsoft.Extensions.DependencyInjection.Abstractions package reference
  src/PPDS.Auth/PPDS.Auth.csproj
Due: PPDS.Auth

refactor(cli): use AddAuthServices in AddCliApplicationServices, add IEnvironmentConfigService registration
  src/PPDS.Cli/Services/ServiceRegistration.cs
Due: PPDS.Cli

refactor(auth): migrate AuthCommandGroup to resolve stores from DI
  src/PPDS.Cli/Commands/Auth/AuthCommandGroup.cs
Due: PPDS.Cli

refactor(cli): migrate EnvCommandGroup to resolve stores from DI
  src/PPDS.Cli/Commands/Env/EnvCommandGroup.cs
Due: PPDS.Cli

refactor(mcp): register auth services in Host DI and inject into McpToolContext
  src/PPDS.Mcp/Infrastructure/McpToolContext.cs
  src/PPDS.Mcp/Program.cs
  tests/PPDS.Mcp.Tests/Infrastructure/McpToolContextTests.cs
  tests/PPDS.Mcp.Tests/Tools/DataSchemaToolTests.cs
  tests/PPDS.Mcp.Tests/Tools/QueryFetchToolTests.cs
  tests/PPDS.Mcp.Tests/Tools/QuerySqlToolTests.cs
Due: none

refactor(mcp): inject ProfileStore into McpConnectionPoolManager
  src/PPDS.Mcp/Infrastructure/McpConnectionPoolManager.cs
  tests/PPDS.Mcp.Tests/Infrastructure/McpConnectionPoolManagerTests.cs
Due: none

refactor(tui): inject EnvironmentConfigStore into InteractiveSession via DI
  src/PPDS.Cli/Tui/InteractiveSession.cs
  src/PPDS.Cli/Tui/PpdsApplication.cs
Due: PPDS.Cli

fix(tui): improve tab UX — contrast, escape behavior, and dispose guard
  src/PPDS.Cli/Tui/Dialogs/EnvironmentDetailsDialog.cs
  src/PPDS.Cli/Tui/Dialogs/ProfileCreationDialog.cs
  src/PPDS.Cli/Tui/Infrastructure/TuiColorPalette.cs
  src/PPDS.Cli/Tui/Screens/SqlQueryScreen.cs
  tests/PPDS.Cli.Tests/Tui/Infrastructure/TuiColorPaletteTests.cs
Due: PPDS.Cli

fix: remove redundant SqlSelectStatement casts in QueryPlannerTests
  tests/PPDS.Dataverse.Tests/Query/Planning/QueryPlannerTests.cs
Due: none

fix: remove useless local variable assignments
  src/PPDS.Cli/Tui/Dialogs/EnvironmentDetailsDialog.cs
  src/PPDS.Cli/Tui/TuiShell.cs
  src/PPDS.Cli/Tui/Views/SyntaxHighlightedTextView.cs
  src/PPDS.Dataverse/Query/TdsQueryExecutor.cs
  tests/PPDS.Dataverse.Tests/Query/Planning/Nodes/AdaptiveAggregateScanNodeTests.cs
  tests/PPDS.Dataverse.Tests/Query/Planning/Nodes/FetchXmlScanNodeTests.cs
  tests/PPDS.Dataverse.Tests/Query/Planning/Nodes/MetadataScanNodeTests.cs
  tests/PPDS.Dataverse.Tests/Query/Planning/Nodes/ParallelPartitionNodeTests.cs
  tests/PPDS.Dataverse.Tests/Query/Planning/Nodes/PrefetchScanNodeTests.cs
Due: PPDS.Dataverse, PPDS.Cli

fix: ensure disposables are cleaned up on test assertion failure
  tests/PPDS.Auth.Tests/Credentials/CredentialProviderFactoryTests.cs
  tests/PPDS.Cli.Tests/Tui/CachedMetadataProviderTests.cs
  tests/PPDS.Cli.Tests/Tui/Infrastructure/TabManagerTests.cs
  tests/PPDS.Dataverse.Tests/Pooling/ConnectionStringSourceTests.cs
  tests/PPDS.Dataverse.Tests/Pooling/DataverseConnectionPoolTests.cs
Due: none

fix: use ReferenceEquals for intentional reference comparisons
  src/PPDS.Cli/Tui/Infrastructure/HotkeyRegistry.cs
  src/PPDS.Cli/Tui/Views/QueryResultsTableView.cs
Due: PPDS.Cli

fix: handle floating-point equality comparisons for SQL semantics
  src/PPDS.Dataverse/Query/Execution/ExpressionEvaluator.cs
  src/PPDS.Dataverse/Query/Execution/Functions/CastConverter.cs
Due: PPDS.Dataverse

docs: add CodeQL cleanup implementation plan
  docs/plans/2026-02-09-codeql-cleanup.md
Due: none

style: fix indentation of new PackageReference entries
  src/PPDS.Dataverse/PPDS.Dataverse.csproj
Due: PPDS.Dataverse

fix: resolve Claude Code auto-login and marketplace initialization
  .devcontainer/devcontainer.json
  .devcontainer/setup.sh
Due: none

feat: add devcontainer for Linux-based development (#526)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/setup.sh
  scripts/devcontainer.ps1
Due: none

fix: enforce LF line endings for devcontainer files
  .devcontainer/devcontainer.json
  .editorconfig
  .gitattributes
Due: none

fix: devcontainer CRLF line endings, image naming, and review cleanup (#527)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .editorconfig
  .gitattributes
  scripts/devcontainer.ps1
Due: none
